config TCC_VIOC_CONTROLLER
	bool "Telechips TCC support VIOC controller"
	depends on FB && ARCH_TCC
	default y

	help
	  TCC VIOC controller 

	  If unsure, say N.

config VIOC_10BIT
	bool"support 10bit format support in VIOC"
	depends on ((TCC_VIOC_CONTROLLER)&&(ARCH_TCC898X || ARCH_TCC899X || ARCH_TCC901X))
	default y
	help
		This is support LCD CVBS display

config VIOC_MAP_DECOMP
	bool "VIOC MAP Decompressor support for HEVC"
	depends on (ARCH_TCC803X || ARCH_TCC899X || ARCH_TCC898X || ARCH_TCC896X || ARCH_TCC901X)
	default y

	help
	  TCC VIOC MAP CONVERTER Block. 
	  Decompress  HEVC compressed data.

	  If unsure, say N.

if VIOC_MAP_DECOMP
config MC_WORKAROUND
	bool"MC Work-Around until CS chip"
    depends on (ARCH_TCC899X || ARCH_TCC901X)
    default y
    help
        MC Work-Around until CS chip
endif

config VIOC_DTRC_DECOMP
	bool "VIOC DTRC Decompressor support for VP9"
	depends on (ARCH_TCC898X)
	default y
	help
		TCC VIOC DTRC CONVERTER Block / Decompress VP9 compressed data.
		If unsure, say N.

config VIOC_AFBCDEC
    bool "Enable AFBC decoder"
    depends on (ARCH_TCC803X || ARCH_TCC899X || ARCH_TCC901X) && MALI_MIDGARD
    default n
    help
        TCC AFBC Decoder

config VIOC_PIXEL_MAPPER
    bool "Support VIOC PIXEL MAPPER(3D LUT)"
    depends on (ARCH_TCC899X || ARCH_TCC901X)
    default y
    help
        This is 3D LUT block in VIOC.

config VIOC_2D_FILTER
    bool "Support VIOC 2D FILTER"
    depends on (ARCH_TCC899X || ARCH_TCC901X)
    default y
    help
        This is 2D Filter block in VIOC.

config VIOC_CHROMA_INTERPOLATOR
    bool "Support VIOC Chroma Interpolator"
    depends on (ARCH_TCC899X || ARCH_TCC901X)
    default y
    help
        This is Chroma Interpolator block in VIOC.


config VIOC_SAR
    bool "Support SAR (SD deblocker)"
    depends on (ARCH_TCC899X || ARCH_TCC901X)
    default n
    help
        This is Image Deblocker block in VIOC.


