# drivers/media/platform/videosource/videodecoder/Kconfig
#
# Copyright (c) 2010-2011 Telechips Co., Ltd.
#	http://www.telechips.com/
# Jay <B150095@telechips.com>
#
# Licensed under GPL

config VIDEO_VIDEOSOURCE_VIDEODECODER_ADV7182
	bool "Analog Devices - ADV7182"
	depends on VIDEO_VIDEOSOURCE

config VIDEO_VIDEOSOURCE_VIDEODECODER_DM5886
	bool "Davicom - DM5886"
	depends on VIDEO_VIDEOSOURCE

config VIDEO_VIDEOSOURCE_VIDEODECODER_ISL79988
	bool "Intersil - ISL79988"
	depends on VIDEO_VIDEOSOURCE

config VIDEO_VIDEOSOURCE_VIDEODECODER_DS90UB964
	bool "TI - DS90UB964"
	depends on VIDEO_VIDEOSOURCE

config VIDEO_VIDEOSOURCE_VIDEODECODER_MAX9286
	bool "MAXIM - MAX9286"
	depends on VIDEO_VIDEOSOURCE

config MIPI_OUTPUT_TYPE_LINE_CONCAT
	bool "MIPI-CSI2 output type - LINE CONCAT"
	depends on VIDEO_VIDEOSOURCE_VIDEODECODER_DS90UB964 || VIDEO_VIDEOSOURCE_VIDEODECODER_MAX9286
