# arch/arm/mach-tcc803x/Kconfig
#
# Configuration options for the TCC803X SoCs

menuconfig ARCH_TCC803X
	bool "TCC803x"
	select AEABI
	select CPU_V7
	select VFP
	select NEON
	select USE_OF
	select ARM_GIC
	select GENERIC_IRQ_CHIP
	select ARM_AMBA
	select HAVE_ARM_SCU if SMP && !TCC803X_CA7S
	select HAVE_SMP if !TCC803X_CA7S
	select CLKDEV_LOOKUP
	select CLKSRC_MMIO
	select CLKSRC_OF
	select COMMON_CLK
	select HAVE_ARM_ARCH_TIMER
	select ARCH_HAS_OPP
	select PM_OPP if PM
	select PM_GENERIC_DOMAINS
	select USB_ARCH_HAS_XHCI
	select PINCTRL_TCC
	select USB_ARCH_HAS_EHCI if USB_SUPPORT
	select USB_ARCH_HAS_OHCI if USB_SUPPORT
	select SOC_TCC
	select MIGHT_HAVE_PCI
	select PCI_DOMAINS if PCI

config TCC803X_CA7S
	bool "Build for TCC803X Cortex-A7 Single Core"
	depends on ARCH_TCC803X
	help
	  Select this option building a kernel for TCC803X Cortex-A7 Single Core.
