#
# General setup
#
CONFIG_POSIX_MQUEUE=y
CONFIG_USELIB=y

#
# RCU Subsystem
#
# allow user to access kernel config through /proc/config.gz
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y
CONFIG_LOG_BUF_SHIFT=16
CONFIG_MEMCG=y
CONFIG_NAMESPACES=y

#
# Kernel Performance Events And Counters
#
CONFIG_PROFILING=y

#
# CPU Core family selection
#

#
# Processor Features
#
# CONFIG_CACHE_L2X0 is not set

#
# Bus support
#
# CONFIG_PCI is not set
# CONFIG_PCI_DOMAINS_GENERIC is not set
# CONFIG_PCI_SYSCALL is not set

#
# Kernel Features
#
CONFIG_MCPM=y
CONFIG_NR_CPUS=4
# CONFIG_PREEMPT_NONE is not set
CONFIG_PREEMPT=y
CONFIG_PREEMPT_COUNT=y
CONFIG_AEABI=y
CONFIG_HIGHMEM=y
CONFIG_FORCE_MAX_ZONEORDER=12

#
# Boot options
#
# CONFIG_ATAGS is not set
CONFIG_ZBOOT_ROM_TEXT=0x0
CONFIG_ZBOOT_ROM_BSS=0x0
# CONFIG_KEXEC is not set
# CONFIG_EFI is not set

#
# CPU Power Management
#

#
# CPU Frequency scaling
#
# CONFIG_CPU_FREQ is not set

#
# CPU Idle
#
# CONFIG_CPU_IDLE is not set

#
# Floating point emulation
#
CONFIG_VFP=y

#
# Networking options
#
CONFIG_DNS_RESOLVER=y

#
# CAN Device Drivers
#

#
# CAN SPI interfaces
#
# CONFIG_CAN_MCP251X is not set

#
# CAN USB interfaces
#

#
# Bluetooth device drivers
#

#
# Device Drivers
#

#
# Generic Driver Options
#
CONFIG_FW_LOADER_USER_HELPER_FALLBACK=y

#
# Default contiguous memory area size:
#
CONFIG_CMA_SIZE_MBYTES=128

#
# Disk-On-Chip Device Drivers
#

#
# LPDDR & LPDDR2 PCM memory drivers
#
CONFIG_OF_RESOLVE=y
CONFIG_OF_OVERLAY=y
CONFIG_OF_CONFIGFS=y

#
# Misc devices
#
CONFIG_SRAM=y

#
# SCSI support type (disk, tape, CD-ROM)
#
CONFIG_CHR_DEV_SG=y

#
# MII PHY device drivers
#
# CONFIG_REALTEK_PHY is not set

#
# Input Device Drivers
#

#
# Character devices
#
CONFIG_SERIAL_NONSTANDARD=y

#
# Serial drivers
#
# CONFIG_SERIAL_8250 is not set

#
# Non-8250 serial port support
#
# CONFIG_SERIAL_BCM63XX is not set
# CONFIG_SERIAL_XILINX_PS_UART is not set
# CONFIG_SERIAL_FSL_LPUART is not set
# CONFIG_SERIAL_CONEXANT_DIGICOLOR is not set
# CONFIG_SERIAL_ST_ASC is not set
# CONFIG_VIRTIO_CONSOLE is not set

#
# I2C Hardware Bus support
#
# CONFIG_I2C_DESIGNWARE_PLATFORM is not set
# CONFIG_I2C_EMEV2 is not set
# CONFIG_I2C_GPIO is not set
# CONFIG_I2C_RK3X is not set
# CONFIG_I2C_XILINX is not set

#
# Other I2C/SMBus bus drivers
#
# CONFIG_I2C_SLAVE_EEPROM is not set

#
# SPI Master Controller Drivers
#

#
# Pin controllers
#

#
# Memory mapped GPIO drivers
#

#
# USB GPIO expanders
#
# CONFIG_POWER_AVS is not set
CONFIG_POWER_RESET=y
CONFIG_POWER_RESET_SYSCON=y
CONFIG_SYSCON_REBOOT_MODE=y
# CONFIG_POWER_SUPPLY is not set

#
# Native drivers
#
CONFIG_SENSORS_IIO_HWMON=y
CONFIG_THERMAL=y

#
# STMicroelectronics thermal drivers
#



#
# Watchdog Device Drivers
#


#
# Sonics Silicon Backplane
#

#
# Multifunction device drivers
#
CONFIG_PROTECTION_CONSUMER=y

#
# STMicroelectronics STMPE Interface Drivers
#
# CONFIG_REGULATOR_WM8994 is not set

#
# Multimedia core support
#

#
# USB HDMI CEC adapters
#

#
# Media ancillary drivers (tuners, sensors, i2c, spi, frontends)
#
# CONFIG_MEDIA_SUBDRV_AUTOSELECT is not set

#
# Camera sensor devices
#

#
# Graphics support
#
# to solve issue on DK2 screen
# CONFIG_DRM_FBDEV_EMULATION is not set
# CONFIG_DRM_LOAD_EDID_FIRMWARE is not set

#
# Sub-drivers
#

#
# Display Panels
#

#
# Display Interface Bridges
#

#
# Frame buffer hardware drivers
#

#
# Console display driver support
#

#
# HD-Audio
#

#
# CODEC drivers
#


#
# USB Device Class drivers
#

#
# also be needed; see USB_STORAGE Help for more info
#

#
# USB Imaging devices
#
# CONFIG_USB_MUSB_HDRC is not set
# CONFIG_USB_DWC3 is not set

#
# Gadget/Dual-role mode requires USB Gadget support to be enabled
#

#
# USB Physical Layer drivers
#

#
# Platform Support
#

#
# Virtio drivers
#

#
# Clock Source drivers
#

#
# Rpmsg drivers
#

#
# File systems
#
CONFIG_OVERLAY_FS=y

#
# Pseudo filesystems
#
CONFIG_TMPFS=y

#
# Kernel hacking
#

#
# printk and dmesg options
#
CONFIG_DYNAMIC_DEBUG=y

#
# Compile-time checks and compiler options
#
CONFIG_DEBUG_INFO=y
CONFIG_GDB_SCRIPTS=y
CONFIG_DEBUG_SECTION_MISMATCH=y

#
# Debug Lockups and Hangs
#
# CONFIG_SCHED_DEBUG is not set
CONFIG_DEBUG_PREEMPT=y

#
# Runtime Testing
#

# Security options
#
CONFIG_KEYS=y


#
# Library routines
#
CONFIG_CRC_ITU_T=m

#
# STM32 PWR
#
CONFIG_MFD_STM32MP1_PWR=y
CONFIG_REGULATOR_STM32_PWR=y

#
# STPMIC1
#
CONFIG_MFD_STPMIC1=y
CONFIG_REGULATOR_STPMIC1=y
CONFIG_STPMIC1_WATCHDOG=y
CONFIG_INPUT_STPMIC1_ONKEY=y

