diff --git arch/arm/boot/dts/tcc/tcc8031-android-avn.dtsi arch/arm/boot/dts/tcc/tcc8031-android-avn.dtsi
index 44fc3a4..4e0474b 100644
--- arch/arm/boot/dts/tcc/tcc8031-android-avn.dtsi
+++ arch/arm/boot/dts/tcc/tcc8031-android-avn.dtsi
@@ -1284,15 +1284,11 @@
 /* SD CARD */
 &sdhc1 {
 	status = "okay";
-#ifndef CONFIG_MMC_SDHCI_TCC_MODULE_ONLY
-	compatible = "telechips,tcc-sdhci";
-#else
 	/*
 	 * In order to reduce boot time,
 	 * we use the driver as module not built-in.
 	 */
 	compatible = "telechips,tcc803x-sdhci,module-only";
-#endif
 	controller-id = <1>;
 	bus-width = <4>;
 	max-frequency = <200000000>;
diff --git arch/arm/boot/dts/tcc/tcc8031-linux-avn.dtsi arch/arm/boot/dts/tcc/tcc8031-linux-avn.dtsi
index df38447..ac86827 100644
--- arch/arm/boot/dts/tcc/tcc8031-linux-avn.dtsi
+++ arch/arm/boot/dts/tcc/tcc8031-linux-avn.dtsi
@@ -1336,13 +1336,11 @@
 	/* SD CARD */
 	sdhc@16450000 {
 		status = "okay";
-#ifdef CONFIG_MMC_SDHCI_TCC_MODULE_ONLY
 		/*
 		 * In order to reduce boot time,
 		 * we use the driver as module not built-in.
 		 */
 		compatible = "telechips,tcc803x-sdhci,module-only";
-#endif
 		bus-width = <4>;
 		max-frequency = <200000000>;
 		pinctrl-names = "default";
diff --git arch/arm/boot/dts/tcc/tcc803xp-android-avn.dtsi arch/arm/boot/dts/tcc/tcc803xp-android-avn.dtsi
index 04b3922..6bd7e3e 100644
--- arch/arm/boot/dts/tcc/tcc803xp-android-avn.dtsi
+++ arch/arm/boot/dts/tcc/tcc803xp-android-avn.dtsi
@@ -1236,15 +1236,11 @@
 /* SD CARD */
 &sdhc2 {
 	status = "okay";
-#ifndef CONFIG_MMC_SDHCI_TCC_MODULE_ONLY
-	compatible = "telechips,tcc-sdhci";
-#else
 	/*
 	 * In order to reduce boot time,
 	 * we use the driver as module not built-in.
 	 */
 	compatible = "telechips,tcc803x-sdhci,module-only";
-#endif
 	controller-id = <2>;
 	bus-width = <4>;
 	max-frequency = <200000000>;
diff --git arch/arm/boot/dts/tcc/tcc803xp-linux-avn.dtsi arch/arm/boot/dts/tcc/tcc803xp-linux-avn.dtsi
index d43a8f0..2fe4175 100644
--- arch/arm/boot/dts/tcc/tcc803xp-linux-avn.dtsi
+++ arch/arm/boot/dts/tcc/tcc803xp-linux-avn.dtsi
@@ -1300,13 +1300,11 @@
 	/* SD CARD */
 	sdhc@16460000 {
 		status = "okay";
-#ifdef CONFIG_MMC_SDHCI_TCC_MODULE_ONLY
 		/*
 		 * In order to reduce boot time,
 		 * we use the driver as module not built-in.
 		 */
 		compatible = "telechips,tcc803x-sdhci,module-only";
-#endif
 		bus-width = <4>;
 		max-frequency = <200000000>;
 		pinctrl-names = "default";
diff --git arch/arm/boot/dts/tcc/tcc8050-android-lpd4x322_sv0.1.dts arch/arm/boot/dts/tcc/tcc8050-android-lpd4x322_sv0.1.dts
index 672a542..4f975ea 100644
--- arch/arm/boot/dts/tcc/tcc8050-android-lpd4x322_sv0.1.dts
+++ arch/arm/boot/dts/tcc/tcc8050-android-lpd4x322_sv0.1.dts
@@ -178,13 +178,11 @@
 
 /* SD slot */
 &sdhc2 {
-#ifdef CONFIG_MMC_SDHCI_TCC_MODULE_ONLY
 	/*
 	 * In order to reduce boot time,
 	 * we use the driver as module not built-in.
 	 */
 	compatible = "telechips,tcc805x-sdhci,module-only";
-#endif
 	status = "okay";
 	pinctrl-names = "default";
 	pinctrl-0 = <&sd2_clk &sd2_cmd &sd2_bus4 &sd1_bus4_wp_cd &sd1_pwr>;
diff --git arch/arm/boot/dts/tcc/tcc8050-android-lpd4x322_sv1.0.dts arch/arm/boot/dts/tcc/tcc8050-android-lpd4x322_sv1.0.dts
index d8aa9ed..cafd7a7 100644
--- arch/arm/boot/dts/tcc/tcc8050-android-lpd4x322_sv1.0.dts
+++ arch/arm/boot/dts/tcc/tcc8050-android-lpd4x322_sv1.0.dts
@@ -178,13 +178,11 @@
 
 /* SD slot */
 &sdhc2 {
-#ifdef CONFIG_MMC_SDHCI_TCC_MODULE_ONLY
 	/*
 	 * In order to reduce boot time,
 	 * we use the driver as module not built-in.
 	 */
 	compatible = "telechips,tcc805x-sdhci,module-only";
-#endif
 	status = "okay";
 	pinctrl-names = "default";
 	pinctrl-0 = <&sd2_clk &sd2_cmd &sd2_bus4 &sd1_bus4_wp_cd &sd1_pwr>;
diff --git arch/arm/boot/dts/tcc/tcc8050-linux-dvrs-lpd4x322_sv0.1.dts arch/arm/boot/dts/tcc/tcc8050-linux-dvrs-lpd4x322_sv0.1.dts
index 9cb9d51..91a16cc 100644
--- arch/arm/boot/dts/tcc/tcc8050-linux-dvrs-lpd4x322_sv0.1.dts
+++ arch/arm/boot/dts/tcc/tcc8050-linux-dvrs-lpd4x322_sv0.1.dts
@@ -241,13 +241,11 @@
 
 /* SD slot */
 &sdhc2 {
-#ifdef CONFIG_MMC_SDHCI_TCC_MODULE_ONLY
 	/*
 	 * In order to reduce boot time,
 	 * we use the driver as module not built-in.
 	 */
 	compatible = "telechips,tcc805x-sdhci,module-only";
-#endif
 	status = "okay";
 	pinctrl-names = "default";
 	pinctrl-0 = <&sd2_clk &sd2_cmd &sd2_bus4 &sd1_bus4_wp_cd &sd1_pwr>;
diff --git arch/arm/boot/dts/tcc/tcc8050-linux-dvrs-lpd4x322_sv1.0.dts arch/arm/boot/dts/tcc/tcc8050-linux-dvrs-lpd4x322_sv1.0.dts
index fa787e7..8f91ed65 100644
--- arch/arm/boot/dts/tcc/tcc8050-linux-dvrs-lpd4x322_sv1.0.dts
+++ arch/arm/boot/dts/tcc/tcc8050-linux-dvrs-lpd4x322_sv1.0.dts
@@ -241,13 +241,11 @@
 
 /* SD slot */
 &sdhc2 {
-#ifdef CONFIG_MMC_SDHCI_TCC_MODULE_ONLY
 	/*
 	 * In order to reduce boot time,
 	 * we use the driver as module not built-in.
 	 */
 	compatible = "telechips,tcc805x-sdhci,module-only";
-#endif
 	status = "okay";
 	pinctrl-names = "default";
 	pinctrl-0 = <&sd2_clk &sd2_cmd &sd2_bus4 &sd1_bus4_wp_cd &sd1_pwr>;
diff --git arch/arm/boot/dts/tcc/tcc8050-linux-lpd4x322_sv0.1.dts arch/arm/boot/dts/tcc/tcc8050-linux-lpd4x322_sv0.1.dts
index 1f6c2c3..237dbcb 100644
--- arch/arm/boot/dts/tcc/tcc8050-linux-lpd4x322_sv0.1.dts
+++ arch/arm/boot/dts/tcc/tcc8050-linux-lpd4x322_sv0.1.dts
@@ -256,13 +256,11 @@
 
 /* SD slot */
 &sdhc2 {
-#ifdef CONFIG_MMC_SDHCI_TCC_MODULE_ONLY
 	/*
 	 * In order to reduce boot time,
 	 * we use the driver as module not built-in.
 	 */
 	compatible = "telechips,tcc805x-sdhci,module-only";
-#endif
 	status = "okay";
 	pinctrl-names = "default";
 	pinctrl-0 = <&sd2_clk &sd2_cmd &sd2_bus4 &sd1_bus4_wp_cd &sd1_pwr>;
diff --git arch/arm/boot/dts/tcc/tcc8050-linux-lpd4x322_sv1.0.dts arch/arm/boot/dts/tcc/tcc8050-linux-lpd4x322_sv1.0.dts
index 79a85dd..ca890bc 100644
--- arch/arm/boot/dts/tcc/tcc8050-linux-lpd4x322_sv1.0.dts
+++ arch/arm/boot/dts/tcc/tcc8050-linux-lpd4x322_sv1.0.dts
@@ -247,13 +247,11 @@
 
 /* SD slot */
 &sdhc2 {
-#ifdef CONFIG_MMC_SDHCI_TCC_MODULE_ONLY
 	/*
 	 * In order to reduce boot time,
 	 * we use the driver as module not built-in.
 	 */
 	compatible = "telechips,tcc805x-sdhci,module-only";
-#endif
 	status = "okay";
 	pinctrl-names = "default";
 	pinctrl-0 = <&sd2_clk &sd2_cmd &sd2_bus4 &sd1_bus4_wp_cd &sd1_pwr>;
diff --git arch/arm/boot/dts/tcc/tcc8053-android-lpd4x322_sv0.1.dts arch/arm/boot/dts/tcc/tcc8053-android-lpd4x322_sv0.1.dts
index d6f9ce2..2d4ccaa 100644
--- arch/arm/boot/dts/tcc/tcc8053-android-lpd4x322_sv0.1.dts
+++ arch/arm/boot/dts/tcc/tcc8053-android-lpd4x322_sv0.1.dts
@@ -177,13 +177,11 @@
 
 /* SD slot */
 &sdhc2 {
-#ifdef CONFIG_MMC_SDHCI_TCC_MODULE_ONLY
 	/*
 	 * In order to reduce boot time,
 	 * we use the driver as module not built-in.
 	 */
 	compatible = "telechips,tcc805x-sdhci,module-only";
-#endif
 	status = "okay";
 	pinctrl-names = "default";
 	pinctrl-0 = <&sd2_clk &sd2_cmd &sd2_bus4 &sd1_bus4_wp_cd &sd1_pwr>;
diff --git arch/arm/boot/dts/tcc/tcc8053-android-lpd4x322_sv1.0.dts arch/arm/boot/dts/tcc/tcc8053-android-lpd4x322_sv1.0.dts
index 3d3e2c10..56ec352 100644
--- arch/arm/boot/dts/tcc/tcc8053-android-lpd4x322_sv1.0.dts
+++ arch/arm/boot/dts/tcc/tcc8053-android-lpd4x322_sv1.0.dts
@@ -178,13 +178,11 @@
 
 /* SD slot */
 &sdhc2 {
-#ifdef CONFIG_MMC_SDHCI_TCC_MODULE_ONLY
 	/*
 	 * In order to reduce boot time,
 	 * we use the driver as module not built-in.
 	 */
 	compatible = "telechips,tcc805x-sdhci,module-only";
-#endif
 	status = "okay";
 	pinctrl-names = "default";
 	pinctrl-0 = <&sd2_clk &sd2_cmd &sd2_bus4 &sd1_bus4_wp_cd &sd1_pwr>;
diff --git arch/arm/boot/dts/tcc/tcc8053-linux-dvrs-lpd4x322_sv0.1.dts arch/arm/boot/dts/tcc/tcc8053-linux-dvrs-lpd4x322_sv0.1.dts
index aa2ffc7..6f46219 100644
--- arch/arm/boot/dts/tcc/tcc8053-linux-dvrs-lpd4x322_sv0.1.dts
+++ arch/arm/boot/dts/tcc/tcc8053-linux-dvrs-lpd4x322_sv0.1.dts
@@ -211,13 +211,11 @@
 
 /* SD slot */
 &sdhc2 {
-#ifdef CONFIG_MMC_SDHCI_TCC_MODULE_ONLY
 	/*
 	 * In order to reduce boot time,
 	 * we use the driver as module not built-in.
 	 */
 	compatible = "telechips,tcc805x-sdhci,module-only";
-#endif
 	status = "okay";
 	pinctrl-names = "default";
 	pinctrl-0 = <&sd2_clk &sd2_cmd &sd2_bus4 &sd1_bus4_wp_cd &sd1_pwr>;
diff --git arch/arm/boot/dts/tcc/tcc8053-linux-dvrs-lpd4x322_sv1.0.dts arch/arm/boot/dts/tcc/tcc8053-linux-dvrs-lpd4x322_sv1.0.dts
index cea308c..1406b22 100644
--- arch/arm/boot/dts/tcc/tcc8053-linux-dvrs-lpd4x322_sv1.0.dts
+++ arch/arm/boot/dts/tcc/tcc8053-linux-dvrs-lpd4x322_sv1.0.dts
@@ -211,13 +211,11 @@
 
 /* SD slot */
 &sdhc2 {
-#ifdef CONFIG_MMC_SDHCI_TCC_MODULE_ONLY
 	/*
 	 * In order to reduce boot time,
 	 * we use the driver as module not built-in.
 	 */
 	compatible = "telechips,tcc805x-sdhci,module-only";
-#endif
 	status = "okay";
 	pinctrl-names = "default";
 	pinctrl-0 = <&sd2_clk &sd2_cmd &sd2_bus4 &sd1_bus4_wp_cd &sd1_pwr>;
diff --git arch/arm/boot/dts/tcc/tcc8053-linux-lpd4x322_sv0.1.dts arch/arm/boot/dts/tcc/tcc8053-linux-lpd4x322_sv0.1.dts
index 8e15faa..7aaedfb 100644
--- arch/arm/boot/dts/tcc/tcc8053-linux-lpd4x322_sv0.1.dts
+++ arch/arm/boot/dts/tcc/tcc8053-linux-lpd4x322_sv0.1.dts
@@ -203,13 +203,11 @@
 
 /* SD slot */
 &sdhc2 {
-#ifdef CONFIG_MMC_SDHCI_TCC_MODULE_ONLY
 	/*
 	 * In order to reduce boot time,
 	 * we use the driver as module not built-in.
 	 */
 	compatible = "telechips,tcc805x-sdhci,module-only";
-#endif
 	status = "okay";
 	pinctrl-names = "default";
 	pinctrl-0 = <&sd2_clk &sd2_cmd &sd2_bus4 &sd1_bus4_wp_cd &sd1_pwr>;
diff --git arch/arm/boot/dts/tcc/tcc8053-linux-lpd4x322_sv1.0.dts arch/arm/boot/dts/tcc/tcc8053-linux-lpd4x322_sv1.0.dts
index e76cf43..a3b5a70 100644
--- arch/arm/boot/dts/tcc/tcc8053-linux-lpd4x322_sv1.0.dts
+++ arch/arm/boot/dts/tcc/tcc8053-linux-lpd4x322_sv1.0.dts
@@ -203,13 +203,11 @@
 
 /* SD slot */
 &sdhc2 {
-#ifdef CONFIG_MMC_SDHCI_TCC_MODULE_ONLY
 	/*
 	 * In order to reduce boot time,
 	 * we use the driver as module not built-in.
 	 */
 	compatible = "telechips,tcc805x-sdhci,module-only";
-#endif
 	status = "okay";
 	pinctrl-names = "default";
 	pinctrl-0 = <&sd2_clk &sd2_cmd &sd2_bus4 &sd1_bus4_wp_cd &sd1_pwr>;
diff --git arch/arm/boot/dts/tcc/tcc8059-android-lpd4x321_sv0.1.dts arch/arm/boot/dts/tcc/tcc8059-android-lpd4x321_sv0.1.dts
index 3687659..1c2d2ed 100644
--- arch/arm/boot/dts/tcc/tcc8059-android-lpd4x321_sv0.1.dts
+++ arch/arm/boot/dts/tcc/tcc8059-android-lpd4x321_sv0.1.dts
@@ -119,13 +119,11 @@
 
 /* SD slot */
 &sdhc1 {
-#ifdef CONFIG_MMC_SDHCI_TCC_MODULE_ONLY
 	/*
 	 * In order to reduce boot time,
 	 * we use the driver as module not built-in.
 	 */
 	compatible = "telechips,tcc805x-sdhci,module-only";
-#endif
 	status = "okay";
 	pinctrl-names = "default";
 	pinctrl-0 = <&sd1_clk &sd1_cmd &sd1_bus4 &sd1_bus4_wp_cd &sd1_pwr>;
diff --git arch/arm/boot/dts/tcc/tcc8059-linux-dvrs-lpd4x321_sv0.1.dts arch/arm/boot/dts/tcc/tcc8059-linux-dvrs-lpd4x321_sv0.1.dts
index 0febca1..057a745 100644
--- arch/arm/boot/dts/tcc/tcc8059-linux-dvrs-lpd4x321_sv0.1.dts
+++ arch/arm/boot/dts/tcc/tcc8059-linux-dvrs-lpd4x321_sv0.1.dts
@@ -237,13 +237,11 @@
 
 /* SD slot */
 &sdhc1 {
-#ifdef CONFIG_MMC_SDHCI_TCC_MODULE_ONLY
 	/*
 	 * In order to reduce boot time,
 	 * we use the driver as module not built-in.
 	 */
 	compatible = "telechips,tcc805x-sdhci,module-only";
-#endif
 	status = "okay";
 	pinctrl-names = "default";
 	pinctrl-0 = <&sd1_clk &sd1_cmd &sd1_bus4 &sd1_bus4_wp_cd &sd1_pwr>;
diff --git arch/arm/boot/dts/tcc/tcc8059-linux-lpd4x321_sv0.1.dts arch/arm/boot/dts/tcc/tcc8059-linux-lpd4x321_sv0.1.dts
index a726e90..aca7be6 100644
--- arch/arm/boot/dts/tcc/tcc8059-linux-lpd4x321_sv0.1.dts
+++ arch/arm/boot/dts/tcc/tcc8059-linux-lpd4x321_sv0.1.dts
@@ -219,13 +219,11 @@
 
 /* SD slot */
 &sdhc1 {
-#ifdef CONFIG_MMC_SDHCI_TCC_MODULE_ONLY
 	/*
 	 * In order to reduce boot time,
 	 * we use the driver as module not built-in.
 	 */
 	compatible = "telechips,tcc805x-sdhci,module-only";
-#endif
 	status = "okay";
 	pinctrl-names = "default";
 	pinctrl-0 = <&sd1_clk &sd1_cmd &sd1_bus4 &sd1_bus4_wp_cd &sd1_pwr>;
diff --git arch/arm/boot/dts/tcc/tcc8971-android-lcn-3.0.dts arch/arm/boot/dts/tcc/tcc8971-android-lcn-3.0.dts
index 6fcd940..f6c58cd 100644
--- arch/arm/boot/dts/tcc/tcc8971-android-lcn-3.0.dts
+++ arch/arm/boot/dts/tcc/tcc8971-android-lcn-3.0.dts
@@ -708,15 +708,11 @@
 
 	sdhc@76020000 {
 		status = "okay";
-#ifndef CONFIG_MMC_SDHCI_TCC_MODULE_ONLY
-		compatible = "telechips,tcc897x-sdhci";
-#else
 		/*
 		 * In order to reduce boot time,
 		 * we use the driver as module not built-in.
 		 */
 		compatible = "telechips,tcc897x-sdhci,module-only";
-#endif
 		controller-id = <0>;
 		bus-width = <4>;
 		max-frequency = <50000000>;
diff --git arch/arm/boot/dts/tcc/tcc8990-linux-stb.dtsi arch/arm/boot/dts/tcc/tcc8990-linux-stb.dtsi
index 5af038f..c0a9d1c 100644
--- arch/arm/boot/dts/tcc/tcc8990-linux-stb.dtsi
+++ arch/arm/boot/dts/tcc/tcc8990-linux-stb.dtsi
@@ -269,15 +269,11 @@
 	/* SD Card */
 	sdhc@16460000 {
 		status = "okay";
-#ifndef CONFIG_MMC_SDHCI_TCC_MODULE_ONLY
-		compatible = "telechips,tcc-sdhci";
-#else
 		/*
 		 * In order to reduce boot time,
 		 * we use the driver as module not built-in.
 		*/
 		compatible = "telechips,tcc-sdhci,module-only";
-#endif
 		controller-id = <2>;
 		bus-width = <4>;
 		max-frequency = <200000000>;
diff --git arch/arm/boot/dts/tcc/tcc899x.dtsi arch/arm/boot/dts/tcc/tcc899x.dtsi
index 0ecc0a8..be378c0 100644
--- arch/arm/boot/dts/tcc/tcc899x.dtsi
+++ arch/arm/boot/dts/tcc/tcc899x.dtsi
@@ -2656,7 +2656,7 @@
 
 	/* eMMC Boot */
 	sdhc1: sdhc@16450000 {
-		compatible = "telechips,tcc-sdhc";
+		compatible = "telechips,tcc899x-sdhci";
 		reg = <0x16450000 0x100>, <0x16470050 0x50>, <0x16494014 0x4>, <0x164700FC 0x4>;
 		interrupts = <GIC_SPI 75 IRQ_TYPE_LEVEL_HIGH>;
 		clocks = <&clk_peri PERI_SDMMC1 &clk_io IOBUS_SDMMC1>;
@@ -2671,7 +2671,7 @@
 	};
 
 	sdhc0: sdhc@16440000 {
-		compatible = "telechips,tcc-sdhc";
+		compatible = "telechips,tcc899x-sdhci";
 		reg = <0x16440000 0x100>, <0x16470000 0x50>, <0x16494010 0x4>, <0x164700FC 0x4>;
 		interrupts = <GIC_SPI 74 IRQ_TYPE_LEVEL_HIGH>;
 		clocks = <&clk_peri PERI_SDMMC0 &clk_io IOBUS_SDMMC0>;
@@ -2686,7 +2686,7 @@
 	};
 
 	sdhc2: sdhc@16460000 {
-		compatible = "telechips,tcc-sdhc";
+		compatible = "telechips,tcc899x-sdhci";
 		reg = <0x16460000 0x100>, <0x164700A0 0x50>, <0x0 0x0>/*dummy*/, <0x164700FC 0x4>;
 		interrupts = <GIC_SPI 76 IRQ_TYPE_LEVEL_HIGH>;
 		clocks = <&clk_peri PERI_SDMMC2 &clk_io IOBUS_SDMMC2>;
