CONFIG_DEVMEM=y
CONFIG_TCC_HDMI_DRIVER_V1_4=y
CONFIG_TCC_VIOC_CONTROLLER=y
CONFIG_TCC_OUTPUT_STARTER=y
CONFIG_FB_VIOC=y
CONFIG_VBUS_CTRL_DEF_ENABLE=y
CONFIG_DEVMEM=y
CONFIG_TCC_HDMI_DRIVER_V1_4=y
CONFIG_TCC_VIOC_CONTROLLER=y
CONFIG_TCC_OUTPUT_STARTER=y
CONFIG_FB_VIOC=y
CONFIG_VBUS_CTRL_DEF_ENABLE=y
CONFIG_GPIO_TCC=y
