
config ARCH_RZN1
	bool "Renesas RZ/N1"
	select ARM_AMBA
	select USE_OF
	select ARCH_WANT_OPTIONAL_GPIOLIB
	select ARM_GIC
	select CPU_V7
	select USE_OF
	select PINCTRL
	select PINCTRL_RZN1
	select HAVE_SMP
