#
#Telechips
#
config TCC_GMAC
	tristate "Telechips 10/100/1000 Ethernet Driver"
	depends on ARCH_TCC893X || ARCH_TCC896X || ARCH_TCC897X || \
		ARCH_TCC898X || ARCH_TCC570X || \
		ARCH_TCC802X || ARCH_TCC899X || \
		ARCH_TCC803X || ARCH_TCC901X || \
		ARCH_TCC805X 
	select CRC32
	select MII
	---help---
	  Support for Telechips 10/100/1000 Ethernet Driver

config TCC_GMAC_DA
    bool "Rx has priority over Tx"
    depends on TCC_GMAC
    default y

config TCC_GMAC_FQTSS_SUPPORT
    bool "Support FQTSS(IEEE 802.1Qav)"
	help
    	Support Forwaring and Queuing Enhancements for
	Time-Sensitive Streams(IEEE 802.1Qav)
    depends on TCC_GMAC
    default n

config TCC_GMAC_PTP
    bool "Support PTP(IEEE 1588-2008)"
	select PPS
	select NETWORK_PHY_TIMESTAMPING
	select PTP_1588_CLOCK
	help
    	Support Precision Time Protocol(IEEE 1588-2008)
    depends on TCC_GMAC
    default n

config TCC8990_MPW2_SOCKET
	bool "USE TCC8990 MPW2 SOCKET TYPE BOARD."
    depends on TCC_GMAC
    default n

