# arch/arm/mach-tcc805x/Kconfig
#
# Configuration options for the TCC805X SoCs

menuconfig ARCH_TCC805X
	bool "TCC805x"
	select AEABI
	select CPU_V7
	select VFP
	select NEON
	select USE_OF
	select ARM_GIC
	select GENERIC_IRQ_CHIP
	select ARM_AMBA
	select HAVE_ARM_SCU if SMP
	select HAVE_SMP
	select CLKDEV_LOOKUP
	select CLKSRC_MMIO
	select CLKSRC_OF
	select COMMON_CLK
	select HAVE_ARM_ARCH_TIMER
	select ARCH_HAS_OPP
	select PM_OPP if PM
	select PM_GENERIC_DOMAINS
	select USB_ARCH_HAS_XHCI
	select PINCTRL_TCC
	select USB_ARCH_HAS_EHCI if USB_SUPPORT
	select USB_ARCH_HAS_OHCI if USB_SUPPORT
	select SOC_TCC
	select MIGHT_HAVE_PCI
	select PCI_DOMAINS if PCI
	select HAVE_TCC_SIP_SERVICE

config TCC805X_CA53Q
	bool "Build for TCC805X Cortex-A53 Subcore"
	depends on ARCH_TCC805X
	help
	  Select this option building a kernel for TCC805X Cortex-A53 Subcore.

	  The TCC805x integrates the ARM® Cortex-A72 quad microprocessor with
	  4 MB unified L2 cache as well as Cortex-A53 quad/dual microprocessor
	  with 512 KB unified L2 cache, Cortex-R5 for microprocessor, SC000
	  core of HSM(Hardware Security Module) in Security sub-system for
	  automotive security, Cortex-M4 for storage management, another
	  Cortex-M4 for TSDEMUX in CM sub-system, and hardwired VPU(Video-
	  Processing Unit)/GPU(Graphics Processing Unit) to maximize multimedia
	  experience at its peak level.
