// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device tree for Telechips TCC8031 board
 *
 * Copyright (C) 2018 Telechips Inc.

 */

#ifndef DT_OVERLAY
#include "tcc8031.dtsi"
#endif

#include "tcc803x-android.dtsi"

#include <dt-bindings/pmap/tcc803x/pmap-tcc803x-android-ivi.h>
#include "tcc-pmap-803x-android-customized.dtsi"
#include "tcc-pmap-common.dtsi"

/ {
	model = "Telechips TCC8031 Evaluation Board for AVN";
	compatible = "telechips,tcc8031", "telechips,tcc803x";
};

&aliases {
	videosource0 = &videosource0;
	videosource1 = &videosource1;
};

&pcie {
	reset-gpio = <&gpsd0 11 0>;
	//status = "okay";
};

&reserved_memory {
	/*-----------------------------------------------------------
	 * Secure Area 1 (CPU R/W, VPU X, GPU R/W, VIOC R)
	 *-----------------------------------------------------------
	 */
	pmap_fb_video: fb_video {
		compatible = "telechips,pmap";
		telechips,pmap-name = "fb_video";
		alloc-ranges = <SECURE_AREA_1_BASE SECURE_AREA_1_SIZE>;
		size = <PMAP_SIZE_FB_VIDEO>;
		telechips,pmap-secured = <1>;
		no-map;
	};

	pmap_fb1_video: fb1_video {
		compatible = "telechips,pmap";
		telechips,pmap-name = "fb1_video";
		alloc-ranges = <SECURE_AREA_1_BASE SECURE_AREA_1_SIZE>;
		size = <PMAP_SIZE_FB1_VIDEO>;
		telechips,pmap-secured = <1>;
		no-map;
	};

	pmap_fb2_video: fb2_video {
		compatible = "telechips,pmap";
		telechips,pmap-name = "fb2_video";
		alloc-ranges = <SECURE_AREA_1_BASE SECURE_AREA_1_SIZE>;
		size = <PMAP_SIZE_FB2_VIDEO>;
		telechips,pmap-secured = <1>;
		no-map;
	};

	pmap_fb3_video: fb3_video {
		compatible = "telechips,pmap";
		telechips,pmap-name = "fb3_video";
		alloc-ranges = <SECURE_AREA_1_BASE SECURE_AREA_1_SIZE>;
		size = <PMAP_SIZE_FB3_VIDEO>;
		telechips,pmap-secured = <1>;
		no-map;
	};

	/*-----------------------------------------------------------
	 * Secure Area 2 (CPU X, VPU X, GPU X, VIOC R/W)
	 *-----------------------------------------------------------
	 */
	pmap_overlay: overlay {
		compatible = "telechips,pmap";
		telechips,pmap-name = "overlay";
		alloc-ranges = <SECURE_AREA_2_BASE SECURE_AREA_2_SIZE>;
		/* Max-Displayed-Output(w*h*2) * 3 */
		size = <PMAP_SIZE_OVERLAY>;
		telechips,pmap-secured = <2>;
		no-map;
	};

	pmap_overlay1: overlay1 {
		compatible = "telechips,pmap";
		telechips,pmap-name = "overlay1";
		alloc-ranges = <SECURE_AREA_2_BASE SECURE_AREA_2_SIZE>;
		/* Max-Displayed-Output(w*h*2) * 3 */
		size = <PMAP_SIZE_OVERLAY1>;
		telechips,pmap-secured = <2>;
		no-map;
	};

	pmap_overlay_rot: overlay_rot {
		compatible = "telechips,pmap";
		telechips,pmap-name = "overlay_rot";
		alloc-ranges = <SECURE_AREA_2_BASE SECURE_AREA_2_SIZE>;
		/* Max-Displayed-Output(w*h*2) for device-rotation. */
		size = <PMAP_SIZE_OVERLAY_ROT>;
		telechips,pmap-secured = <2>;
		no-map;
	};

	pmap_viqe0: viqe0 {
		compatible = "telechips,pmap";
		telechips,pmap-name = "viqe";
		alloc-ranges = <SECURE_AREA_2_BASE SECURE_AREA_2_SIZE>;
		size = <PMAP_SIZE_VIQE0>;
		telechips,pmap-secured = <2>;
		no-map;
	};

	pmap_viqe1: viqe1 {
		compatible = "telechips,pmap";
		telechips,pmap-name = "viqe1";
		alloc-ranges = <SECURE_AREA_2_BASE SECURE_AREA_2_SIZE>;
		size = <PMAP_SIZE_VIQE1>;
		telechips,pmap-secured = <2>;
		no-map;
	};

	pmap_output_attach: output_attach {
		compatible = "telechips,pmap";
		telechips,pmap-name = "output_attach";
		alloc-ranges = <SECURE_AREA_2_BASE SECURE_AREA_2_SIZE>;
		size = <PMAP_SIZE_OUTPUT_ATTACH>;
		telechips,pmap-secured = <2>;
		no-map;
	};

	pmap_v4l2_vout0: v4l2_vout0 {
		compatible = "telechips,pmap";
		telechips,pmap-name = "v4l2_vout0";
		alloc-ranges = <SECURE_AREA_2_BASE SECURE_AREA_2_SIZE>;
		size = <PMAP_SIZE_V4L2_VOUT0>;
		telechips,pmap-secured = <2>;
		no-map;
	};

	pmap_v4l2_vout1: v4l2_vout1 {
		compatible = "telechips,pmap";
		telechips,pmap-name = "v4l2_vout1";
		alloc-ranges = <SECURE_AREA_2_BASE SECURE_AREA_2_SIZE>;
		size = <PMAP_SIZE_V4L2_VOUT1>;
		telechips,pmap-secured = <2>;
		no-map;
	};

	pmap_video_dual: video_dual {
		compatible = "telechips,pmap";
		telechips,pmap-name = "video_dual";
		alloc-ranges = <SECURE_AREA_2_BASE SECURE_AREA_2_SIZE>;
		size = <PMAP_SIZE_VIDEO_DUAL>;
		telechips,pmap-secured = <2>;
		no-map;
	};

	pmap_dual_display: dual_display {
		compatible = "telechips,pmap";
		telechips,pmap-name = "dual_display";
		alloc-ranges = <SECURE_AREA_2_BASE SECURE_AREA_2_SIZE>;
		size = <PMAP_SIZE_DUAL_DISPLAY>;
		telechips,pmap-secured = <2>;
		no-map;
	};

	pmap_fb_wmixer: fb_wmixer {
		compatible = "telechips,pmap";
		telechips,pmap-name = "fb_wmixer";
		alloc-ranges = <SECURE_AREA_2_BASE SECURE_AREA_2_SIZE>;
		/* Max-Video-Resolution(w*h*2) */
		size = <PMAP_SIZE_FB_WMIXER>;
		telechips,pmap-secured = <2>;
		no-map;
	};

	/*-----------------------------------------------------------
	 * Secure Area 3 (CPU X, VPU R/W, GPU X, VIOC R)
	 *-----------------------------------------------------------
	 */

	pmap_video_ext: video_ext {
		compatible = "telechips,pmap";
		telechips,pmap-name = "video_ext";
		alloc-ranges = <SECURE_AREA_3_BASE SECURE_AREA_3_SIZE>;
		size = <PMAP_SIZE_VIDEO_EXT>;
		telechips,pmap-secured = <3>;
		no-map;
	};

	pmap_video_ext2: video_ext2 {
		compatible = "telechips,pmap";
		telechips,pmap-name = "video_ext2";
		alloc-ranges = <SECURE_AREA_3_BASE SECURE_AREA_3_SIZE>;
		size = <PMAP_SIZE_VIDEO_EXT2>;
		telechips,pmap-secured = <3>;
		no-map;
	};

	pmap_video: video {
		compatible = "telechips,pmap";
		telechips,pmap-name = "video";
		alloc-ranges = <SECURE_AREA_3_BASE SECURE_AREA_3_SIZE>;
		size = <PMAP_SIZE_VIDEO>;
		telechips,pmap-secured = <3>;
		no-map;
	};

	pmap_video_sw: video_sw {
		compatible = "telechips,pmap";
		telechips,pmap-name = "video_sw";
		alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
		size = <PMAP_SIZE_VIDEO_SW_EXTRA>;
		no-map;
	};

	/*-----------------------------------------------------------
	 * Secure Area 4 (CPU X, VPU X, GPU R/W, VIOC R/W)
	 *-----------------------------------------------------------
	 */
	pmap_ump_reserved: ump_reserved {
		compatible = "telechips,pmap";
		telechips,pmap-name = "ump_reserved";
		alloc-ranges = <SECURE_AREA_4_BASE SECURE_AREA_4_SIZE>;
		size = <PMAP_SIZE_UMP_RESERVED>;
		telechips,pmap-secured = <4>;
	};

	pmap_ion_carveout_cam: ion_carveout_cam {
		compatible = "telechips,pmap";
		telechips,pmap-name = "ion_carveout_cam";
		alloc-ranges = <SECURE_AREA_4_BASE SECURE_AREA_4_SIZE>;
		size = <PMAP_SIZE_ION_CARVEOUT_CAM>; // 12MB
		telechips,pmap-secured = <4>;
	};

	/*-----------------------------------------------------------
	 * Shared Memory with pmap_viqe
	 *-----------------------------------------------------------
	 */
	pmap_jpeg_header: jpeg_header {
		compatible = "telechips,pmap";
		telechips,pmap-name = "jpeg_header";
		alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
		telechips,pmap-shared = <&pmap_viqe0>;
		telechips,pmap-shared-size = <PMAP_SIZE_JPEG_HEADER>;
		telechips,pmap-offset = <0x0>;
		size = <0x0>;
		no-map;
	};

	pmap_jpeg_stream: jpeg_stream {
		compatible = "telechips,pmap";
		telechips,pmap-name = "jpeg_stream";
		alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
		telechips,pmap-shared = <&pmap_jpeg_header>;
		telechips,pmap-shared-size = <PMAP_SIZE_JPEG_STREAM>;
		telechips,pmap-offset = <PMAP_SIZE_JPEG_HEADER>;
		size = <0x0>;
		no-map;
	};

	pmap_jpeg_raw: jpeg_raw {
		compatible = "telechips,pmap";
		telechips,pmap-name = "jpeg_raw";
		alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
		telechips,pmap-shared = <&pmap_jpeg_stream>;
		telechips,pmap-shared-size = <PMAP_SIZE_JPEG_RAW>;
		telechips,pmap-offset = <PMAP_SIZE_JPEG_STREAM>;
		size = <0x0>;
		no-map;
	};

	/*-----------------------------------------------------------
	 * Camera Memory
	 *-----------------------------------------------------------
	 */
	pmap_rearcamera_viqe: rearcamera_viqe {
		compatible = "telechips,pmap";
		telechips,pmap-name = "rearcamera_viqe";
		alloc-ranges = <EARLY_REARCAM_BASE EARLY_REARCAM_SIZE>;
		size = <PMAP_SIZE_CAMERA_VIQE>;
		no-map;
	};

	pmap_rearcamera: rearcamera {
		compatible = "telechips,pmap";
		telechips,pmap-name = "rearcamera";
		alloc-ranges = <EARLY_REARCAM_BASE EARLY_REARCAM_SIZE>;
		size = <PMAP_SIZE_CAMERA_PREVIEW0>;
		no-map;
	};

	pmap_rearcamera1: rearcamera1 {
		compatible = "telechips,pmap";
		telechips,pmap-name = "rearcamera1";
		alloc-ranges = <EARLY_REARCAM_BASE EARLY_REARCAM_SIZE>;
		size = <PMAP_SIZE_CAMERA_PREVIEW1>;
		no-map;
	};

	pmap_rearcamera2: rearcamera2 {
		compatible = "telechips,pmap";
		telechips,pmap-name = "rearcamera2";
		alloc-ranges = <EARLY_REARCAM_BASE EARLY_REARCAM_SIZE>;
		size = <PMAP_SIZE_CAMERA_PREVIEW2>;
		no-map;
	};

	pmap_rearcamera3: rearcamera3 {
		compatible = "telechips,pmap";
		telechips,pmap-name = "rearcamera3";
		alloc-ranges = <EARLY_REARCAM_BASE EARLY_REARCAM_SIZE>;
		size = <PMAP_SIZE_CAMERA_PREVIEW3>;
		no-map;
	};

	pmap_rearcamera4: rearcamera4 {
		compatible = "telechips,pmap";
		telechips,pmap-name = "rearcamera4";
		alloc-ranges = <EARLY_REARCAM_BASE EARLY_REARCAM_SIZE>;
		size = <PMAP_SIZE_CAMERA_PREVIEW4>;
		no-map;
	};

	pmap_rearcamera5: rearcamera5 {
		compatible = "telechips,pmap";
		telechips,pmap-name = "rearcamera5";
		alloc-ranges = <EARLY_REARCAM_BASE EARLY_REARCAM_SIZE>;
		size = <PMAP_SIZE_CAMERA_PREVIEW5>;
		no-map;
	};

	pmap_rearcamera6: rearcamera6 {
		compatible = "telechips,pmap";
		telechips,pmap-name = "rearcamera6";
		alloc-ranges = <EARLY_REARCAM_BASE EARLY_REARCAM_SIZE>;
		size = <PMAP_SIZE_CAMERA_PREVIEW6>;
		no-map;
	};

	pmap_parking_gui: parking_gui {
		compatible = "telechips,pmap";
		telechips,pmap-name = "parking_gui";
		alloc-ranges = <EARLY_REARCAM_BASE EARLY_REARCAM_SIZE>;
		size = <PMAP_SIZE_CAMERA_PGL>;
		no-map;
	};

	/*-----------------------------------------------------------
	 * Default Reserved Memory
	 *-----------------------------------------------------------
	 */
	pmap_ump_reserved_sw: ump_reserved_sw {
		compatible = "telechips,pmap";
		telechips,pmap-name = "ump_reserved_sw";
		alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
		size = <PMAP_SIZE_UMP_RESERVED_SW>; // 4KB * 12
		no-map;
	};

	pmap_video_sbackup: video_sbackup {
		compatible = "telechips,pmap";
		telechips,pmap-name = "video_sbackup";
		alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
		/* 0x200000 for 1080p, 0x600000 for 2160p */
		size = <PMAP_SIZE_VIDEO_SBACKUP>;
		telechips,pmap-secured;
		no-map;
	};

	pmap_pmem: pmem {
		compatible = "telechips,pmap";
		telechips,pmap-name = "pmem";
		alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
		size = <PMAP_SIZE_PMEM>;
		no-map;
	};

	pmap_video_thumb: video_thumb {
		compatible = "telechips,pmap";
		telechips,pmap-name = "video_thumb";
		alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
		/* 0x600000 for 1080p video, 0x1A00000 for 2160p */
		size = <PMAP_SIZE_VIDEO_THUMB>;
		no-map;
	};

	pmap_ext_camera: ext_camera {
		compatible = "telechips,pmap";
		telechips,pmap-name = "ext_camera";
		alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
		size = <PMAP_SIZE_EXT_CAMERA>;
		no-map;
	};

	pmap_nand_mem: nand_mem {
		compatible = "telechips,pmap";
		telechips,pmap-name = "nand_mem";
		alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
		size = <PMAP_SIZE_NAND_MEM>;
		no-map;
	};

	pmap_tsif: tsif {
		compatible = "telechips,pmap";
		telechips,pmap-name = "tsif";
		alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
		size = <PMAP_SIZE_TSIF>;
		no-map;
	};

	/*
	 * pmap_jpg_enc_dxb: jpg_enc_dxb {
	 *	telechips,pmap-name = "jpg_enc_dxb";
	 *	alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
	 *	size = <PMAP_SIZE_JPG_ENC_DXB>;
	 *	no-map;
	 * };
	 *
	 * pmap_jpg_raw_dxb: jpg_raw_dxb {
	 *	telechips,pmap-name = "jpg_raw_dxb";
	 *	alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
	 *	size = <PMAP_SIZE_JPG_RAW_DXB>;
	 *	no-map;
	 * };
	 */

	pmap_v4l2_subtitle: v4l2_subtitle {
		compatible = "telechips,pmap";
		telechips,pmap-name = "v4l2_subtitle";
		alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
		size = <PMAP_SIZE_V4L2_SUBTITLE>;
		no-map;
	};

	pmap_prot_tztee: prot_tztee {
		compatible = "telechips,pmap";
		telechips,pmap-name = "prot_tztee";
		alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
		/* Calculate start address based on 0x30000000.
		 * Base address will be (0x30000000 - prot_tztee_size).
		 */
		size = <0x0>;
		no-map;
	};

	reserved_ramoops: ramoops {
		compatible = "telechips,pmap";
		telechips,pmap-name = "ramoops";
		alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
		size = <PMAP_SIZE_RAMOOPS>;
		no-map;
	};

	/*
	 * reserved_cma: linux,cma {
	 *	compatible = "shared-dma-pool";
	 *	alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
	 *	size = <PMAP_SIZE_CMA>;
	 *	//alignment = <0x04000000>;
	 *	alignment = <0x0>;
	 *	linux,cma-default;
	 *	reusable;
	 * };
	 */

	/*-----------------------------------------------------------
	 * Shared Memory with pmap_video :: only for enc_main pmap.
	 *-----------------------------------------------------------
	 */
	pmap_enc_main: enc_main {
		compatible = "telechips,pmap";
		telechips,pmap-name = "enc_main";
		alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
		telechips,pmap-shared = <&pmap_video>;
		telechips,pmap-shared-size = <PMAP_SIZE_ENC>;
		telechips,pmap-offset = <VIDEO_MAIN_SIZE>;
		size = <0x0>;
		no-map;
	};

	pmap_enc_ext: enc_ext {
		compatible = "telechips,pmap";
		telechips,pmap-name = "enc_ext";
		alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
		size = <PMAP_SIZE_ENC_EXT>;
		no-map;
	};

	pmap_enc_ext2: enc_ext2 {
		compatible = "telechips,pmap";
		telechips,pmap-name = "enc_ext2";
		alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
		size = <PMAP_SIZE_ENC_EXT2>;
		no-map;
	};

	pmap_enc_ext3: enc_ext3 {
		compatible = "telechips,pmap";
		telechips,pmap-name = "enc_ext3";
		alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
		size = <PMAP_SIZE_ENC_EXT3>;
		no-map;
	};

	pmap_enc_ext4: enc_ext4 {
		compatible = "telechips,pmap";
		telechips,pmap-name = "enc_ext4";
		alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
		size = <PMAP_SIZE_ENC_EXT4>;
		no-map;
	};

	pmap_enc_ext5: enc_ext5 {
		compatible = "telechips,pmap";
		telechips,pmap-name = "enc_ext5";
		alloc-ranges = <0x0 RESERVED_MEM_BASE 0x0 RESERVED_MEM_SIZE>;
		size = <0x0 PMAP_SIZE_ENC_EXT5>;
		no-map;
	};

	pmap_enc_ext6: enc_ext6 {
		compatible = "telechips,pmap";
		telechips,pmap-name = "enc_ext6";
		alloc-ranges = <0x0 RESERVED_MEM_BASE 0x0 RESERVED_MEM_SIZE>;
		size = <0x0 PMAP_SIZE_ENC_EXT6>;
		no-map;
	};

	pmap_enc_ext7: enc_ext7 {
		compatible = "telechips,pmap";
		telechips,pmap-name = "enc_ext7";
		alloc-ranges = <0x0 RESERVED_MEM_BASE 0x0 RESERVED_MEM_SIZE>;
		size = <0x0 PMAP_SIZE_ENC_EXT7>;
		no-map;
	};

	/*
	 * pmap_svm: pmap_svm {
	 *	compatible = "telechips,pmap";
	 *	telechips,pmap-name = "pmap_svm";
	 *	alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
	 *	size = <PMAP_SVM_SIZE>;
	 *	no-map;
	 * };
	 */

	reserved_optee: optee_os {
		compatible = "optee.os";
		reg = <PMAP_BASE_OPTEE_OS PMAP_SIZE_OPTEE_OS>;
		no-map;
		status = "disabled";
	};

	reserved_dw_esm: dw_esm {
		compatible = "dw.esm";
		reg = <PMAP_BASE_PROT_ESM_FW PMAP_SIZE_PROT_ESM_FW>;
		no-map;
		status = "disabled";
	};
};

/*
 * &nand {
 *	compatible = "telechips,nand-v8";
 *	status = "okay";
 *	pinctrl-names = "default";
 *	pinctrl-0 = <&nand_rdy &nand_cs0
 *		     &nand_we &nand_oe &nand_cle &nand_ale
 *		     &nand_wp &nand_databus8>;
 * };
 */

/* USB 3.0 DRD */
&dwc3_phy {
	status = "okay";
	vbus-ctrl-able;
	vbus-gpio = <&gpa 29 0>;
};
&dwc3 {
	status = "okay";
	//usb3en-ctrl-able;
	//usb3en-gpio = <&gpc 20 0>;
	//vbus-source-ctrl;
	vbus-ctrl-able;
	vbus-gpio = <&gpa 29 0>;
	//pinctrl-names = "default";
	//vdd_dwc-supply = <&vdd_v5p0_reg>;
};

/* USB 2.0 OTG */
&ehci_phy {
	status = "okay";
	vbus-ctrl-able;
	vbus-gpio = <&gpa 28 0>;
};

&ehci {
	status = "okay";
	hcd_id = <0>;
	phy-type = <1>; //pico phy = 1, nano phy = 0
	vbus-ctrl-able;
	vbus-gpio = <&gpa 28 0>;

	//sq_level_ctl;
	TXVRT = <0xB>;
	TXRISET = <0x3>;
	TXAT = <0x1>;
};

&ohci {
	status = "okay";
	vbus-ctrl-able;
	vbus-gpio = <&gpa 28 0>;
};

&dwc_otg_phy {
	status = "okay";

	vbus-ctrl-able;
	vbus-gpio = <&gpa 27 0>;
};

&mhst_phy {
	status = "okay";

	vbus-ctrl-able;
	vbus-gpio = <&gpa 27 0>;
};

&dwc_otg {
	status = "okay";
	phy-type = <1>; //pico phy = 1, nano phy = 0

	vbus-ctrl-able;
	vbus-gpio = <&gpa 27 0>;
};

/*
 * &hsic {
 *	status = "okay";
 *	hcd_id = <2>; //2 == HSIC
 *	phy-type = <1>; //pico phy = 1, nano phy = 0
 *	vbus-ctrl-able;
 *	vbus-gpio = <&gpk 25 0>;
 * };
 */

&switch_reverse {
	compatible = "telechips,switch";
	status = "disabled";

	pinctrl-names = "default";
	pinctrl-0 = <&switch_ma15>;

	switch-gpios = <&gpma 15 1>;
	switch-active = <0>;
};

&thermal {
	compatible = "telechips,tcc-thermal";
	reg = <0x14700000 0x4 0x14700030 0x4 0x14200290 0x4 0x1420029C 0x4
	       0x14200298 0x4 0x1470000C 0x4 0x14700010 0x4>;

	status = "okay";

	throttle_count = <5>;
	throttle_active_count = <0>;
	throttle_passive_count = <5>;
	interrupts = <GIC_SPI 40 0>;
	cal_type = "TYPE_ONE_POINT_TRIMMING";
	polling-delay-idle = <0>;
	polling-delay-passive = <0>;

	threshold_temp = <85>;

	throttle_table {
		throttle_tab_0 {
			temp = <75>;
			freq_max_cluster0 = <1000000>;
			freq_max_cluster1 = <900000>;
		};
		throttle_tab_1 {
			temp = <80>;
			freq_max_cluster0 = <900000>;
			freq_max_cluster1 = <810000>;
		};
		throttle_tab_2 {
			temp = <85>;
			freq_max_cluster0 = <800000>;
			freq_max_cluster1 = <720000>;
		};
		throttle_tab_3 {
			temp = <90>;
			freq_max_cluster0 = <700000>;
			freq_max_cluster1 = <630000>;
		};
		throttle_tab_4 {
			temp = <95>;
			freq_max_cluster0 = <600000>;
			freq_max_cluster1 = <540000>;
		};
	};
};

&cpu_id {
	compatible = "telechips,tcc-cpu-id";
	reg = <0x14200290 0x4 0x14200298 0x4 0x1420029C 0x4 0x14400014 0x4>;
	status = "okay";
};

&overlaymixer {
	status ="okay";
	/* 16MB (if > 512MB RAM) refer to Guide 27 Page */
	contiguousSize = <0x1000000>;
	baseAddress = <0x20000000>;
	/* DRAM size (0x40000000 = 1GB, 0x80000000 = 2GB) */
	physSize = <0x80000000>;
};

&fbdisplay {
	telechips,fbdisplay_num = <0>;
	status ="okay";
};

&tcc_overlay {
	compatible = "telechips,tcc_overlay";
	status = "okay";
	fbdisplay-overlay = <&fbdisplay>;
};

&tcc_vsync {
	compatible = "telechips,tcc_vsync";
	display-vioc0 = <&vioc_disp VIOC_DISP0>;
	display-vioc1 = <&vioc_disp VIOC_DISP1>;
	status = "okay";
};

&tcc_viqe {
	compatible = "telechips,tcc_viqe";
	status ="okay";
	tcc_viqe_viqe_common {
		board_num=<1>;
	};
};

&hdmi_tx_20 {
	hdmi_ref_src_clock = <0>; // 0 XIN, 1 X-TAL, 2 PERI, 3, PMU XIN
	hdmi_phy_type = <0>; // 0 8031

	/* Source Product Description */
	product_description = "TCC8031_avn";
};

&videoinput0 {
	status = "okay";
};

&videoinput1 {
	status = "okay";
};

&i2c0 {
	status = "okay";
	port-mux = <12>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c12_bus>;

	pmic@5A {
		compatible = "dlg,da9063";
		reg = <0x5A>;

		da9063_gpio: gpio {
			compatible = "dlg,da9063-gpio";
			gpio-controller;
			#gpio-cells = <2>;
		};

		regulators {
			vdd_bcore1: bcore1 {
				regulator-name = "cpu_0p9v";
				regulator-min-microvolt = <855000>;
				regulator-max-microvolt = <900000>;
				regulator-always-on;
				regulator-boot-on;
			};

			vdd_bcore2: bcore2 {
				regulator-name = "core_0p8v";
				regulator-min-microvolt = <760000>;
				regulator-max-microvolt = <800000>;
				regulator-always-on;
				regulator-boot-on;
			};

			vdd_bpro: bpro {
				regulator-name = "vdd_mali";
				regulator-min-microvolt = <760000>;
				regulator-max-microvolt = <800000>;
				regulator-always-on;
				regulator-boot-on;
			};

			vdd_bmem: bmem {
				regulator-name = "io_1p8v";
				regulator-min-microvolt = <1700000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
			};

			vdd_bio: bio {
				regulator-name = "io_3p3v";
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				regulator-boot-on;
			};

			vdd_bperi: bperi {
				regulator-name = "mem_1p1v";
				regulator-min-microvolt = <1045000>;
				regulator-max-microvolt = <1100000>;
				regulator-always-on;
				regulator-boot-on;
			};

			vdd_ldo3: ldo3 {
				/* peri_1p8v */
				regulator-name = "sdio_pwr";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				regulator-boot-on;
			};

			vdd_ldo7: ldo7 {
				regulator-name = "cpu_1p2v";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;
				regulator-always-on;
				regulator-boot-on;
			};

			vdd_ldo8: ldo8 {
				regulator-name = "mem_1p8v";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
			};

			vdd_ldo9: ldo9 {
				regulator-name = "pmic_io_pwr";
				regulator-min-microvolt = <950000>;
				regulator-max-microvolt = <3600000>;
				regulator-always-on;
				regulator-boot-on;
			};

			vdd_ldo11: ldo11 {
				/* peri_3p3v */
				regulator-name = "emmc_pwr";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				regulator-boot-on;
			};
		};
	}; /* pmic da9063 */

	videosource0: videodecoder_isl79988 {
		compatible	= "intersil,isl79988";
		pinctrl-names	= "idle", "active";
		cifport		= <0>;
		pinctrl-0	= <&cam0_8bit_idle>;
		pinctrl-1	= <&cam0_clk &cam0_data_8bit>;
		rst-gpios	= <&gpb 14 1>;
		reg		= <0x44>;	// 0x88 >> 1
	};

	videosource1: deserializer_max9286 {
		compatible	= "maxim,max9286";
		cifport		= <5>;
		pwd-gpios	= <&gpg 5 1>;
		intb-gpios	= <&gph 11 1>;
		reg		= <0x48>;	// 0x90 >> 1
		mipi-csi2-idx   = <0>;
	};
};

&i2c1 {
	status = "okay";
	port-mux = <13>; /* [0]SCL [1]SDA */
	pinctrl-names = "default";
	pinctrl-0 = <&i2c13_bus>;

	ssd253x@48 {
		compatible = "solomon,ssd253x";
		reg = <0x48>;
		pinctrl-names = "default";
		pinctrl-0 = <&tsc_default>;
		int-gpios = <&gpsd1 9 0x0>;
		rst-gpios = <&gpb 16 0x0>;
	};
	mxt_touch@4a {
		compatible = "atmel,maxtouch";
		reg = <0x4a>;
		pinctrl-names = "default";
		pinctrl-0 = <&tsc_default>;

		irq-gpios = <&gpsd1 9 0x0>;
		reset-gpios = <&gpb 16 0x0>;
	};
	ga657x@5d {
		compatible = "goodix,ga657x";
		reg = <0x5d>;
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&tsc_default>;

		reset-gpios = <&gpb 16 0x0>;
		irq-gpios = <&gpsd1 9 0x0>;
		irq-flags = <2>;

		touchscreen-max-id = <11>;
		touchscreen-size-x = <1920>;
		touchscreen-size-y = <720>;
		touchscreen-max-w = <512>;
		touchscreen-max-p = <512>;
		/*KEY_HOMEPAGE=172, KEY_BACK=158, KEY_MENU=139*/
		touchscreen-key-map = <172>, <158>;
		goodix,slide-wakeup = <0>;
		goodix,type-a-report = <0>;
		goodix,driver-send-cfg = <0>;
		goodix,resume-in-workqueue = <0>;
		goodix,swap-x2y = <0>;
		goodix,esd-protect = <1>;
		goodix,auto-update = <0>;
		goodix,auto-update-cfg = <0>;
		goodix,power-off-sleep = <0>;
		goodix,pen-suppress-finger = <0>;
		goodix,cfg-group0 = [
			53 D0 02 00 05 05 F5 D5 21 48 2D 0F 5A 41 0E
			05 00 00 32 32 20 00 05 14 14 1A 14 8B 2B 00
		];
	};
};

&i2c2 {
	status = "okay";
	port-mux = <20>; /* [0]SCL [1]SDA */
	pinctrl-names = "default";
	pinctrl-0 = <&i2c20_bus>;
	ak4601: ak4601@10 {
		compatible = "akm,ak4601";
		ak4601,pdn-gpio = <&gpe 14 0>;
		/* 0: active high, 1: active low */
		cmute-gpios = <&gpe 15 1>;	// CODEC_MUTE
		amute-gpios = <&gpma 1 0>;	// AMP_MUTE
		stanby-gpios = <&gpma 2 0>;	// AMP_STBY
		reg = <0x10>;
	};
};

&i2c3 {
	status = "okay";
	port-mux = <11>; /* [0]SCL [1]SDA */
	pinctrl-names = "default";
	pinctrl-0 = <&i2c11_bus>;
};

&gpsb0 {
	status = "okay";
	gpsb-port = <22>;
	pinctrl-names = "idle", "active";
	pinctrl-0 = <&gpsb22_bus_idle>;
	pinctrl-1 = <&gpsb22_bus_spi>;

	/* cs-gpios */
	cs-gpios = <&gpg 8 0>,<&gpa 30 0>;

	#address-cells = <1>;
	#size-cells = <0>;
	spidev@0 {
		compatible = "rohm,dh2228fv";
		reg = <0>;
		spi-max-frequency = <20000000>;
	};
	spidev@1 {
		compatible = "rohm,dh2228fv";
		reg = <1>;
		spi-max-frequency = <20000000>;
	};
};

&gpsb1 {
	status = "okay";  // enable = "okay"
	gpsb-port = <15>;
	pinctrl-names = "idle", "active";
	pinctrl-0 = <&gpsb15_bus_idle>;
	pinctrl-1 = <&gpsb15_bus_tsif>;
};

&gpsb2 {
	status = "okay";  // enable = "okay"
	gpsb-port = <16>;
	pinctrl-names = "idle", "active";
	pinctrl-0 = <&gpsb16_bus_idle>;
	pinctrl-1 = <&gpsb16_bus_tsif>;
};

/* sdr */

&i2s2 {
	compatible = "telechips,sdr";
	dev-name = "tcc-iq01";
	pinctrl-names = "default", "idle";
	pinctrl-0 = <&m1dai1_bclk &m1dai1_lrck
		     &m1dai1_dai0 &m1dai1_dai1 &m1dai1_dai2 &m1dai1_dai3>;
	pinctrl-1 = <&m1dai1_bclk_idle &m1dai1_lrck_idle &m1dai1_dai0_idle
		     &m1dai1_dai1_idle &m1dai1_dai2_idle &m1dai1_dai3_idle>;
	status = "okay";
};

&i2s1 {
	compatible = "telechips,sdr";
	dev-name = "tcc-iq23";
	pinctrl-names = "default", "idle";
	pinctrl-0 = <&m1dai0_bclk &m1dai0_lrck &m1dai0_dai0 &m1dai0_dai1>;
	pinctrl-1 = <&m1dai0_bclk_idle &m1dai0_lrck_idle
		     &m1dai0_dai0_idle &m1dai0_dai1_idle>;
	status = "okay";
};

&i2s4 {
	compatible = "telechips,sdr";
	dev-name = "tcc-hdr-blend";
	pinctrl-names = "default", "idle";
	pinctrl-0 = <&m0dai1_bclk &m0dai1_lrck &m0dai1_dai0>;
	pinctrl-1 = <&m0dai1_bclk_idle &m0dai1_lrck_idle &m0dai1_dai0_idle>;
	status = "okay";
};


&audio_chmux {
	compatible = "telechips,audio-chmux-803x";
	//dai = <3 99 1 0 99 99 99>;
	dai = <3 0 1 0 1 99 99>; // i2s0(x) ... i2s6(x)
	spdif = <2 99 99 3 99 99 99>; // spdif0(x) ... spdif6(x)
	status = "okay";
};

&adma0 {
	status = "okay";
};

&adma1 {
	status = "disabled";
};

&adma2 {
	status = "disabled";
};

&adma3 {
	status = "okay";
};

&adma4 {
	status = "disabled";
};

&i2s0 {
	pinctrl-names = "default", "idle";
	pinctrl-0 = <&m1dai3_mclk &m1dai3_bclk &m1dai3_lrck
		     &m1dai3_dao0 &m1dai3_dai0>;
	pinctrl-1 = <&m1dai3_mclk_idle &m1dai3_bclk_idle &m1dai3_lrck_idle
		     &m1dai3_dao0_idle &m1dai3_dai0_idle>;
	status = "okay";
};

&i2s3 {
	pinctrl-names = "default", "idle";
	pinctrl-0 = <&m0dai0_bclk &m0dai0_lrck &m0dai0_dao0 &m0dai0_dai0>;
	pinctrl-1 = <&m0dai0_bclk_idle &m0dai0_lrck_idle
		     &m0dai0_dao0_idle &m0dai0_dai0_idle>;
	status = "okay";
};

&spdif0 {
	pinctrl-names = "default", "idle";
	pinctrl-0 = <&spdif2_tx>;
	pinctrl-1 = <&spdif2_tx_idle>;
	status = "okay";
};

&spdif3 {
	pinctrl-names = "default", "idle";
	pinctrl-0 = <&spdif3_rx>;
	pinctrl-1 = <&spdif3_rx_idle>;
	status = "okay";
};

/*
 * &asrc0 {
 *	sync-mode = <1 1 1 1>; // 0:async, 1:sync
 *	//path-type = <0 0 0 0>; // 0:m2m, 1:m2p, 2:p2m
 *	path-type = <1 1 1 2>; // 0:m2m, 1:m2p, 2:p2m
 *	status = "okay";
 * };
 *
 * &sound {
 *	compatible = "telechips,asrc-card";
 *	card-name = "TCC8031 EVM Card";
 *	status = "okay";
 *
 *	asrc = <&asrc0>;
 *
 *	telechips,dai-link@0 {
 *		codec,format = "i2s";
 *
 *		i2s = <&i2s0>;
 *		codec = <&ak4601>;
 *		codec,dai-name = "ak4601-aif1";
 *
 *		asrc-m2p-pairs = <0 1 2>;
 *		asrc-p2m-pairs = <3>;
 *
 *		mclk_div = <16>; // 4,6,8,16
 *		bclk_ratio = <64>; // 32,48,64fs
 *		samplerate = <48000>;
 *		format = <0>; // 0:S16LE, 1:S24LE
 *		channels = <2>; //2, 4, 6, 8
 *	};
 * };
 */

&sound {
	compatible = "telechips,snd-card";
	card-name = "TCC8031 EVM Card";
	status = "okay";

	telechips,dai-link@0 {
		stream-name="I2S_0";
		codec,format = "i2s"; // i2s, left_j, right_j
		codec,continuous-clock;
		mclk_div = <16>; // 4,6,8,16
		bclk_ratio = <64>; // 32,48,64fs
		pcm = <&adma0>;
		dai = <&i2s0>;
		codec = <&ak4601>;
		codec,dai-name = "ak4601-aif1";
	};

	telechips,dai-link@1 {
		stream-name="SPDIF_0_TX";
		pcm = <&adma0>;
		dai = <&spdif0>;
		playback-only;
	};

	telechips,dai-link@2 {
		stream-name="SPDIF_1_RX";
		pcm = <&adma3>;
		dai = <&spdif3>;
		capture-only;
	};

	telechips,dai-link@3 {
		stream-name="I2S_3";
		codec,format = "i2s"; // i2s, left_j, right_j
		codec,continuous-clock;
		mclk_div = <16>; // 4,6,8,16
		bclk_ratio = <64>; // 32,48,64fs
		pcm = <&adma3>;
		dai = <&i2s3>;
	};
};

&gmac {
	status = "okay";
//	phyon-gpio	= <&gpc 27 0>;
	phyrst-gpio = <&gpc 29 0>;
	phy-interface = "rgmii";
	//ecid-mac-addr;
	txclk-o-dly = <18>;
	txclk-o-inv = <0>;
	txclk-i-dly = <0>;
	txclk-i-inv = <0>;
	txen-dly = <0>;
	txer-dly = <0>;
	txd0-dly = <0>;
	txd1-dly = <0>;
	txd2-dly = <0>;
	txd3-dly = <0>;
	txd4-dly = <0>;
	txd5-dly = <0>;
	txd6-dly = <0>;
	txd7-dly = <0>;
	rxclk-i-dly = <0>;
	rxclk-i-inv = <0>;
	rxdv-dly = <0>;
	rxer-dly = <0>;
	rxd0-dly = <0>;
	rxd1-dly = <0>;
	rxd2-dly = <0>;
	rxd3-dly = <0>;
	rxd4-dly = <0>;
	rxd5-dly = <0>;
	rxd6-dly = <0>;
	rxd7-dly = <0>;
	crs-dly = <0>;
	col-dly = <0>;
	pinctrl-names = "default", "mii", "rmii", "gmii", "rgmii";
	pinctrl-0 = <>;
	pinctrl-1 = <&gmac1_mdc &gmac1_mdio &gmac1_col
		     &gmac1_crs &gmac1_txer &gmac1_rxer
		     &gmac1_txclk &gmac1_txen &gmac1_txd0
		     &gmac1_txd1 &gmac1_txd2 &gmac1_txd3
		     &gmac1_rxclk &gmac1_rxdv &gmac1_rxd0
		     &gmac1_rxd1 &gmac1_rxd2 &gmac1_rxd3>;
	pinctrl-2 = <&gmac1_mdc &gmac1_mdio
		     &gmac1_txclk &gmac1_txen &gmac1_txd0 &gmac1_txd1
		     &gmac1_rxer &gmac1_rxdv &gmac1_rxd0 &gmac1_rxd1>;
	pinctrl-3 = <&gmac1_mdc &gmac1_mdio &gmac1_col
		     &gmac1_crs &gmac1_txer &gmac1_rxer
		     &gmac1_txclk &gmac1_txen &gmac1_txd0
		     &gmac1_txd1 &gmac1_txd2 &gmac1_txd3
		     &gmac1_txd4 &gmac1_txd5 &gmac1_txd6 &gmac1_txd7
		     &gmac1_rxclk &gmac1_rxdv &gmac1_rxd0
		     &gmac1_rxd1 &gmac1_rxd2 &gmac1_rxd3
		     &gmac1_rxd4 &gmac1_rxd5 &gmac1_rxd6 &gmac1_rxd7>;
	pinctrl-4 = <&gmac1_mdc &gmac1_mdio
		     &gmac1_txclk &gmac1_txen &gmac1_txd0
		     &gmac1_txd1 &gmac1_txd2 &gmac1_txd3
		     &gmac1_rxclk &gmac1_rxdv &gmac1_rxd0
		     &gmac1_rxd1 &gmac1_rxd2 &gmac1_rxd3>;
};

/* CP */
&auth_cp {
	compatible = "telechips, tcc-cp";
	cp-type = <2>;		/* 2.0C = 1, 2.0B = 0, 3.0 = 2 */
	i2c-channel = <3>;	/* 0 ~ 3 */
	/*	power-ctrl-able; */
	/* cp_power-gpio = <&gpk 14 0>; */
	/* cp_reset-gpio = <&gpk 11 0>; */
};

/* eMMC */
&vqmmc_emmc {
	compatible = "regulator-fixed";
	regulator-name = "vqmmc_emmc";
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	regulator-always-on;
};

&sdhc0 {
	status = "okay";
	bus-width = <8>;
	max-frequency = <200000000>;
	pinctrl-names = "default";
	pinctrl-0 = <&sd0_clk &sd0_cmd &sd0_bus8>;

	non-removable;
	keep-power-in-suspend;
	disable-wp;
	cap-mmc-hw-reset;
	mmc-ddr-1_8v;

	tcc-mmc-reset = <&gpsd0 14 0>;

	vqmmc-supply = <&vqmmc_emmc>;
};

/* SD CARD */
&sdhc1 {
	status = "okay";
#ifndef CONFIG_MMC_SDHCI_TCC_MODULE_ONLY
	compatible = "telechips,tcc-sdhci";
#else
	/*
	 * In order to reduce boot time,
	 * we use the driver as module not built-in.
	 */
	compatible = "telechips,tcc803x-sdhci,module-only";
#endif
	controller-id = <1>;
	bus-width = <4>;
	max-frequency = <200000000>;
	pinctrl-names = "default";
	pinctrl-0 = <&sd1_clk &sd1_cmd &sd1_bus4 &sd1_bus4_wp_cd>;
};

/* SDIO */
&sdhc2 {
	status = "okay";
	bus-width = <4>;
	max-frequency = <200000000>;
	pinctrl-names = "default";
	pinctrl-0 = <&sd2_clk &sd2_cmd &sd2_bus4 &out0_clk>;
	clocks = <&clk_peri PERI_SDMMC2 &clk_io IOBUS_SDMMC2>;
	clock-names = "mmc_fclk", "mmc_hclk";
};

/* broadcast(DAB/DMB) */
&tcc_dxb_ctrl {
	compatible = "telechips,tcc_dxb_ctrl";
	pw-gpios = <&gpa 23 0>;
	dxb0-gpios = <&gpa 22 0>, <&gpa 21 0>, <0>, <0>;
	dxb1-gpios = <&gpa 31 0>, <&gpa 25 0>, <0>, <0>;
	ant-gpios = <0>, <0>;
	tuner-gpios = <&gpg 0 0>, <&gpma 0 0>;
};

/* bluetooth */
&tcc_bluetooth {
	compatible = "telechips, tcc_bluetooth";
	bt_power-gpio = <&gpsd2 6 0>; /* BTWIFI_VBAT_EN */
	bt_reg_on-gpio = <&gpc 12 0>;
	status = "okay";
};

&tcc_bt_dev {
	compatible = "telechips, tcc_bt_dev";
	status = "okay";
};

&smartcard {
	compatible = "telechips,pl131-smartcard";
	reg = <0x16601000 0xFFF 0x16684000 0x10>; //smartcard #0,
	//clocks = <&clk_io IOBUS_SMARTCARD0>;
	clock-frequency = <50000000>;
	smartcard-clock = <4000000>; // initail value 4Mhz
	Fi = <372>; // clock rate conversion integer
	Di = <1>; // initail value

	uart_ch = <&uart1>; // uart and smartcard share clock
	uart_chnum = <1>;
	port-num = <0>;
	tda8024-use = <1>;
	rst_gpios =  <&gpb 16 0>;
	detect_gpios = <&gph 7 0>;
	pwren_gpios = <&gph 10 0>;
	data_gfb = <21>;
	clk_gfb = <22>;
	pinctrl-names = "default";
	pinctrl-0 = <&smartcard_bus>;
	status = "disable";
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart18_data>;
	status = "okay";
};

/* bluetooth */
&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart20_data &uart20_rtscts>;
	dmas = <&udma1 2 2 &udma1 3 2>;
	dma-names = "tx", "rx";
	status = "okay";
};

/* H/W Demux */
&hwdemux {
	compatible = "telechips,hwdemux";
	status = "okay";
};

&tcc_hwdmx_tsif0 {
	compatible = "telechips,tcc89xx-hwdmx-tsif";
	tsif-port = <1>;
	pinctrl-names = "idle", "active";
	pinctrl-0 = <&ts0_idle>;
	pinctrl-1 = <&ts0_active>;
	status = "okay";
};

&tcc_hwdmx_tsif1 {
	compatible = "telechips,tcc89xx-hwdmx-tsif";
	tsif-port = <2>;
	pinctrl-names = "idle", "active";
	pinctrl-0 = <&ts1_idle>;
	pinctrl-1 = <&ts1_active>;
};

/* ISDB-T */
&tcc_isdbt_ctrl {
	compatible = "telechips,tcc_isdbt_ctrl";
};

/* eMMC */
&sd0_clk {
		telechips,no-pull;
};

&sd0_cmd {
		telechips,no-pull;
};

&sd0_bus8 {
		telechips,no-pull;
};

/* SD slot */
&sd1_clk {
		telechips,no-pull;
};

&sd1_cmd {
		telechips,no-pull;
};

&sd1_bus4 {
		telechips,no-pull;
};
