// SPDX-License-Identifier: (GPL-2.0-or-later OR MIT)
/*
 * Copyright (C) Telechips Inc.
 * Device tree for Telechips TCC8059 board
 */

#include "tcc-pmap-805x-linux-customized.dtsi"

#include "tcc8059.dtsi"
#include "tcc805x-linux.dtsi"

#include <dt-bindings/pmap/tcc805x/pmap-tcc805x-linux-ivi.h>
#include "tcc-pmap-common.dtsi"

/ {
	model = "Telechips TCC8059 Evaluation Board for AVN";
	compatible = "telechips,tcc8059", "telechips,tcc805x";

	chosen {
		bootargs = "vmalloc=480M console=ttyAMA0,115200n8";
		stdout-path = &uart0;
	};

	pcie@11000000 {
		reset-gpio = <&gpsd0 11 0>;
		//status = "okay";
	};

	reserved-memory {
		/*-----------------------------------------------------------
		 * Secure Area 1 (CPU R/W, VPU X, GPU R/W, VIOC R)
		 *-----------------------------------------------------------
		 */
		pmap_fb_video: fb_video {
			compatible = "telechips,pmap";
			telechips,pmap-name = "fb_video";
			alloc-ranges = <0x0 SECURE_AREA_1_BASE 0x0 SECURE_AREA_1_SIZE>;
			size = <0x0 PMAP_SIZE_FB_VIDEO>;
			telechips,pmap-secured = <1>;
			no-map;
		};

		pmap_fb1_video: fb1_video {
			compatible = "telechips,pmap";
			telechips,pmap-name = "fb1_video";
			alloc-ranges = <0x0 SECURE_AREA_1_BASE 0x0 SECURE_AREA_1_SIZE>;
			size = <0x0 PMAP_SIZE_FB1_VIDEO>;
			telechips,pmap-secured = <1>;
			no-map;
		};

		pmap_fb2_video: fb2_video {
			compatible = "telechips,pmap";
			telechips,pmap-name = "fb2_video";
			alloc-ranges = <0x0 SECURE_AREA_1_BASE 0x0 SECURE_AREA_1_SIZE>;
			size = <0x0 PMAP_SIZE_FB2_VIDEO>;
			telechips,pmap-secured = <1>;
			no-map;
		};

		pmap_fb3_video: fb3_video {
			compatible = "telechips,pmap";
			telechips,pmap-name = "fb3_video";
			alloc-ranges = <0x0 SECURE_AREA_1_BASE 0x0 SECURE_AREA_1_SIZE>;
			size = <0x0 PMAP_SIZE_FB3_VIDEO>;
			telechips,pmap-secured = <1>;
			no-map;
		};

		/*-----------------------------------------------------------
		 * Secure Area 2 (CPU X, VPU X, GPU X, VIOC R/W)
		 *-----------------------------------------------------------
		 */
		pmap_overlay: overlay {
			compatible = "telechips,pmap";
			telechips,pmap-name = "overlay";
			alloc-ranges = <0x0 SECURE_AREA_2_BASE 0x0 SECURE_AREA_2_SIZE>;
			size = <0x0 PMAP_SIZE_OVERLAY>; // Max-Displayed-Output(w*h*2) * 3
			telechips,pmap-secured = <2>;
			no-map;
		};

		pmap_overlay1: overlay1 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "overlay1";
			alloc-ranges = <0x0 SECURE_AREA_2_BASE 0x0 SECURE_AREA_2_SIZE>;
			size = <0x0 0x0>; // Max-Displayed-Output(w*h*2) * 3
			telechips,pmap-secured = <2>;
			no-map;
		};

		pmap_osd: osd {
			compatible = "telechips,pmap";
			telechips,pmap-name = "osd";
			alloc-ranges = <0x0 SECURE_AREA_2_BASE 0x0 SECURE_AREA_2_SIZE>;
			size = <0x0 0x0>;
			telechips,pmap-secured = <2>;
			no-map;
		};

		pmap_overlay_rot: overlay_rot {
			compatible = "telechips,pmap";
			telechips,pmap-name = "overlay_rot";
			alloc-ranges = <0x0 SECURE_AREA_2_BASE 0x0 SECURE_AREA_2_SIZE>;
			size = <0x0 PMAP_SIZE_OVERLAY_ROT>; // Max-Displayed-Output(w*h*2) for device-rotation.
			telechips,pmap-secured = <2>;
			no-map;
		};

		pmap_viqe0: viqe0 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "viqe";
			alloc-ranges = <0x0 SECURE_AREA_2_BASE 0x0 SECURE_AREA_2_SIZE>;
			size = <0x0 PMAP_SIZE_VIQE0>;
			telechips,pmap-secured = <2>;
			no-map;
		};

		pmap_viqe1: viqe1 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "viqe1";
			alloc-ranges = <0x0 SECURE_AREA_2_BASE 0x0 SECURE_AREA_2_SIZE>;
			size = <0x0 PMAP_SIZE_VIQE1>;
			telechips,pmap-secured = <2>;
			no-map;
		};

		pmap_output_attach: output_attach {
			compatible = "telechips,pmap";
			telechips,pmap-name = "output_attach";
			alloc-ranges = <0x0 SECURE_AREA_2_BASE 0x0 SECURE_AREA_2_SIZE>;
			size = <0x0 PMAP_SIZE_OUTPUT_ATTACH>;
			telechips,pmap-secured = <2>;
			no-map;
		};

		pmap_v4l2_vout0: v4l2_vout0 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "v4l2_vout0";
			alloc-ranges = <0x0 SECURE_AREA_2_BASE 0x0 SECURE_AREA_2_SIZE>;
			size = <0x0 PMAP_SIZE_V4L2_VOUT0>;
			telechips,pmap-secured = <2>;
			no-map;
		};

		pmap_v4l2_vout1: v4l2_vout1 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "v4l2_vout1";
			alloc-ranges = <0x0 SECURE_AREA_2_BASE 0x0 SECURE_AREA_2_SIZE>;
			size = <0x0 PMAP_SIZE_V4L2_VOUT1>;
			telechips,pmap-secured = <2>;
			no-map;
		};

		pmap_video_dual: video_dual {
			compatible = "telechips,pmap";
			telechips,pmap-name = "video_dual";
			alloc-ranges = <0x0 SECURE_AREA_2_BASE 0x0 SECURE_AREA_2_SIZE>;
			size = <0x0 PMAP_SIZE_VIDEO_DUAL>;
			telechips,pmap-secured = <2>;
			no-map;
		};

		pmap_fb_wmixer: fb_wmixer {
			compatible = "telechips,pmap";
			telechips,pmap-name = "fb_wmixer";
			alloc-ranges = <0x0 SECURE_AREA_2_BASE 0x0 SECURE_AREA_2_SIZE>;
			size = <0x0 PMAP_SIZE_FB_WMIXER>; //
			telechips,pmap-secured = <2>;
			no-map;
		};

		/*-----------------------------------------------------------
		 * Secure Area 3 (CPU X, VPU R/W, GPU X, VIOC R)
		 *-----------------------------------------------------------
		 */

		pmap_video_ext: video_ext {
			compatible = "telechips,pmap";
			telechips,pmap-name = "video_ext";
			alloc-ranges = <0x0 SECURE_AREA_3_BASE 0x0 SECURE_AREA_3_SIZE>;
			size = <0x0 PMAP_SIZE_VIDEO_EXT>;
			telechips,pmap-secured = <3>;
			no-map;
		};

		pmap_video_ext2: video_ext2 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "video_ext2";
			alloc-ranges = <0x0 SECURE_AREA_3_BASE 0x0 SECURE_AREA_3_SIZE>;
			size = <0x0 PMAP_SIZE_VIDEO_EXT2>;
			telechips,pmap-secured = <3>;
			no-map;
		};

		pmap_video: video {
			compatible = "telechips,pmap";
			telechips,pmap-name = "video";
			alloc-ranges = <0x0 SECURE_AREA_3_BASE 0x0 SECURE_AREA_3_SIZE>;
			size = <0x0 PMAP_SIZE_VIDEO>;
			telechips,pmap-secured = <3>;
			no-map;
		};

		pmap_video_sw: video_sw {
			compatible = "telechips,pmap";
			telechips,pmap-name = "video_sw";
			alloc-ranges = <0x0 RESERVED_MEM_BASE 0x0 RESERVED_MEM_SIZE>;
			size = <0x0 PMAP_SIZE_VIDEO_SW_EXTRA>;
			no-map;
		};

		/*-----------------------------------------------------------
		 * Secure Area 4 (CPU X, VPU X, GPU R/W, VIOC R/W)
		 *-----------------------------------------------------------
		 */
		pmap_ump_reserved: ump_reserved {
			compatible = "telechips,pmap";
			telechips,pmap-name = "ump_reserved";
			alloc-ranges = <0x0 SECURE_AREA_4_BASE 0x0 SECURE_AREA_4_SIZE>;
			size = <0x0 PMAP_SIZE_UMP_RESERVED>; // Max-Video-Resolution(Aligned_256KB(w*h*3/2)) * 12 + 1MB
			telechips,pmap-secured = <4>;
		};

		pmap_ion_carveout_cam: ion_carveout_cam {
			compatible = "telechips,pmap";
			telechips,pmap-name = "ion_carveout_cam";
			alloc-ranges = <0x0 SECURE_AREA_4_BASE 0x0 SECURE_AREA_4_SIZE>;
			size = <0x0 PMAP_SIZE_ION_CARVEOUT_CAM>; // 12MB
			telechips,pmap-secured = <4>;
		};

		/*-----------------------------------------------------------
		 * Shared Memory with pmap_viqe
		 *-----------------------------------------------------------
		 */
		pmap_jpeg_header: jpeg_header {
			compatible = "telechips,pmap";
			telechips,pmap-name = "jpeg_header";
			alloc-ranges = <0x0 RESERVED_MEM_BASE 0x0 RESERVED_MEM_SIZE>;
			telechips,pmap-shared = <&pmap_viqe0>;
			telechips,pmap-shared-size = <0x0 PMAP_SIZE_JPEG_HEADER>;
			telechips,pmap-offset = <0x0 0x0>;
			size = <0x0 0x0>;
			no-map;
		};

		pmap_jpeg_stream: jpeg_stream {
			compatible = "telechips,pmap";
			telechips,pmap-name = "jpeg_stream";
			alloc-ranges = <0x0 RESERVED_MEM_BASE 0x0 RESERVED_MEM_SIZE>;
			telechips,pmap-shared = <&pmap_jpeg_header>;
			telechips,pmap-shared-size = <0x0 PMAP_SIZE_JPEG_STREAM>;
			telechips,pmap-offset = <0x0 PMAP_SIZE_JPEG_HEADER>;
			size = <0x0 0x0>;
			no-map;
		};

		pmap_jpeg_raw: jpeg_raw {
			compatible = "telechips,pmap";
			telechips,pmap-name = "jpeg_raw";
			alloc-ranges = <0x0 RESERVED_MEM_BASE 0x0 RESERVED_MEM_SIZE>;
			telechips,pmap-shared = <&pmap_jpeg_stream>;
			telechips,pmap-shared-size = <0x0 PMAP_SIZE_JPEG_RAW>;
			telechips,pmap-offset = <0x0 PMAP_SIZE_JPEG_STREAM>;
			size = <0x0 0x0>;
			no-map;
		};

		/*-----------------------------------------------------------
		 * Camera Memory
		 *-----------------------------------------------------------
		 */
		pmap_parking_gui: parking_gui {
			compatible = "telechips,pmap";
			telechips,pmap-name = "parking_gui";
			alloc-ranges = <0x0 EARLY_REARCAM_BASE 0x0 EARLY_REARCAM_SIZE>;
			size = <0x0 PMAP_SIZE_CAMERA_PGL>;
			no-map;
		};

		pmap_rearcamera_viqe: rearcamera_viqe {
			compatible = "telechips,pmap";
			telechips,pmap-name = "rearcamera_viqe";
			alloc-ranges = <0x0 EARLY_REARCAM_BASE 0x0 EARLY_REARCAM_SIZE>;
			size = <0x0 PMAP_SIZE_CAMERA_VIQE>;
			no-map;
		};

		pmap_rearcamera: rearcamera {
			compatible = "telechips,pmap";
			telechips,pmap-name = "rearcamera";
			alloc-ranges = <0x0 EARLY_REARCAM_BASE 0x0 EARLY_REARCAM_SIZE>;
			size = <0x0 PMAP_SIZE_CAMERA_PREVIEW0>;
			no-map;
		};

		pmap_rearcamera1: rearcamera1 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "rearcamera1";
			alloc-ranges = <0x0 EARLY_REARCAM_BASE 0x0 EARLY_REARCAM_SIZE>;
			size = <0x0 PMAP_SIZE_CAMERA_PREVIEW1>;
			no-map;
		};

		pmap_rearcamera2: rearcamera2 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "rearcamera2";
			alloc-ranges = <0x0 EARLY_REARCAM_BASE 0x0 EARLY_REARCAM_SIZE>;
			size = <0x0 PMAP_SIZE_CAMERA_PREVIEW2>;
			no-map;
		};

		pmap_rearcamera3: rearcamera3 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "rearcamera3";
			alloc-ranges = <0x0 EARLY_REARCAM_BASE 0x0 EARLY_REARCAM_SIZE>;
			size = <0x0 PMAP_SIZE_CAMERA_PREVIEW3>;
			no-map;
		};

		pmap_rearcamera4: rearcamera4 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "rearcamera4";
			alloc-ranges = <0x0 EARLY_REARCAM_BASE 0x0 EARLY_REARCAM_SIZE>;
			size = <0x0 PMAP_SIZE_CAMERA_PREVIEW4>;
			no-map;
		};

		pmap_rearcamera5: rearcamera5 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "rearcamera5";
			alloc-ranges = <0x0 EARLY_REARCAM_BASE 0x0 EARLY_REARCAM_SIZE>;
			size = <0x0 PMAP_SIZE_CAMERA_PREVIEW5>;
			no-map;
		};

		pmap_rearcamera6: rearcamera6 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "rearcamera6";
			alloc-ranges = <0x0 EARLY_REARCAM_BASE 0x0 EARLY_REARCAM_SIZE>;
			size = <0x0 PMAP_SIZE_CAMERA_PREVIEW6>;
			no-map;
		};

		pmap_rearcamera7: rearcamera7 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "rearcamera7";
			alloc-ranges = <0x0 EARLY_REARCAM_BASE 0x0 EARLY_REARCAM_SIZE>;
			size = <0x0 PMAP_SIZE_CAMERA_PREVIEW7>;
			no-map;
		};

		/*-----------------------------------------------------------
		 * Memory for PowerVR Virtualization
		 *-----------------------------------------------------------
		 */
		pmap_pvr_vz: pvr_vz {
			compatible = "telechips,pmap";
			telechips,pmap-name = "pvr_vz";
			reg = <0x0 PVR_VZ_BASE 0x0 PVR_VZ_SIZE>;
			no-map;
		};

		/*-----------------------------------------------------------
		 * Default Reserved Memory
		 *-----------------------------------------------------------
		 */
		pmap_ump_reserved_sw: ump_reserved_sw {
			compatible = "telechips,pmap";
			telechips,pmap-name = "ump_reserved_sw";
			alloc-ranges = <0x0 RESERVED_MEM_BASE 0x0 RESERVED_MEM_SIZE>;
			size = <0x0 PMAP_SIZE_UMP_RESERVED_SW>; // 4KB * 12
			no-map;
		};

		pmap_video_sbackup: video_sbackup {
			compatible = "telechips,pmap";
			telechips,pmap-name = "video_sbackup";
			alloc-ranges = <0x0 RESERVED_MEM_BASE 0x0 RESERVED_MEM_SIZE>;
			size = <0x0 PMAP_SIZE_VIDEO_SBACKUP>;  // 0x200000 for 1080p, 0x600000 for 2160p
			telechips,pmap-secured;
			no-map;
		};

		pmap_pmem: pmem {
			compatible = "telechips,pmap";
			telechips,pmap-name = "pmem";
			alloc-ranges = <0x0 RESERVED_MEM_BASE 0x0 RESERVED_MEM_SIZE>;
			size = <0x0 PMAP_SIZE_PMEM>;
			no-map;
		};

		pmap_video_thumb: video_thumb {
			compatible = "telechips,pmap";
			telechips,pmap-name = "video_thumb";
			alloc-ranges = <0x0 RESERVED_MEM_BASE 0x0 RESERVED_MEM_SIZE>;
			size = <0x0 PMAP_SIZE_VIDEO_THUMB>; //0x600000 for 1080p video, 0x1A00000 for 2160p
			no-map;
		};

		pmap_ext_camera: ext_camera {
			compatible = "telechips,pmap";
			telechips,pmap-name = "ext_camera";
			alloc-ranges = <0x0 RESERVED_MEM_BASE 0x0 RESERVED_MEM_SIZE>;
			size = <0x0 PMAP_SIZE_EXT_CAMERA>;
			no-map;
		};

		pmap_tsif: tsif {
			compatible = "telechips,pmap";
			telechips,pmap-name = "tsif";
			alloc-ranges = <0x0 RESERVED_MEM_BASE 0x0 RESERVED_MEM_SIZE>;
			size = <0x0 PMAP_SIZE_TSIF>;
			no-map;
		};

		/*
		pmap_jpg_enc_dxb: jpg_enc_dxb {
			telechips,pmap-name = "jpg_enc_dxb";
			alloc-ranges = <0x0 RESERVED_MEM_BASE 0x0 RESERVED_MEM_SIZE>;
			size = <0x0 PMAP_SIZE_JPG_ENC_DXB>;
			no-map;
		};

		pmap_jpg_raw_dxb: jpg_raw_dxb {
			telechips,pmap-name = "jpg_raw_dxb";
			alloc-ranges = <0x0 RESERVED_MEM_BASE 0x0 RESERVED_MEM_SIZE>;
			size = <0x0 PMAP_SIZE_JPG_RAW_DXB>;
			no-map;
		};
		*/

		pmap_v4l2_subtitle: v4l2_subtitle {
			compatible = "telechips,pmap";
			telechips,pmap-name = "v4l2_subtitle";
			alloc-ranges = <0x0 RESERVED_MEM_BASE 0x0 RESERVED_MEM_SIZE>;
			size = <0x0 PMAP_SIZE_V4L2_SUBTITLE>;
			no-map;
		};

		reserved_ramoops: ramoops {
			compatible = "telechips,pmap";
			telechips,pmap-name = "ramoops";
			alloc-ranges = <0x0 RESERVED_MEM_BASE 0x0 RESERVED_MEM_SIZE>;
			size = <0x0 PMAP_SIZE_RAMOOPS>;
			no-map;
		};

		/*
		reserved_cma: linux,cma {
			compatible = "shared-dma-pool";
			alloc-ranges = <0x0 RESERVED_MEM_BASE 0x0 RESERVED_MEM_SIZE>;
			size = <0x0 PMAP_SIZE_CMA>;
			//alignment = <0x04000000>;
			alignment = <0x0>;
			linux,cma-default;
			reusable;
		};
		*/

		/*-----------------------------------------------------------
		 * Shared Memory with pmap_video :: only for enc_main pmap.
		 *-----------------------------------------------------------
		 */
		pmap_enc_main: enc_main {
			compatible = "telechips,pmap";
			telechips,pmap-name = "enc_main";
			alloc-ranges = <0x0 RESERVED_MEM_BASE 0x0 RESERVED_MEM_SIZE>;
			telechips,pmap-shared = <&pmap_video>;
			telechips,pmap-shared-size = <0x0 PMAP_SIZE_ENC>;
			telechips,pmap-offset = <0x0 VIDEO_MAIN_SIZE>;
			size = <0x0 0x0>;
			no-map;
		};

		pmap_enc_ext: enc_ext {
			compatible = "telechips,pmap";
			telechips,pmap-name = "enc_ext";
			alloc-ranges = <0x0 RESERVED_MEM_BASE 0x0 RESERVED_MEM_SIZE>;
			size = <0x0 PMAP_SIZE_ENC_EXT>;
			no-map;
		};

		pmap_enc_ext2: enc_ext2 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "enc_ext2";
			alloc-ranges = <0x0 RESERVED_MEM_BASE 0x0 RESERVED_MEM_SIZE>;
			size = <0x0 PMAP_SIZE_ENC_EXT2>;
			no-map;
		};

		pmap_enc_ext3: enc_ext3 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "enc_ext3";
			alloc-ranges = <0x0 RESERVED_MEM_BASE 0x0 RESERVED_MEM_SIZE>;
			size = <0x0 PMAP_SIZE_ENC_EXT3>;
			no-map;
		};

		pmap_enc_ext4: enc_ext4 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "enc_ext4";
			alloc-ranges = <0x0 RESERVED_MEM_BASE 0x0 RESERVED_MEM_SIZE>;
			size = <0x0 PMAP_SIZE_ENC_EXT4>;
			no-map;
		};

		pmap_enc_ext5: enc_ext5 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "enc_ext5";
			alloc-ranges = <0x0 RESERVED_MEM_BASE 0x0 RESERVED_MEM_SIZE>;
			size = <0x0 PMAP_SIZE_ENC_EXT5>;
			no-map;
		};

		pmap_enc_ext6: enc_ext6 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "enc_ext6";
			alloc-ranges = <0x0 RESERVED_MEM_BASE 0x0 RESERVED_MEM_SIZE>;
			size = <0x0 PMAP_SIZE_ENC_EXT6>;
			no-map;
		};

		pmap_enc_ext7: enc_ext7 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "enc_ext7";
			alloc-ranges = <0x0 RESERVED_MEM_BASE 0x0 RESERVED_MEM_SIZE>;
			size = <0x0 PMAP_SIZE_ENC_EXT7>;
			no-map;
		};

		/*
		pmap_svm: pmap_svm {
			compatible = "telechips,pmap";
			telechips,pmap-name = "pmap_svm";
			alloc-ranges = <0x0 RESERVED_MEM_BASE 0x0 RESERVED_MEM_SIZE>;
			size = <0x0 PMAP_SVM_SIZE>;
			no-map;
		};
		*/

		reserved_optee: optee_os {
			compatible = "optee.os";
			reg = <0x0 PMAP_BASE_OPTEE_OS 0x0 PMAP_SIZE_OPTEE_OS>;
			no-map;
			status = "disabled";
		};
	};

	/* USB 2.0 Host */
	ehci_phy@11DA0010 {
		status = "disabled";
		vbus-ctrl-able;
		vbus-gpio = <&gpext1 4 0>; /* 0 : GPIO_ACTIVE_HIGH, 1 : GPIO_ACTIVE_LOW */
	};

	ehci@11A00000 {
		status = "disabled";
		hcd_id = <0>;
		phy-type = <1>;	    //pico phy = 1, nano phy = 0
		TXVRT = <0xB>;
		TXRISET = <0x3>;
		TXAT = <0x1>;
	};

	ohci@11A80000 {
		status = "disabled";
	};

	/* USB 2.0 DRD */
	dwc_otg_phy@11DA0100 {
		status = "okay";
		vbus-ctrl-able;
		vbus-gpio = <&gpext1 5 0>; /* 0 : GPIO_ACTIVE_HIGH, 1 : GPIO_ACTIVE_LOW */
	};

	mux_host_phy@11DA00DC {
		status = "okay";
	};

	dwc_otg@11980000 {
		status = "okay";
		phy-type = <1>;     //pico phy = 1, nano phy = 0
	};

	/* USB 3.0 DRD */
	dwc3_phy@11D90000 {
		status = "okay";
		vbus-ctrl-able;
		vbus-gpio = <&gpext1 3 0>; /* 0 : GPIO_ACTIVE_HIGH, 1 : GPIO_ACTIVE_LOW */
	};

	dwc3_platform {
		status = "okay";
	};

	switch_reverse {
		compatible = "telechips,switch";
		status = "okay";

//		pinctrl-names = "default";
//		pinctrl-0 = <&switch_ma15>;

		switch-gpios = <&gpma 15 1>;
		switch-active = <0>;
	};

	aux_detect {
		compatible = "telechips,aux_detect";
		status = "okay";

		pinctrl-names = "default";
		pinctrl-0 = <&aux_detect_ma14>;

		aux-gpios = <&gpma 14 1>;
		aux-active = <1>;
	};

	fbdisplay: fbdisplay@12000000 {
		telechips,fbdisplay_num = <0>;
		//Linuxplatform
		telechips,overlay_priority = <24>;
		//
		status ="okay";
	};

	cpu-id@14200290{
		compatible = "telechips,tcc-cpu-id";
		reg = <0x0 0x14200290 0x0 0x4>,
		<0x0 0x14200298 0x0 0x4>,
		<0x0 0x1420029C 0x0 0x4>,
		<0x0 0x14400014 0x0 0x4>;
		status = "okay";
	};

	graphic2d:graphic2d@1A400000 {
		status ="okay";
	};

	i2c@16300000 {
		status = "okay";
		port-mux = <12>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2c12_bus>;

		da9062:pmic@58 {
			compatible = "dlg,da9062";
			reg = <0x58>;
			rst-gpios = <&gpma 12 0>;

			da9062_gpio: gpio {
				compatible = "dlg,da9062-gpio";
				gpio-controller;
				#gpio-cells = <2>;
			};

			regulators {
				DA9062_BUCK1: buck1 {
					regulator-name = "memq_1p1";
					regulator-min-microvolt = <1045000>;
					regulator-max-microvolt = <1100000>;
					regulator-always-on;
					regulator-boot-on;
				};

				DA9062_BUCK2: buck2 {
					regulator-name = "cpu_0p9v";
					regulator-min-microvolt = <855000>;
					regulator-max-microvolt = <900000>;
					regulator-always-on;
					regulator-boot-on;
				};

				DA9062_BUCK3: buck3 {
					regulator-name = "io_1p8";
					regulator-min-microvolt = <1700000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-boot-on;
				};

				DA9062_BUCK4: buck4 {
					regulator-name = "memq_0p6";
					regulator-min-microvolt = <555000>;
					regulator-max-microvolt = <600000>;
					regulator-always-on;
					regulator-boot-on;
				};
#if 0
				DA9062_LDO2: ldo2 {
					regulator-name = "mem_1p8";
					regulator-min-microvolt = <1700000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-boot-on;
				};
#endif
				DA9062_LDO3: ldo3 {
					regulator-name = "mipi_1p2";
					regulator-min-microvolt = <1145000>;
					regulator-max-microvolt = <1200000>;
					regulator-always-on;
					regulator-boot-on;
				};

				DA9062_LDO4: ldo4 {
					/* peri_1p8v */
					regulator-name = "sdio_pwr";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <3300000>;
					regulator-always-on;
					regulator-boot-on;
				};
			};
		}; /* pmic da9062 */

		dp_serializer:max96851@60 {
			compatible	= "maxim,serdes";
			reg		= <0x60>;
		};

		dp_deserializer0:max96878@48 {
			compatible	= "maxim,serdes";
			reg		= <0x48>;
		};

		dp_deserializer1:max96878@4A {
			compatible	= "maxim,serdes";
			reg		= <0x4A>;
		};

		dp_deserializer2:max96878@4C {
			compatible	= "maxim,serdes";
			reg		= <0x4C>;
		};
	};

	max968xx_config {
		compatible = "telechips,max968xx_configuration";
		max968xx_evb_type = <0>; /* 0: TCC8059 EVB, 1: TCC8050/3 sv0.1, 2:TCC8050/3 sv1.0 */
		max96851_lane_02_13_swap = <1>;

		pinctrl-names = "default";
		pinctrl-0 = <&serdes_intb_qd>;
	};

	i2c@16310000 {
		status = "okay";
		port-mux = <13>; /* [0]SCL [1]SDA */
		pinctrl-names = "default";
		pinctrl-0 = <&i2c13_bus>;
	};

	i2c@16320000 {
		status = "okay";
		port-mux = <20>; /* [0]SCL [1]SDA */
		pinctrl-names = "default";
		pinctrl-0 = <&i2c20_bus>;
		ak4601: ak4601@10 {
			compatible = "akm,ak4601";
			ak4601,pdn-gpio = <&gpe 14 0>;
			cmute-gpios = <&gpe 15 1>;     //CODEC_MUTE    0: active high, 1: active low
			//amute-gpios = <&gpma 1 1>;       //AMP_MUTE      0: active high, 1: active low
			//stanby-gpios = <&gpma 2 0>;     //AMP_STBY      0: active high, 1: active low
			reg = <0x10>;
		};
	};

	i2c@16330000 {
		status = "okay";
		port-mux = <11>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2c11_bus>;

		mxt_touch@4b {
			compatible = "atmel,maxtouch";
			status = "okay";
			reg = <0x4b>;
			pinctrl-names = "default";
			pinctrl-0 = <&tsc0_default>;
			irq-gpios = <&gpsd1 9 0x0>;
			reset-gpios = <&gpb 16 0x0>;
		};

		mxt_touch@4d {
			compatible = "atmel,maxtouch";
			status = "disabled";
			reg = <0x4d>;
			pinctrl-names = "default";
			pinctrl-0 = <&tsc1_default>;
			irq-gpios = <&gpe 19 0x0>;
		};

		gpext1: tca9539@74 {
			compatible = "nxp,pca9539";
			reg = <0x74>;
			gpio-controller;
			#gpio-cells = <2>;
		};
	};

	i2c@16370000 {
		status = "okay";
		port-mux = <28>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2c28_bus>;

		/* video decoder using parallel interface output */
		adv7182: adv7182 {
			status		= "okay";
			compatible	= "adi,adv7182";
			pinctrl-names	= "default";
			pinctrl-0	= <&cam0_clk &cam0_data_8bit>;
			rst-gpios	= <&gpb 14 0>;
			reg		= <0x21>;	// 0x42 >> 1
			port {
				adv7182_out: endpoint {
					remote-endpoint = <&videoinput0_in>;
					io-direction	= "output";
					bus-width	= <8>;
				};
			};
		};

		/*
		 * ISPless camera module.
		 * It includes max9601 and is used with des(max9286)
		 */
		ar0147: ar0147 {
			/* Camera Image Sensor */
			status		= "disabled";
			compatible	= "onnn,ar0147";
			reg		= <0x10>;
			port {
				ar0147_out: endpoint {
					remote-endpoint = <&max96701_in>;
					io-direction	= "output";
				};
			};
		};
		/* HD camera module & max9286 using MIPI CSI2 output */
		max96701: max96701 {
			/* serializer */
			status		= "disabled";
			compatible	= "maxim,max96701";
			reg		= <0x40>;
			ports {
				#address-cells = <1>;
				#size-cells = <0>;
				port@0 {
					reg = <0>;
					max96701_in: endpoint {
						//remote-endpoint = <&ar0147_out>;
						//io-direction	= "input";
					};
				};
				port@1 {
					reg = <1>;
					max96701_out: endpoint {
						remote-endpoint = <&max9286_in0>;
						io-direction	= "output";
					};
				};
			};
		};

		max9286: max9286 {
			/* deserializer */
			status		= "disabled";
			compatible	= "maxim,max9286";
			pwd-gpios	= <&gpg 5 1>;
			intb-gpios	= <&gph 11 1>;
			//rst-gpios	= <&gpb 15 1>;  /* mcnex module sensor */
			reg		= <0x48>;	// 0x90 >> 1
			ports {
				#address-cells = <1>;
				#size-cells = <0>;
				/*
				 * 0 ~ 3
				 * input ports. The number is matched with VC
				 *
				 * 4
				 * output port.
				 */
				port@0 {
					reg = <0>;
					max9286_in0: endpoint {
						remote-endpoint = <&max96701_out>;
						io-direction	= "input";
						channel		= <0>;
					};
				};
				port@1 {
					reg = <1>;
					max9286_in1: endpoint {
						remote-endpoint = <&max96701_out>;
						io-direction	= "input";
						channel		= <1>;
					};
				};
				port@2 {
					reg = <2>;
					max9286_in2: endpoint {
						remote-endpoint = <&max96701_out>;
						io-direction	= "input";
						channel		= <2>;
					};
				};
				port@3 {
					reg = <3>;
					max9286_in3: endpoint {
						remote-endpoint = <&max96701_out>;
						io-direction	= "input";
						channel		= <3>;
					};
				};
				port@4 {
					reg = <4>;
					max9286_out: endpoint {
						remote-endpoint = <&mipi_csi2_0_in>;
						io-direction	= "output";
					};
				};
			};
		};

		/* FHD camera module & max96712 using MIPI CSI2 output */
		cxd5700: cxd5700 {
			/* ISP of camera module */
			status		= "disabled";
			compatible	= "sony,cxd5700";
			reg		= <0x18>;
			ports {
				#address-cells = <1>;
				#size-cells = <0>;
#if 0
				port@0 {
					reg = <0>;
					cxd5700_in: endpoint {
						remote-endpoint = <&cis>;
						io-direction	= "input";
					};
				};
#endif
				port@1 {
					reg = <1>;
					cxd5700_out: endpoint {
						remote-endpoint = <&max9275_in>;
						io-direction	= "output";
					};
				};
			};
		};

		max9275: max9275 {
			/* serializer */
			status		= "disabled";
			compatible	= "maxim,max9275";
			reg		= <0x40>;
			ports {
				#address-cells = <1>;
				#size-cells = <0>;
				port@0 {
					reg = <0>;
					max9275_in: endpoint {
						remote-endpoint = <&cxd5700_out>;
						io-direction	= "input";
					};
				};
				port@1 {
					reg = <1>;
					max9275_out: endpoint {
						remote-endpoint = <&max96712_in0>;
						io-direction	= "output";
					};
				};
			};
		};

		max96712: max96712 {
			/* deserializer */
			status		= "disabled";
			compatible	= "maxim,max96712";
			pwd-gpios	= <&gpg 5 1>;
			intb-gpios	= <&gph 11 1>;
			reg		= <0x2A>;
			ports {
				#address-cells = <1>;
				#size-cells = <0>;
				/*
				 * 0 ~ 3
				 * input ports. The number is matched with VC
				 *
				 * 4
				 * output port.
				 */
				port@0 {
					reg = <0>;
					max96712_in0: endpoint {
						remote-endpoint = <&max9275_out>;
						io-direction	= "input";
						channel		= <0>;
					};
				};
				port@1 {
					reg = <1>;
					max96712_in1: endpoint {
						remote-endpoint = <&max9275_out>;
						io-direction	= "input";
						channel		= <1>;
					};
				};
				port@2 {
					reg = <2>;
					max96712_in2: endpoint {
						remote-endpoint = <&max9275_out>;
						io-direction	= "input";
						channel		= <2>;
					};
				};
				port@3 {
					reg = <3>;
					max96712_in3: endpoint {
						remote-endpoint = <&max9275_out>;
						io-direction	= "input";
						channel		= <3>;
					};
				};
				port@4 {
					reg = <4>;
					max96712_out: endpoint {
						remote-endpoint = <&mipi_csi2_0_in>;
						io-direction	= "output";
					};
				};
			};
		};

#if 0
		/* TODO */
		videosource2: deserializer_max9276 {
			compatible	= "maxim,max9276";
			pinctrl-names	= "idle", "active";
			cifport		= <0>;
			pinctrl-0	= <&cam0_16bit_idle>;
			pinctrl-1	= <&cam0_clk &cam0_hsync &cam0_vsync &cam0_fld &cam0_data_16bit>;
			rst-gpios	= <&gpb 14 1>;
			intb-gpios	= <&gpma 19 1>;
			reg		= <0x4A>;	// 0x94 >> 1
		};

		videosource10: cis_ar0135 {
			compatible	= "onsemiconductor,ar0135";
			pinctrl-names	= "idle", "active";
			cifport		= <0>;
			pinctrl-0	= <&cam0_16bit_idle>;
			pinctrl-1	= <&cam0_clk &cam0_hsync &cam0_vsync &cam0_data_16bit>;
			rst-gpios	= <&gpb 14 1>;
			reg		= <0x10>;	// 0x20 >> 1
		};

		videosource11: deserializer_max96759 {
			compatible	= "maxim,max96759";
			pinctrl-names	= "idle", "active";
			cifport		= <0>;
			pinctrl-0	= <&cam0_16bit_idle>;
			pinctrl-1	= <&cam0_clk &cam0_hsync &cam0_vsync &cam0_fld &cam0_data_16bit>;
			reg		= <0x49>;	// 0x92 >> 1
		};
#endif
	};

	/*
	 * MIPI CSI2 0
	 */
	mipi_csi2_0@1bc00800 {
		status = "okay";
		/*
		 * 0: select output of MIPI0
		 * 1: select output of MIPI1
		 */
		mipi-chmux-0 = <0>;
		mipi-chmux-1 = <0>;
		mipi-chmux-2 = <0>;
		mipi-chmux-3 = <0>;

		/*
		 * 0: select output of MIPI1
		 * 1: select output of MIPI0
		 */
		mipi-chmux-4 = <0>;
		mipi-chmux-5 = <0>;
		mipi-chmux-6 = <0>;
		mipi-chmux-7 = <0>;

		/*
		 * 1: bypass isp
		 * 0: use isp
		 */
		isp0-bypass = <1>;
		isp1-bypass = <1>;
		isp2-bypass = <1>;
		isp3-bypass = <1>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			/*
			 * 0
			 * input port.
			 *
			 * 1 ~ 4
			 * output ports. (1: VC0 ~ 4: VC3)
			 */
			port@0 {
				reg = <0>;
				mipi_csi2_0_in: endpoint {
					remote-endpoint	= <&max9286_out>;
					//remote-endpoint	= <&max96712_out>;
					io-direction	= "input";
					num-channel = <4>;

					/*
					 * 0: CH0 only, no data interleave
					 * 1: DT only
					 * 2: VC only
					 * 3: VC and DT
					 */
					interleave-mode = <3>;
					//hs-settle = <2>; // for mcnex ispless 1ch
					//hs-settle = <19>; // for sekonix ispless 4ch
					hs-settle = <17>; // for HD 4ch
					//hs-settle = <37>; // for FHD 4ch
					data-lanes = <1 2 3 4>;
				};
			};

			port@1 {
				reg = <1>;
				mipi_csi2_0_out0: endpoint {
					//remote-endpoint = <&isp0_in>;
					remote-endpoint	= <&videoinput0_in>;
					io-direction	= "output";
					channel		= <0>;
					/*
					 * 0: Single pixel mode
					 * 1: Dual pixel mode (RAW8/10/12, YUV422)
					 * 2: Quad pixel mode (RAW8/10/12)
					 * 3: Invalid
					 */
					pixel-mode = <1>;
				};
			};
			port@2 {
				reg = <2>;
				mipi_csi2_0_out1: endpoint {
					remote-endpoint	= <&videoinput1_in>;
					io-direction	= "output";
					channel		= <1>;
					pixel-mode = <1>;
				};
			};
			port@3 {
				reg = <3>;
				mipi_csi2_0_out2: endpoint {
					remote-endpoint	= <&videoinput2_in>;
					io-direction	= "output";
					channel		= <2>;
					pixel-mode = <1>;
				};
			};
			port@4 {
				reg = <4>;
				mipi_csi2_0_out3: endpoint {
					remote-endpoint	= <&videoinput3_in>;
					io-direction	= "output";
					channel		= <3>;
					pixel-mode = <1>;
				};
			};
		};
	};

	isp0@1bc80000 {
		status = "okay";
/* for isp mcu debugging
		pinctrl-names = "default";
		pinctrl-0 = <&isp0_uart_tx &isp0_uart_rx>;
*/
		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;
				isp0_in: endpoint {
					remote-endpoint = <&mipi_csi2_0_out0>;
					io-direction	= "input";
				};
			};
			port@1 {
				reg = <1>;
				isp0_out: endpoint {
					remote-endpoint	= <&videoinput0_in>;
					io-direction	= "output";
				};
			};
		};
	};

	isp1@1bca0000 {
		status = "okay";
/* for isp mcu debugging
		pinctrl-names = "default";
		pinctrl-0 = <&isp1_uart_tx &isp1_uart_rx>;
*/
		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;
				isp1_in: endpoint {
					remote-endpoint = <&mipi_csi2_0_out1>;
					io-direction	= "input";
				};
			};
			port@1 {
				reg = <1>;
				isp1_out: endpoint {
					remote-endpoint	= <&videoinput1_in>;
					io-direction	= "output";
				};
			};
		};
	};

	isp2@1bcc0000 {
		status = "okay";
/* for isp mcu debugging
		pinctrl-names = "default";
		pinctrl-0 = <&isp2_uart_tx &isp2_uart_rx>;
*/
		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;
				isp2_in: endpoint {
					remote-endpoint = <&mipi_csi2_0_out2>;
					io-direction	= "input";
				};
			};
			port@1 {
				reg = <1>;
				isp2_out: endpoint {
					remote-endpoint	= <&videoinput2_in>;
					io-direction	= "output";
				};
			};
		};
	};

	isp3@1bce0000 {
		status = "okay";
/* for isp mcu debugging
		pinctrl-names = "default";
		pinctrl-0 = <&isp3_uart_tx &isp3_uart_rx>;
*/
		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;
				isp3_in: endpoint {
					remote-endpoint = <&mipi_csi2_0_out3>;
					io-direction	= "input";
				};
			};
			port@1 {
				reg = <1>;
				isp3_out: endpoint {
					remote-endpoint	= <&videoinput3_in>;
					io-direction	= "output";
				};
			};
		};
	};

	videoinput@0 {
		status = "okay";
		cifport	= <&cifport 0>;
/* for MIPI CSI2 input
		cifport = <&cifport 5>;
*/
		port {
			videoinput0_in: endpoint {
				remote-endpoint	= <&adv7182_out>;
				io-direction	= "input";
				bus-type	= <0>;
				stream-enable	= <0>;	// VIN_CTRL.SE
				flush-vsync	= <0>;	// VIN_MISC.FVS
/* for MIPI CSI2 input
				//remote-endpoint	= <&isp0_out>;
				remote-endpoint	= <&mipi_csi2_0_out0>;
				io-direction	= "input";
				bus-type	= <0>;
				stream-enable	= <1>;	// VIN_CTRL.SE
				flush-vsync	= <1>;	// VIN_MISC.FVS
*/
			};
		};
	};

	videoinput@1 {
		status = "disabled";
		cifport	= <&cifport 6>;

		port {
			videoinput1_in: endpoint {
				remote-endpoint	= <&mipi_csi2_0_out1>;
				io-direction	= "input";
				bus-type	= <0>;
				stream-enable	= <1>;	// VIN_CTRL.SE
				flush-vsync	= <1>;	// VIN_MISC.FVS
			};
		};
	};

	videoinput@2 {
		status = "disabled";
		cifport	= <&cifport 7>;

		port {
			videoinput2_in: endpoint {
				remote-endpoint	= <&mipi_csi2_0_out2>;
				io-direction	= "input";
				bus-type	= <0>;
				stream-enable	= <1>;	// VIN_CTRL.SE
				flush-vsync	= <1>;	// VIN_MISC.FVS
			};
		};
	};

	videoinput@3 {
		status = "disabled";
		cifport	= <&cifport 8>;

		port {
			videoinput3_in: endpoint {
				remote-endpoint	= <&mipi_csi2_0_out3>;
				io-direction	= "input";
				bus-type	= <0>;
				stream-enable	= <1>;	// VIN_CTRL.SE
				flush-vsync	= <1>;	// VIN_MISC.FVS
			};
		};
	};

	gpsb0@16900000 {
		status = "okay";
		gpsb-port = <22>;
		pinctrl-names = "idle", "active";
		pinctrl-0 = <&gpsb22_bus_idle>;
		pinctrl-1 = <&gpsb22_bus_spi>;

		/* cs-gpios */
		cs-gpios = <&gpg 8 0>,<&gpa 30 0>;

		#address-cells = <1>;
		#size-cells = <0>;
		spidev@0 {
			compatible = "rohm,dh2228fv";
			reg = <0>;
			spi-max-frequency = <20000000>;
		};
		spidev@1 {
			compatible = "rohm,dh2228fv";
			reg = <1>;
			spi-max-frequency = <20000000>;
		};
	};

	gpsb1@16910000 {
		status = "okay";
		gpsb-port = <15>;
		pinctrl-names = "idle", "active";
		pinctrl-0 = <&gpsb15_bus_idle>;
		pinctrl-1 = <&gpsb15_bus_tsif>;
	};

	gpsb2@16920000 {
		status = "okay";
		gpsb-port = <16>;
		pinctrl-names = "idle", "active";
		pinctrl-0 = <&gpsb16_bus_idle>;
		pinctrl-1 = <&gpsb16_bus_tsif>;
	};

	//This is for SDR solution.
	pinctrl@14200000 {
		m1dai1_bclk: m1dai1_bclk {
			 telechips,schmitt-input;
		};
		m1dai1_lrck: m1dai1_lrck {
			 telechips,schmitt-input;
		};
		m1dai1_dai0: m1dai1_dai0 {
			 telechips,schmitt-input;
		};
		m1dai1_dai1: m1dai1_dai1 {
			 telechips,schmitt-input;
		};
		m1dai1_dai2: m1dai1_dai2 {
			 telechips,schmitt-input;
		};
		m1dai1_dai3: m1dai1_dai3 {
			 telechips,schmitt-input;
		};
		m1dai0_bclk: m1dai0_bclk {
			 telechips,schmitt-input;
		};
		m1dai0_lrck: m1dai0_lrck {
			 telechips,schmitt-input;
		};
		m1dai0_dai0: m1dai0_dai0 {
			 telechips,schmitt-input;
		};
		m1dai0_dai1: m1dai0_dai1 {
			 telechips,schmitt-input;
		};
		m1dai0_dai2: m1dai0_dai2 {
			 telechips,schmitt-input;
		};
		m1dai0_dai3: m1dai0_dai3 {
			 telechips,schmitt-input;
		};
	};

	/* sdr */
	i2s@16101000 {
		compatible = "telechips,sdr";
		dev-name = "tcc-iq01";
		pinctrl-names = "default", "idle";
		pinctrl-0 = <&m1dai1_bclk &m1dai1_lrck &m1dai1_dai0 &m1dai1_dai1 &m1dai1_dai2 &m1dai1_dai3>;
		pinctrl-1 = <&m1dai1_bclk_idle &m1dai1_lrck_idle &m1dai1_dai0_idle &m1dai1_dai1_idle &m1dai1_dai2_idle &m1dai1_dai3_idle>;
		status = "okay";
	};

	i2s@16701000 {
		compatible = "telechips,sdr";
		dev-name = "tcc-iq23";
		pinctrl-names = "default", "idle";
		pinctrl-0 = <&m1dai0_bclk &m1dai0_lrck &m1dai0_dai0 &m1dai0_dai1>;
		pinctrl-1 = <&m1dai0_bclk_idle &m1dai0_lrck_idle &m1dai0_dai0_idle &m1dai0_dai1_idle>;
		status = "okay";
	};


	i2s@16A01000 {
		compatible = "telechips,sdr";
		dev-name = "tcc-hdr-blend";
		pinctrl-names = "default", "idle";
		pinctrl-0 = <&m0dai1_bclk &m0dai1_lrck &m0dai1_dai0>;
		pinctrl-1 = <&m0dai1_bclk_idle &m0dai1_lrck_idle &m0dai1_dai0_idle>;
		status = "okay";
	};

	audio_chmux@16051000{
		compatible = "telechips,audio-chmux-805x";
		dai = <1 0 3 0 1 99 99 99>;	// i2s0(x) i2s1(x) i2s2(x) i2s3(x) i2s4(x) i2s5(x) i2s6(x) i2s7(x)
		spdif = <99 99 2 3 99 99 99>;	// spdif0(x) spdif1(x) spdif2(x) spdif3(x) spdif4(x) spdif5(x) spdif6(x)
		status = "okay";
	};

	adma@16100000 { //SDR iq01
		status = "disabled";
	};

	adma@16700000 {	//SDR iq23
		status = "disabled";
	};

	adma@16800000 {	//Main Audio, SPDIF TX
		status = "okay";
	};

	adma@16200000 {	//BT, SPDIF RX
		status = "okay";
	};

	adma@16A00000 {
		status = "disabled";
	};

	i2s@16801000 {	//Main Audio
		pinctrl-names = "default", "idle";
		pinctrl-0 = <&m1dai3_mclk &m1dai3_bclk &m1dai3_lrck &m1dai3_dao0 &m1dai3_dai0>;
		pinctrl-1 = <&m1dai3_mclk_idle &m1dai3_bclk_idle &m1dai3_lrck_idle &m1dai3_dao0_idle &m1dai3_dai0_idle>;
		status = "okay";

	};

	i2s@16201000 {	//BT
		pinctrl-names = "default", "idle";
		pinctrl-0 = <&m0dai0_bclk &m0dai0_lrck &m0dai0_dao0 &m0dai0_dai0>;
		pinctrl-1 = <&m0dai0_bclk_idle &m0dai0_lrck_idle &m0dai0_dao0_idle &m0dai0_dai0_idle>;
		status = "okay";

	};


	spdif@16802000 {
		pinctrl-names = "default", "idle";
		pinctrl-0 = <&spdif2_tx>;
		pinctrl-1 = <&spdif2_tx_idle>;
		status = "okay";
	};

	spdif@16202000 {
		pinctrl-names = "default", "idle";
		pinctrl-0 = <&spdif3_rx>;
		pinctrl-1 = <&spdif3_rx_idle>;
		status = "okay";
	};

/*
	asrc0: asrc@16500000 {
		sync-mode = <1 1 1 1>; // 0:async, 1:sync
		//path-type = <0 0 0 0>; // 0:m2m, 1:m2p, 2:p2m
		path-type = <1 1 1 2>; // 0:m2m, 1:m2p, 2:p2m
		status = "okay";
	};

	sound@0 {
		compatible = "telechips,asrc-card";
		card-name = "TCC805x EVM Card";
		status = "okay";

		asrc = <&asrc0>;

		telechips,dai-link@0 {
			codec,format = "i2s";

			i2s = <&i2s0>;
			codec = <&ak4601>;
			codec,dai-name = "ak4601-aif1";

			asrc-m2p-pairs = <0 1 2>;
			asrc-p2m-pairs = <3>;

			mclk_div = <16>; // 4,6,8,16
			bclk_ratio = <64>; // 32,48,64fs
			samplerate = <48000>;
			format = <0>; // 0:S16LE, 1:S24LE
			channels = <2>; //2, 4, 6, 8
		};
	};
*/

	sound@0 {
		compatible = "telechips,snd-card";
		card-name = "TCC805x EVM Card";
		status = "okay";

		telechips,dai-link@0 {
			stream-name="I2S_0";
			codec,format = "i2s"; // i2s, left_j, right_j
			codec,continuous-clock;
			mclk_div = <16>; // 4,6,8,16
			bclk_ratio = <64>; // 32,48,64fs
			pcm = <&adma2>;
			dai = <&i2s2>;
			codec = <&ak4601>;
			codec,dai-name = "ak4601-aif1";
		};

		telechips,dai-link@1 {
			stream-name="SPDIF_0_TX";
			pcm = <&adma2>;
			dai = <&spdif2>;
			playback-only;
		};

		telechips,dai-link@2 {
			stream-name="SPDIF_1_RX";
			pcm = <&adma3>;
			dai = <&spdif3>;
			capture-only;
		};

		telechips,dai-link@3 {
			stream-name="I2S_3";
			codec,format = "i2s"; // i2s, left_j, right_j
			codec,continuous-clock;
			mclk_div = <16>; // 4,6,8,16
			bclk_ratio = <64>; // 32,48,64fs
			pcm = <&adma3>;
			dai = <&i2s3>;
		};
	};

	gmac@11C00000 {
		status = "okay";
		compatible = "snps,dwmac-4.10a","telechips,gmac";
//		phyon-gpio	= <&gpc 27 0>;
		phyrst-gpio = <&gpa 24 0>;
		phy-interface = "rgmii";
		interrupt-names = "macirq";
		phy-mode = "rgmii";
		snps,txpbl = <8>;
		snps,rxpbl = <2>;
		//ecid-mac-addr;
		txclk-o-dly = <31>;
		txclk-o-inv = <0>;
		txclk-i-dly = <0>;
		txclk-i-inv = <0>;
		txen-dly = <0>;
		txer-dly = <0>;
		txd0-dly = <0>;
		txd1-dly = <0>;
		txd2-dly = <0>;
		txd3-dly = <0>;
		txd4-dly = <0>;
		txd5-dly = <0>;
		txd6-dly = <0>;
		txd7-dly = <0>;
		rxclk-i-dly = <0>;
		rxclk-i-inv = <0>;
		rxdv-dly = <0>;
		rxer-dly = <0>;
		rxd0-dly = <0>;
		rxd1-dly = <0>;
		rxd2-dly = <0>;
		rxd3-dly = <0>;
		rxd4-dly = <0>;
		rxd5-dly = <0>;
		rxd6-dly = <0>;
		rxd7-dly = <0>;
		crs-dly = <0>;
		col-dly = <0>;
		pinctrl-names = "default", "mii", "rmii", "gmii", "rgmii";
		pinctrl-0 = <>;
		pinctrl-1 = <&gmac1_mdc &gmac1_mdio &gmac1_col &gmac1_crs &gmac1_txer &gmac1_rxer
					 &gmac1_txclk &gmac1_txen &gmac1_txd0 &gmac1_txd1 &gmac1_txd2 &gmac1_txd3
					 &gmac1_rxclk &gmac1_rxdv &gmac1_rxd0 &gmac1_rxd1 &gmac1_rxd2 &gmac1_rxd3>;
		pinctrl-2 = <&gmac1_mdc &gmac1_mdio
					 &gmac1_txclk &gmac1_txen &gmac1_txd0 &gmac1_txd1
					 &gmac1_rxer &gmac1_rxdv &gmac1_rxd0 &gmac1_rxd1>;
		pinctrl-3 = <&gmac1_mdc &gmac1_mdio &gmac1_col &gmac1_crs &gmac1_txer &gmac1_rxer
					 &gmac1_txclk &gmac1_txen &gmac1_txd0 &gmac1_txd1 &gmac1_txd2 &gmac1_txd3
					 &gmac1_txd4 &gmac1_txd5 &gmac1_txd6 &gmac1_txd7
					 &gmac1_rxclk &gmac1_rxdv &gmac1_rxd0 &gmac1_rxd1 &gmac1_rxd2 &gmac1_rxd3
					 &gmac1_rxd4 &gmac1_rxd5 &gmac1_rxd6 &gmac1_rxd7>;
		pinctrl-4 = <&gmac1_mdc &gmac1_mdio
					 &gmac1_txclk &gmac1_txen &gmac1_txd0 &gmac1_txd1 &gmac1_txd2 &gmac1_txd3
					 &gmac1_rxclk &gmac1_rxdv &gmac1_rxd0 &gmac1_rxd1 &gmac1_rxd2 &gmac1_rxd3>;
	};

	/* CP */
	auth-cp {
		compatible = "telechips, tcc-cp";
		cp-type = <2>;	    /* 2.0C = 1, 2.0B = 0, 3.0 = 2 */
		i2c-channel = <3>;	/* 0 ~ 3 */
		/*	power-ctrl-able; */
		/* cp_power-gpio = <&gpk 14 0>; */
		cp_reset-gpio = <&gpa 11 0>;
	};

	/* broadcast(ISDB-T/DAB/DMB) */

	/* H/W Demux */
	hwdemux: cm_bus@19000000 {
		 compatible = "telechips,hwdemux";
		 reg = <0x0 0x19000000 0x0 0x10000>,
			<0x0 0x19010000 0x0 0x10000>,
			<0x0 0x19080000 0x0 0x10000>,
			<0x0 0x19090000 0x0 0x10000>,
			<0x0 0x19100000 0x0 0x10000>;
			reg-names = "mbox_0", "mbox_1", "code_mem", "data_mem", "config";
		 status = "okay";
	};

	tcc_hwdmx_tsif@0 {
		compatible = "telechips,tcc89xx-hwdmx-tsif";
		tsif-id = <0>;
		tsif-port = <0>;
		pinctrl-names = "idle", "active";
		pinctrl-0 = <&ts0_idle>;
		pinctrl-1 = <&ts0_active>;
		clocks = <&clk_peri PERI_TSRX0>;
		clock-names = "tsrx0";
	};

	tcc_hwdmx_tsif@1 {
		compatible = "telechips,tcc89xx-hwdmx-tsif";
		tsif-id = <1>;
		tsif-port = <1>;
		pinctrl-names = "idle", "active";
		pinctrl-0 = <&ts1_idle>;
		pinctrl-1 = <&ts1_active>;
		clocks = <&clk_peri PERI_TSRX1>;
		clock-names = "tsrx1";
	};

	tcc_isdbt_ctrl {
		compatible = "telechips,tcc_isdbt_ctrl";
		pw-gpios = <&gpa 23 0>;
		dxb0-gpios = <&gpa 22 0>, <&gpa 21 0>, <0>, <0>;
		dxb1-gpios = <&gpa 31 0>, <&gpa 25 0>, <0>, <0>;
		ant-gpios = <0>, <0>;
	};

	tcc_dxb_ctrl {
		compatible = "telechips,tcc_dxb_ctrl";
		pw-gpios = <&gpa 23 0>;
		dxb0-gpios = <&gpa 22 0>, <&gpa 21 0>, <0>, <0>;
		dxb1-gpios = <&gpa 31 0>, <&gpa 25 0>, <0>, <0>;
		ant-gpios = <0>, <0>;
	};

	/* bluetooth */
	tcc_bluetooth {
		compatible = "telechips, tcc_bluetooth";
		bt_power-gpio = <&gpsd2 6 0>; /* BTWIFI_VBAT_EN */
		bt_reg_on-gpio = <&gpc 12 0>;
		status = "okay";
	};

	tcc_bt_dev {
		compatible = "telechips, tcc_bt_dev";
		status = "okay";
	};

	vout_drv@0 {
		status = "okay";
	};
	smartcard {
		compatible = "telechips,pl131-smartcard";
		reg = <0x16601000 0xFFF 0x16684000 0x10>;                //smartcard #0,
		clocks = <&clk_io IOBUS_SMARTCARD4>;
		clock-frequency = <50000000>;
		smartcard-clock = <4000000>;                             // initail value 4Mhz
		Fi = <372>;						 // clock rate conversion integer
		Di = <1>;						 // initail value

		uart_ch = <&uart1>;					 // uart and smartcard share clock
		uart_chnum = <1>;
		port-num = <0>;
		tda8024-use = <1>;
		rst_gpios =  <&gpb 16 0>;
		detect_gpios = <&gph 7 0>;
		pwren_gpios = <&gph 10 0>;
		data_gfb = <21>;
		clk_gfb = <22>;
		pinctrl-names = "default";
		pinctrl-0 = <&smartcard_bus>;
		status = "disable";
	};

	tcc_sfmc@1B000000 {
		compatible = "telechips,tcc_sfmc";
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&sfmc_clkcs &sfmc_databus4>;
	};
};

&tcc_pm_fw {
	pmic = <&da9062>;
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart18_data>;
	status = "okay";
};

/* bluetooth */
&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart20_data &uart20_rtscts>;
	dmas = <&udma1 2 2 &udma1 3 2>;
	dma-names = "tx", "rx";
	status = "okay";
};

&ictc {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&ictc_f_in>;
        f-in-gpio = <&gph 5 0>;
        //f-in-rtc-wkup;
        r-edge = <100>;
        f-edge = <100>;
        edge-matching-value = <100>;
        time-out = <0>;
        duty-rounding-value = <0x0ffffff0>;
        prd-rounding-value = <0x0fffffff0>;
        flt-f-mode = <0x3>;
        flt-r-mode = <0x3>;
        cmp-err-sel = <0>;
        abs-sel = <1>;
        edge-sel = <0>;
        tck-pol = <0>;
        tck-sel = <0>;
        lock-en = <0>;
        //r-edge-int
        //f-edge-int;
        //df-cnt-full-int
        f-chg-int;
        //d-chg-int;
        //e-cnt-full-int;
        //to-cnt-full-int;
        //nf-ed-cnt-full-int;
        //time-stamp-cnt;
};
