/*
 * Device tree for Telechips TCC8031 AVN board
 *
 * Copyright (C) 2018 Telechips Inc. - http://www.telechips.com
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

#include "tcc8030-android-lpd4321_sv0.1.dts"

&pinctrl {
	hdmi_panel: hdmi_panel {
		telechips,pins = "gpma-27", "gpc-8", "gpc-9";
		telechips,pin-function = <0>;
		telechips,pull-up;
	};
};

/ {


	/* hdmi override. */
	i2c@16300000 {
		hdmi_pvlbjt {
			compatible = "telechips,pvlbjt_020_01";
			reg=<0x22>;
			hdmi-ext-panel = <1>;
			backlight-on-gpios = <&gpma 27 0>; 	// BACKLIGHT ON
			power-on-gpios = <&gpc 8 0>;		// LCD_ON
			reset-gpios = <&gpc 9 0>;		// LCD_RST
			pinctrl-0 = <&hdmi_panel>;
		};
		hdmi_adv7613 {
			compatible = "telechips,adv7613";
			reg=<0x4C>;
			hdmi-ext-panel = <1>;			// HDMI EXT PANEL
			main-slave = <0x4C>;
			cec-slave = <0x40>;
			info-slave = <0x3E>;
			dpll-slave = <0x26>;
			ksv-slave = <0x32>;
			edid-slave = <0x36>;
			hdmi-slave = <0x34>;
			cp-slave = <0x22>;
			lvds-slave = <0x60>;
			backlight-on-gpios = <&gpma 27 0>; 	// BACKLIGHT ON
			power-on-gpios = <&gpc 8 0>;		// LCD_ON
			reset-gpios = <&gpc 9 0>;		// LCD_RST
			pinctrl-0 = <&hdmi_panel>;
		};
	};

	hdmi_tx_20@12400000 {
		status = "okay";
		pinctrl-0 = <&hdmi_hpd>;
		hdmi_ref_src_clock = <0>; // 0 XIN, 1 X-TAL, 2 PERI, 3, PMU XIN
		hdmi_phy_type = <0>; // 0 8031

		/* Source Product Description */
		product_description = "TCC8031_avn";

		/* fixed video identification code 1024: 1920x720p 60Hz */
		fixd_video_id_code = <1024>;
	};

	/* gmac
		gmac1_rxer	: gpc-14
 		gmac1_rxdv	: gpc-8
		gmac1_txer	: gpc-15 */
	gmac@11b00000 {
		status = "disable";
	};

	/* uart7_rtscts : gpc-8, gpc-9*/
	/* i2c14_bus 	: gpc-14, gpc-15 */

};
