// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device tree for Telechips TCC8990 STB board
 *
 * Copyright (C) 2018 Telechips Inc.
*/

#ifndef DT_OVERLAY
/dts-v1/;
#endif

#include "tcc8995-android-mini.dtsi"

&cpu_opp_table {
        compatible = "operating-points-v2";
        opp-shared;

        opp0 {
                opp-hz = /bits/ 64 <900000000>;
                opp-microvolt = <800000>;
                clock-latency-ns = <300000>;
        };

        opp1 {
                opp-hz = /bits/ 64 <890000000>;
                opp-microvolt = <800000>;
                clock-latency-ns = <300000>;
        };

        opp2 {
                opp-hz = /bits/ 64 <880000000>;
                opp-microvolt = <800000>;
                clock-latency-ns = <300000>;
        };

};

/* CPU Power Control */
&vdd_cpu {
	gpios = <&gpf 5 0x4>;
};

#if 0   // 0 : force detect, 1 : not force detect
/* SDIO */
&sdhc2 {
	status = "okay";
	controller-id = <2>;
	bus-width = <4>;
	max-frequency = <200000000>;
	pinctrl-names = "default", "active";

	tcc-mmc-clk-out-tap = <29>;
	tcc-mmc-cmd-tap = <4>;
	tcc-mmc-data-tap = <4>;

	cd-inverted;
	//wp-inverted;
	//non-removable;
	//broken-cd;
	keep-power-in-suspend;
	//enable-sdio-wakeup;
	//cap-power-off-card;
	cap-sdio-irq;
	cap2-no-sleep-cmd;
	cap-bus-width-test;

	//wp-gpios = <&gpb 7 0>;
	//cd-gpios = <&gpext1 5 0>;
	//vctrl-gpio = <&gpsd 10 0>;
	//pwr-gpio = <&gpext2 7 0>;

	//cd-polling;
	wifi-polling;

	/* High-speed SDR */
	//cap-sd-highspeed;
	//cap-mmc-highspeed;

	/* High-speed DDR(emmc & SD3.0 DDR50) */
	//cap-1-8V-ddr;
	//cap-uhs-ddr50;

	/* SD3.0 Common */
	//cap-vdd-165-195;

	/* SD3.0 SDR12 */
	//cap-uhs-sdr12;

	/* SD3.0 SDR25 */
	//cap-uhs-sdr25;
	//cap-uhs-driver_type_a;

	/* SD3.0 SDR50 */
	//cap-uhs-sdr50;
	//cap-uhs-driver_type_c;

	/* SD3.0 SDR104 */
	cap-uhs-sdr104;
	cap-uhs-driver_type_d;
	cap-uhs-cmd23;
	cap-adma;

	/* eMMC HS200 */
	//mmc-hs200-1_8v;
	//cap-uhs-driver_type_d;
	//cap-uhs-cmd23;
	//cap-adma;
};

&tcm3800 {
	compatible = "telechips, tcm3800";
	wifi_pwr-gpio = <&gpf 30 0>;
	wlreg_on-gpio = <&gpd 16 0>;
	wifi_pwr_1p8v-gpio = <&gpf 27 0>;
	//wifi_pwr_3p3v-gpio = <&gpsd1 7 0>;
};
#else
&vqmmc_sdio {
	compatible = "regulator-fixed";
	regulator-name = "vqmmc_sdio";
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	regulator-always-on;
};

&sdhc2 {
	compatible = "telechips,tcc-sdhci";
	//tcc-mmc-channel-mux = <2>;
	//tcc-mmc-clk-out-tap = <29>;
	//tcc-mmc-cmd-tap = <4>;
	//tcc-mmc-data-tap = <4>;

	//non-removable;
	keep-power-in-suspend;
	cap-sdio-irq;

	vqmmc-supply = <&vqmmc_sdio>;

	cd-force-presence-change;

	tcm38xx {
		compatible = "telechips,tcm38xx";
		wifi_pwr-gpio = <&gpf 30 0>;
		wlreg_on-gpio = <&gpd 16 0>;
		wifi_pwr_1p8v-gpio = <&gpf 27 0>;
		//wifi_pwr_3p3v-gpio = <&gpsd1 7 0>;
	};
};
#endif

/* USB 3.0 DRD */
&dwc3_phy {
	status = "disable";
};
&dwc3 {
	status = "disable";
	//usb3en-ctrl-able;
	//usb3en-gpio = <&gpc 22 0>;
	//vbus-source-ctrl;
	//vbus-ctrl-able;
	//vbus-gpio = <&gpd 19 0>;
	//pinctrl-names = "default";
	//vdd_dwc-supply = <&vdd_v5p0_reg>;
};

/* USB 2.0 HOST */
&ehci_phy {
	status = "disable";
	//vbus-ctrl-able;
	//vbus-gpio = <&gpd 15 0>;
};

&tcc_bluetooth {
	compatible = "telechips, tcc_bluetooth";
	bt_power-gpio = <&gpf 30 0>; /* BTWIFI_VBAT_EN */
	bt_reg_on-gpio = <&gpd 15 0>;
	bt_wake-gpio = <&gpd 0 0>;
	bt_hwake-gpio = <&gpd 9 0>;
	bt_power_1p8v-gpio = <&gpf 27 0>;
	//bt_power_3p3v-gpio = <&gpsd1 7 0>;
	status = "okay";
};

&gpio_keys_polled {
	compatible = "gpio-keys-polled";
	#address-cells = <1>;
	#size-cells = <0>;
	poll-interval = <100>;
	autorepeat;
	button@0 {
		label = "BT Auto Pair Key";
		linux,code = <218>;
		gpios = <&gpf 29 1>;
	};
};

/* bluetooth */
&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_data &uart4_rtscts>;
	dmas = <&udma1 2 2 &udma1 3 2>;
	dma-names = "tx", "rx";
	status = "okay";
};

&gpu {
        operating-points-v2 = <&gpu_opp_table>;
};

&gpu_opp_table {
    opp@444000000 {
	opp-hz = /bits/ 64 <400000000>;
	opp-core-mask = /bits/ 64 <0x3>;
    };
/*
    opp@592000000 {
        opp-hz = /bits/ 64 <390000000>;
        opp-core-mask = /bits/ 64 <0x3>;
    };
    opp@666000000 {
        opp-hz = /bits/ 64 <380000000>;
        opp-core-mask = /bits/ 64 <0x3>;
    };
*/
};
