// SPDX-License-Identifier: (GPL-2.0-or-later OR MIT)
/*
 * Copyright (C) Telechips Inc.
 */

#include "tcc803x-videoinput.dtsi"

&i2c0 {
	status = "okay";
	port-mux = <12>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c12_bus>;

	/* video decoder using parallel interface output */
	isl79988: isl79988 {
		status		= "okay";
		compatible	= "intersil,isl79988";
		pinctrl-names	= "default";
		pinctrl-0	= <&cam0_clk &cam0_data_8bit>;
		cifport		= <0>;
		rst-gpios	= <&gpb 14 0>;
		reg		= <0x44>;	// 0x88 >> 1
		port {
			isl79988_out: endpoint {
				remote-endpoint = <&videoinput0_in>;
				io-direction	= "output";
				bus-width	= <8>;
			};
		};
	};

	arxxxx: arxxxx@50 {
		status		= "okay";
		compatible	= "onnn,arxxxx";
		reg		= <0x50>;
		port {
			arxxxx_out: endpoint {
				remote-endpoint = <&max96701_in>;
				io-direction	= "output";
			};
		};
	};

	/* HD camera module & max9286 using MIPI CSI2 output */
	max96701: max96701@40 {
		/* serializer */
		status		= "okay";
		compatible	= "maxim,max96701";
		reg		= <0x40>;
		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;
				max96701_in: endpoint {
					remote-endpoint = <&arxxxx_out>;
					io-direction	= "input";
				};
			};
			port@1 {
				reg = <1>;
				max96701_out: endpoint {
					remote-endpoint = <&max9286_in0>;
					io-direction	= "output";
				};
			};
		};
	};

	max9286: max9286@48 {
		/* deserializer */
		status		= "okay";
		compatible	= "maxim,max9286";
		pwd-gpios	= <&gpg 5 1>;
		intb-gpios	= <&gph 11 1>;
		//rst-gpios	= <&gpb 15 1>;  /* mcnex module sensor */
		reg		= <0x48>;	// 0x90 >> 1
		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			/*
			 * 0 ~ 3
			 * input ports. The number is matched with VC
			 *
			 * 4
			 * output port.
			 */
			port@0 {
				reg = <0>;
				max9286_in0: endpoint {
					remote-endpoint = <&max96701_out>;
					io-direction	= "input";
					channel		= <0>;
				};
			};
			port@1 {
				reg = <1>;
				max9286_in1: endpoint {
					remote-endpoint = <&max96701_out>;
					io-direction	= "input";
					channel		= <1>;
				};
			};
			port@2 {
				reg = <2>;
				max9286_in2: endpoint {
					remote-endpoint = <&max96701_out>;
					io-direction	= "input";
					channel		= <2>;
				};
			};
			port@3 {
				reg = <3>;
				max9286_in3: endpoint {
					remote-endpoint = <&max96701_out>;
					io-direction	= "input";
					channel		= <3>;
				};
			};
			port@4 {
				reg = <4>;
				max9286_out: endpoint {
					remote-endpoint = <&mipi_csi2_0_in>;
					io-direction	= "output";
				};
			};
		};
	};
};

&mipi_csi2_0 {
	status = "okay";

	ports {
		/*
		 * 0
		 * input port.
		 *
		 * 1 ~ 4
		 * output ports. (1: VC0 ~ 4: VC3)
		 */
		port@0 {
			reg = <0>;
			mipi_csi2_0_in: endpoint {
				remote-endpoint	= <&max9286_out>;
				io-direction	= "input";
				num-channel = <4>;

				/*
				 * 0: CH0 only, no data interleave
				 * 1: DT only
				 * 2: VC only
				 * 3: VC and DT
				 */
				interleave-mode = <3>;
				//hs-settle = <2>; // for mcnex ispless 1ch
				//hs-settle = <19>; // for sekonix ispless 4ch
				hs-settle = <17>; // for HD 4ch
				data-lanes = <1 2 3 4>;
			};
		};
		port@1 {
			reg = <1>;
			mipi_csi2_0_out0: endpoint {
				remote-endpoint = <&videoinput1_in>;
				io-direction	= "output";
				channel		= <0>;
				/*
				 * 0: Single pixel mode
				 * 1: Dual pixel mode (RAW8/10/12, YUV422)
				 * 2: Quad pixel mode (RAW8/10/12)
				 * 3: Invalid
				 */
				pixel-mode = <1>;
			};
		};
		port@2 {
			reg = <2>;
			mipi_csi2_0_out1: endpoint {
				remote-endpoint	= <&videoinput4_in>;
				io-direction	= "output";
				channel		= <1>;
				pixel-mode = <1>;
			};
		};
		port@3 {
			reg = <3>;
			mipi_csi2_0_out2: endpoint {
				remote-endpoint	= <&videoinput5_in>;
				io-direction	= "output";
				channel		= <2>;
				pixel-mode = <1>;
			};
		};
		port@4 {
			reg = <4>;
			mipi_csi2_0_out3: endpoint {
				remote-endpoint	= <&videoinput6_in>;
				io-direction	= "output";
				channel		= <3>;
				pixel-mode = <1>;
			};
		};
	};
};

&videoinput0 {
	status		= "okay";
	cifport		= <&cifport		0>;
	use_pgl		= <0>;
	memory-region	= <&pmap_parking_gui
			   &pmap_rearcamera_viqe
			   &pmap_rearcamera
			   &pmap_vin_lastframe>;
	port {
		videoinput0_in: endpoint {
			remote-endpoint	= <&isl79988_out>;
			io-direction	= "input";
			bus-type	= <0>;
			bus-with	= <8>;
			stream-enable	= <0>;	// VIN_CTRL.SE
			flush-vsync	= <0>;	// VIN_MISC.FVS
		};
	};
};

&videoinput1 {
	status		= "okay";
	cifport		= <&cifport		5>;
	use_pgl		= <0>;
	memory-region	= <0 0 &pmap_rearcamera1>;
        port {
                videoinput1_in: endpoint {
                        remote-endpoint = <&mipi_csi2_0_out0>;
                        io-direction    = "input";
                        bus-type        = <0>;
                        bus-with        = <8>;
                        stream-enable   = <1>;  // VIN_CTRL.SE
                        flush-vsync     = <1>;  // VIN_MISC.FVS
                };
        };
};

&videoinput2 {
	status		= "disabled";
	cifport		= <&cifport 2>;
	use_pgl		= <0>;
	memory-region	= <0 0 &pmap_rearcamera2>;
};

&videoinput3 {
	status		= "disabled";
	cifport		= <&cifport 3>;
	use_pgl		= <0>;
	memory-region	= <0 0 &pmap_rearcamera3>;
};

&videoinput4 {
	status		= "okay";
	cifport		= <&cifport		6>;
	use_pgl		= <0>;
	memory-region	= <0 0 &pmap_rearcamera4>;
	port {
		videoinput4_in: endpoint {
			remote-endpoint	= <&mipi_csi2_0_out1>;
			io-direction	= "input";
			bus-type	= <0>;
			bus-with	= <8>;
			stream-enable	= <1>;	// VIN_CTRL.SE
			flush-vsync	= <1>;	// VIN_MISC.FVS
		};
	};
};

&videoinput5 {
	status		= "okay";
	cifport		= <&cifport		7>;
	use_pgl		= <0>;
	memory-region	= <0 0 &pmap_rearcamera5>;
	port {
		videoinput5_in: endpoint {
			remote-endpoint	= <&mipi_csi2_0_out2>;
			io-direction	= "input";
			bus-type	= <0>;
			bus-with	= <8>;
			stream-enable	= <1>;	// VIN_CTRL.SE
			flush-vsync	= <1>;	// VIN_MISC.FVS
		};
	};
};

&videoinput6 {
	status		= "okay";
	cifport		= <&cifport		8>;
	use_pgl		= <0>;
	memory-region	= <0 0 &pmap_rearcamera6>;
	port {
		videoinput6_in: endpoint {
			remote-endpoint	= <&mipi_csi2_0_out3>;
			io-direction	= "input";
			bus-type	= <0>;
			bus-with	= <8>;
			stream-enable	= <1>;	// VIN_CTRL.SE
			flush-vsync	= <1>;	// VIN_MISC.FVS
		};
	};
};
