// SPDX-License-Identifier: (GPL-2.0-or-later OR MIT)
/*
 * Telechips SoC series device tree overlay source
 *
 * Copyright (C) 2018 Telechips Inc.
 */

/dts-v1/;

#include "tcc-pmap-805x-android-customized.dtsi"

#include "tcc8050.dtsi"

/ {
};
