// SPDX-License-Identifier: (GPL-2.0-or-later OR MIT)
/*
 * Copyright (C) Telechips Inc.
 * Device tree for Telechips TCC8053 AVN board
 */

#ifndef DT_OVERLAY
/dts-v1/;
#endif

#include "tcc8053-android-avn.dtsi"

/* Definition for H/W LCD ports */
#define LCD_PORT1_PWR "gpmc-19"
#define LCD_PORT1_RST "gpmc-20"
#define LCD_PORT1_BLK "gph-6"

#define LCD_PORT2_PWR "gpc-8"
#define LCD_PORT2_RST "gpc-9"
#define LCD_PORT2_BLK "gph-7"

#define LCD_PORT3_PWR "gpmc-2"
#define LCD_PORT3_RST "gpmc-18"
#define LCD_PORT3_BLK "gpe-15"

#define LCD_PORT4_PWR "gpmb-25"
#define LCD_PORT4_RST "gpmb-19"
#define LCD_PORT4_BLK "gpmc-21"

#include "tcc8053-android-avn-display.dtsi"

/ {
	/* Describe here after remove this statement if you have something to be override. */
	tm123xdhp90 {
		compatible = "telechips,lvds-tm123xdhp90";
		status = "okay";
		lvds0 = <&lvds_phy>;
		power-on-gpios = <&gpc 8 0>;   // LCD_ON
		reset-gpios = <&gpc 9 0>;    // LCD_RST
		/*
			 display-on-gpios = ;    // LCD_DISP
			 lvds-stby-gpios = ;   // LCD_DE = LVDS_STBY in LVDS
			 lvds-power-gpios = ;    // LVDS_EN
			 lvds-power-gpios1 = ;   // V_5V0_EN
		 */
		mode = <1>;   /* 0: single 1: dual */
		ports = <2 3>;
		mux-select = <2>;
	};

	vqmmc_emmc: vqmmc_emmc {
		compatible = "regulator-fixed";
		regulator-name = "vqmmc_emmc";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	sdhc2_pwrseq: sdhc2_pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&gpsd1 8 GPIO_ACTIVE_LOW>;
	};

	vqmmc_sdio: vqmmc_sdio {
		compatible = "regulator-fixed";
		regulator-name = "vqmmc_sdio";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	tcc_sc_mmc: tcc_sc_mmc {
		compatible = "telechips,tcc805x-sc-mmc";
		status = "okay";

		max-frequency = <200000000>;
		bus-width = <8>;

		sc-firmware = <&tcc_sc_fw>;

		no-sdio;
		no-sd;
		non-removable;
		keep-power-in-suspend;
		disable-wp;

		mmc-hs400-1_8v;
		vqmmc-supply = <&vqmmc_emmc>;
	};

	tcc_sc_ufs: tcc_sc_ufs {
		compatible = "telechips,tcc805x-sc-ufs";
		status = "okay";
		sc-firmware = <&tcc_sc_fw>;
	};

	aux_detect {
		compatible = "telechips,aux_detect";
		status = "okay";

		pinctrl-names = "default";
		pinctrl-0 = <&aux_detect_pin>;

		aux-gpios = <&gpmd 13 1>;
		aux-active = <1>;
	};
};

/* eMMC */
&sdhc0 {
	bus-width = <8>;
	pinctrl-names = "default";
	pinctrl-0 = <&sd0_clk &sd0_cmd &sd0_bus8 &sd0_strb>;

	sdhci-caps-mask = <0x7 0x0>;

	non-removable;
	keep-power-in-suspend;
	disable-wp;
	cap-mmc-hw-reset;

	mmc-hs400-1_8v;
	tcc-mmc-taps = <0xF 0xF 0xF 0xF>;
	tcc-mmc-hs400-pos-tap = <0x6>;
	tcc-mmc-hs400-neg-tap = <0xB>;

	tcc-mmc-reset = <&gpsd0 14 0>;

	vqmmc-supply = <&vqmmc_emmc>;
};

&sd0_clk {
	telechips,no-pull;
};

&sd0_cmd {
	telechips,no-pull;
};

&sd0_bus8 {
	telechips,no-pull;
};

/* SDIO */
&sdhc1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&sd1_clk &sd1_cmd &sd1_bus4 &out0_clk>;

	keep-power-in-suspend;
	cap-sdio-irq;

	vqmmc-supply = <&vqmmc_sdio>;

	cd-force-presence-change;

	tcm38xx {
		compatible = "telechips,tcm38xx";
		wifi_pwr-gpio = <&gpmd 10 0>; /* BT_WIFI_VBAT_EN */
		wlreg_on-gpio = <&gpmd 11 0>; /* WIFI_REG_ON */
		//wifi_pwr_1p8v-gpio = <&gpsd1 6 0>;
		//wifi_pwr_3p3v-gpio = <&gpsd1 7 0>;
	};
};

&sd1_clk {
	telechips,pull-up;
};

&sd1_cmd {
	telechips,pull-up;
};

&sd1_bus4 {
	telechips,pull-up;
};

/* SD slot */
&sdhc2 {
#ifdef CONFIG_MMC_SDHCI_TCC_MODULE_ONLY
	/*
	 * In order to reduce boot time,
	 * we use the driver as module not built-in.
	 */
	compatible = "telechips,tcc805x-sdhci,module-only";
#endif
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&sd2_clk &sd2_cmd &sd2_bus4 &sd1_bus4_wp_cd &sd1_pwr>;

	broken-cd;
	cd-inverted;
	keep-power-in-suspend;

	wp-gpios = <&gpsd1 7 0>;
	cd-gpios = <&gpsd1 6 0>;

	mmc-pwrseq = <&sdhc2_pwrseq>;
	vqmmc-supply = <&DA9062_LDO4>;
};

&sd2_clk {
	telechips,no-pull;
};

&sd2_cmd {
	telechips,no-pull;
};

&sd2_bus4 {
	telechips,no-pull;
};

&a72_sc_mbox {
	status = "okay";
};

&tcc_sc_fw {
	status = "okay";
	mboxes = <&a72_sc_mbox 0>;
};

&tcc_scrshare0{
        status = "okay";
};

&vioc_mgr0 {
        status = "okay";
};

&rotary_encoder0 {
	compatible = "rotary-encoder";
	status = "disable";                 //To use it, change the status from disable to okay
	//pinctrl-names = "default";
	//pinctrl-0 = <&mc_vol>;			//Set gpio to match device
										//Interruptable gpio should be used
	//gpios = <&gpma 5 1>, <&gpma 6 1>;	//Set gpio to match device
										//Interruptable gpio should be used
	linux,axis = <0>;
	rotary-encoder,relative-axis;
};

&rotary_encoder1 {
	compatible = "rotary-encoder";
	status = "disable";                 //To use it, change the status from disable to okay
	//pinctrl-names = "default";
	//pinctrl-0 = <&mc_ctr>;			//Set gpio to match device
										//Interruptable gpio should be used
	//gpios = <&gpma 7 1>, <&gpma 8 1>;	//Set gpio to match device
										//Interruptable gpio should be used
	linux,axis = <0>;
	rotary-encoder,relative-axis;
};

&i2c0 {
	status = "okay";
	port-mux = <22>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c22_bus>;

	/* pmic da9131-D0 */
	da9131_D0: pmic@68 {
		compatible = "dlg,da9131";
		reg = <0x68>;

		regulators {
			DA9131_D0_BUCK1: buck1 {
				regulator-name = "core_0p8";
				regulator-always-on;
				regulator-boot-on;
			};

			DA9131_D0_BUCK2: buck2 {
				regulator-name = "gb_0p8";
				regulator-always-on;
				regulator-boot-on;
			};
		};
	}; /* pmic da9131-D0 */

	/* pmic da9131-D2 */
	da9131_D2: pmic@69 {
		compatible = "dlg,da9131";
		reg = <0x69>;

		regulators {
			DA9131_D2_BUCK1: buck1 {
				regulator-name = "cpu_1p0";
				regulator-always-on;
				regulator-boot-on;
			};

			DA9131_D2_BUCK2: buck2 {
				regulator-name = "io_3p3";
				regulator-always-on;
				regulator-boot-on;
			};
		};
	}; /* pmic da9131-D2 */

	da9062: pmic@58 {
		compatible = "dlg,da9062";
		reg = <0x58>;
		int-gpios = <&gpma 12 0>;

		da9062_gpio: gpio {
			compatible = "dlg,da9062-gpio";
			gpio-controller;
			#gpio-cells = <2>;
		};

		regulators {
			DA9062_BUCK1: buck1 {
				regulator-name = "memq_1p1";
				regulator-min-microvolt = <1045000>;
				regulator-max-microvolt = <1100000>;
				regulator-always-on;
				regulator-boot-on;
			};

			DA9062_BUCK2: buck2 {
				regulator-name = "cpu_0p9v";
				regulator-min-microvolt = <855000>;
				regulator-max-microvolt = <900000>;
				regulator-always-on;
				regulator-boot-on;
			};

			DA9062_BUCK3: buck3 {
				regulator-name = "io_1p8";
				regulator-min-microvolt = <1700000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
			};

			DA9062_BUCK4: buck4 {
				regulator-name = "memq_0p6";
				regulator-min-microvolt = <555000>;
				regulator-max-microvolt = <600000>;
				regulator-always-on;
				regulator-boot-on;
			};
#if 0
			/* Temp block for LDO2. Block min-microvolt of LDO2 */
			DA9062_LDO2: ldo2 {
				regulator-name = "mem_1p8";
				regulator-min-microvolt = <1700000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
			};
#endif
			DA9062_LDO3: ldo3 {
				regulator-name = "mipi_1p2";
				regulator-min-microvolt = <1145000>;
				regulator-max-microvolt = <1200000>;
				regulator-always-on;
				regulator-boot-on;
			};

			DA9062_LDO4: ldo4 {
				regulator-name = "sdio_pwr";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				regulator-boot-on;
			};
		};
	}; /* pmic da9062 */
};

&i2c1 {
	status = "okay";
	port-mux = <10>; /* [0]SCL [1]SDA */
	pinctrl-names = "default";
	pinctrl-0 = <&i2c10_bus>;
};

&i2c2 {
	status = "okay";
	port-mux = <30>; /* [0]SCL [1]SDA */
	pinctrl-names = "default";
	pinctrl-0 = <&i2c30_bus>;
	ak4601: ak4601@10 {
		compatible = "akm,ak4601";
		ak4601,pdn-gpio = <&gpmb 29 0>;
		cmute-gpios = <&gpmc 5 1>;     //CODEC_MUTE    0: active high, 1: active low
		//amute-gpios = <&gpma 1 1>;       //AMP_MUTE      0: active high, 1: active low
		//stanby-gpios = <&gpma 2 0>;     //AMP_STBY      0: active high, 1: active low
		reg = <0x10>;
	};
};

&i2c3 {
	status = "okay";
	port-mux = <11>; /* [0]SCL [1]SDA */
	pinctrl-names = "default";
	pinctrl-0 = <&i2c11_bus>;
};

&i2c4 {
	status = "okay";
	port-mux = <6>; /* [0]SCL [1]SDA */
	pinctrl-names = "default";
	pinctrl-0 = <&i2c6_bus>;

	mxt_touch@4b {
		compatible = "atmel,maxtouch";
		status = "okay";
		reg = <0x4b>;
		pinctrl-names = "default";
		pinctrl-0 = <&tsc0_default>;
		irq-gpios = <&gpsd1 9 0x0>;
		reset-gpios = <&gpb 16 0x0>;
	};
};

&i2c5 {
	status = "okay";
	port-mux = <33>; /* [0]SCL [1]SDA */
	pinctrl-names = "default";
	pinctrl-0 = <&i2c33_bus>;

	mxt_touch@4d {
		compatible = "atmel,maxtouch";
		status = "disabled";
		reg = <0x4d>;
		pinctrl-names = "default";
		pinctrl-0 = <&tsc1_default>;
		irq-gpios = <&gpa 21 0x0>;
		reset-gpios = <&gpmd 8 0x0>;
	};

	mxt_touch@4f {
		compatible = "atmel,maxtouch";
		status = "disabled";
		reg = <0x4f>;
		pinctrl-names = "default";
		pinctrl-0 = <&tsc2_default>;
		irq-gpios = <&gpc 13 0x0>;
		reset-gpios = <&gpc 12 0x0>;
	};
};

&i2c6 {
		status = "okay";
		port-mux = <37>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2c37_bus>;

		dp_serializer:max96851@60 {
			compatible	= "maxim,serdes";
			reg		= <0x60>;
		};

		dp_deserializer0:max96878@48 {
			compatible	= "maxim,serdes";
			reg		= <0x48>;
		};

		dp_deserializer1:max96878@4A {
			compatible	= "maxim,serdes";
			reg		= <0x4A>;
		};

		dp_deserializer2:max96878@4C {
			compatible	= "maxim,serdes";
			reg		= <0x4C>;
		};

		dp_deserializer3:max96878@68 {
			compatible	= "maxim,serdes";
			reg		= <0x68>;
		};
};

&max968xx_config {
	compatible = "telechips,max968xx_configuration";
	max968xx_evb_type = <1>; /* 0: TCC8059 EVB, 1: TCC8050/3 sv0.1, 2:TCC8050/3 sv1.0 */
	max96851_lane_02_13_swap = <1>;

	pinctrl-names = "default", "default";
	pinctrl-0 = <&serdes_intb_sv01>;
	pinctrl-1 = <&serdes_lock>;
};

/* USB 2.0 Host */
&ehci_phy {
	status = "disabled";
	vbus-ctrl-able;
	vbus-gpio = <&gpmc 7 0>; /* 0 : GPIO_ACTIVE_HIGH, 1 : GPIO_ACTIVE_LOW */
};

&ehci {
	status = "disabled";
	hcd_id = <0>;
	phy-type = <1>; /* 0 : Nano PHY, 1 : Pico PHY */
	TXVRT = <0xB>;
	TXRISET = <0x3>;
	TXAT = <0x1>;
};

&ohci {
	status = "disabled";
};

/* USB 2.0 DRD */
&dwc_otg_phy {
	status = "okay";
	vbus-ctrl-able;
	vbus-gpio = <&gpmc 6 0>; /* 0 : GPIO_ACTIVE_HIGH, 1 : GPIO_ACTIVE_LOW */
};

&mhst_phy {
	status = "okay";
};

&dwc_otg {
	status = "okay";
	phy-type = <1>; /* 0 : Nano PHY, 1 : Pico PHY */
};

/* USB 3.0 DRD */
&dwc3_phy {
	status = "okay";
	vbus-ctrl-able;
	vbus-gpio = <&gpmc 8 0>; /* 0 : GPIO_ACTIVE_HIGH, 1 : GPIO_ACTIVE_LOW */
};

&dwc3 {
	status = "okay";
};

&aux_detect_pin {
	telechips,pins = "gpmd-13";
};
