/*
 * Device tree for Telechips TCC8021 board
 *
 * Copyright (C) 2016 Telechips Inc. - http://www.telechips.com
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

#include "tcc8021.dtsi"
#include "tcc802x-linux.dtsi"

/ {
	model = "Telechips TCC8021 Evaluation Board for AVN";
	compatible = "telechips,tcc8021", "telechips,tcc802x";

	chosen {
		bootargs = "vmalloc=480M console=ttyAMA0,115200n8";
		stdout-path = &uart0;
	};

	memory@20000000 {
		device_type = "memory";
		reg = <0x20000000 0x80000000>;
	};

	pcie@11380000 {
		reset-gpio = <&gpa 0 0>;
		status = "okay";
	};

	pcie@11880000 {
		reset-gpio = <&gpa 1 0>;
		status = "okay";
	};

/*
	nand@16400000 {
		compatible = "telechips,nand-v8";
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&nand_rdy &nand_cs0
			     &nand_we &nand_oe &nand_cle &nand_ale
			     &nand_wp &nand_databus8>;
	};
*/

	/* USB 2.0 OTG */

	ehci_phy@119a0010{
		status = "okay";
		vbus-ctrl-able;
		vbus-gpio = <&gpk 10 0>;
	};

	ehci@11200000 {
		status = "okay";
		hcd_id = <0>;
		phy-type = <1>;	    //pico phy = 1, nano phy = 0
		vbus-ctrl-able;
		vbus-gpio = <&gpk 10 0>;

		//sq_level_ctl;
		TXVRT = <0xB>;
		TXRISET = <0x3>;
		TXAT = <0x1>;
	};

	ohci@11100000 {
		status = "okay";
		vbus-ctrl-able;
		vbus-gpio = <&gpk 10 0>;
	};

	dwc_otg_phy@119A0100 {
		status = "okay";

		vbus-ctrl-able;
		vbus-gpio = <&gpk 9 0>;
	};

	mux_host_phy@119A00DC {
		status = "okay";

		vbus-ctrl-able;
		vbus-gpio = <&gpk 9 0>;
	};

	dwc_otg@11080000 {
	    status = "okay";
	    phy-type = <1>;     //pico phy = 1, nano phy = 0

	    vbus-ctrl-able;
	    vbus-gpio = <&gpk 9 0>;
	};
	thermal@14700000 {
		compatible = "telechips,tcc-thermal";
		reg = <0x14700000 0x4 0x14700030 0x4 0x14200290 0x4 0x1420029C 0x4>;
		status = "okay";

		throttle_count = <5>;
		throttle_active_count = <0>;
		throttle_passive_count = <5>;

		cal_type = "TYPE_ONE_POINT_TRIMMING";
		polling-delay-idle = <0>;
		polling-delay-passive = <0>;

		throttle_table {
			throttle_tab_0 {
				temp = <75>;
				freq_max_cluster0 = <1000000>;
				freq_max_cluster1 = <900000>;
			};
			throttle_tab_1 {
				temp = <80>;
				freq_max_cluster0 = <900000>;
				freq_max_cluster1 = <810000>;
			};
			throttle_tab_2 {
				temp = <85>;
				freq_max_cluster0 = <800000>;
				freq_max_cluster1 = <720000>;
			};
			throttle_tab_3 {
				temp = <90>;
				freq_max_cluster0 = <700000>;
				freq_max_cluster1 = <630000>;
			};
			throttle_tab_4 {
				temp = <95>;
				freq_max_cluster0 = <600000>;
				freq_max_cluster1 = <540000>;
			};
		};
	};

	cpu-id@14200290{
		compatible = "telechips,tcc-cpu-id";
		reg = <0x14200290 0x4 0x14200298 0x4 0x1420029C 0x4 0x14400014 0x4>;
		status = "okay";
	};

	overlaymixer:overlaymixer@1A100000 {
		status ="okay";
		contiguousSize = <0x1000000>;  /* 16MB (if > 512MB RAM) refer to Guide 27 Page */
		baseAddress = <0x20000000>;
		physSize = <0x80000000>; /*  DRAM size (0x40000000 = 1GB, 0x80000000 = 2GB) */
		};

	i2c@16300000 {
		status = "okay";
		port-mux = <77 78>; /* [0]SCL [1]SDA */
		pinctrl-names = "default";
		pinctrl-0 = <&i2c2_bus>;
		vtl_ct26x@01 {
			compatible = "vtl,ct36x";
		    reg = <0x01>;
		    pinctrl-names = "default";
		    pinctrl-0 = <&tsc_default>;
		    int-gpios = <&gpd 8 0>;
		    rst-gpios = <&gpk 7 0>;
		};
		ssd253x@48 {
			compatible = "solomon,ssd253x";
			reg = <0x48>;
			pinctrl-names = "default";
			pinctrl-0 = <&tsc_default>;
			int-gpios = <&gpd 8 0>;
			rst-gpios = <&gpk 7 0>;
		};
		pmic: rt5t56x@32 {
			compatible = "Richtek,rt5t56x";
			reg = <0x32>;
			int-gpios = <&gpb 22 0>; /*<&gpf 16 0> */

			onkey {
				compatible = "Richtek,rn5t56x-onkey";
				Richtek,disable-key-power;
			};
			
			regulators {
				RN5T56X_ID_BUCK1: buck1 {
					regulator-name = "VCORE";
					regulator-min-microvolt = <600000>;
					regulator-max-microvolt = <3500000>;
					//regulator-max-microamp = <3000000>;
					regulator-always-on;
				};
				RN5T56X_ID_BUCK2: buck2 {
					regulator-name = "VMEMQ";
					regulator-min-microvolt = <600000>;
					regulator-max-microvolt = <3500000>;
					//regulator-max-microamp = <3000000>;
					regulator-always-on;
				};
				RN5T56X_ID_BUCK3: buck3 {
					regulator-name = "VCPU";
					regulator-min-microvolt = <600000>;
					regulator-max-microvolt = <3500000>;
					//regulator-max-microamp = <2000000>;
					regulator-always-on;
				};
				RN5T56X_ID_BUCK4: buck4 {
					regulator-name = "VIO3V3";
					regulator-min-microvolt = <600000>;
					regulator-max-microvolt = <3500000>;
					regulator-max-microamp = <2000000>;
					regulator-always-on;
				};
				RN5T56X_ID_LDO1: ldo1 {
					regulator-name = "VIO1V2";
					regulator-min-microvolt = <900000>;
					regulator-max-microvolt = <3500000>;
					regulator-max-microamp = <300000>;
					regulator-always-on;
				};
				RN5T56X_ID_LDO2: ldo2 {
					regulator-name = "VIO1V8";
					regulator-min-microvolt = <900000>;
					regulator-max-microvolt = <3500000>;
					regulator-max-microamp = <300000>;
					regulator-always-on;
				};
				RN5T56X_ID_LDO3: ldo3 {
					regulator-name = "VIO3V3_1V8";
					regulator-min-microvolt = <600000>;
					regulator-max-microvolt = <3500000>;
					//regulator-max-microamp = <300000>;
					regulator-always-on;
				};
				RN5T56X_ID_LDO4: ldo4 {
					regulator-name = "VDD33D_PERI0";
					regulator-min-microvolt = <900000>;
					regulator-max-microvolt = <3500000>;
					//regulator-max-microamp = <200000>;
					regulator-always-on;
				};
				RN5T56X_ID_LDO5: ldo5 {
					regulator-name = "VDD33D_PERI5";
					regulator-min-microvolt = <900000>;
					regulator-max-microvolt = <3500000>;
					//regulator-max-microamp = <200000>;
					regulator-always-on;
				};
				RN5T56X_ID_LDORTC1: ldortc1 {
					regulator-name = "vdd_reserve1";
					regulator-min-microvolt = <1200000>;
					regulator-max-microvolt = <3500000>;
					//regulator-max-microamp = <30000>;
					regulator-always-on;
				};
				RN5T56X_ID_LDORTC2: ldortc2 {
					regulator-name = "vdd_reserve2";
					regulator-min-microvolt = <900000>;
					regulator-max-microvolt = <3500000>;
					//regulator-max-microamp = <10000>;
					regulator-always-on;
				};
			};
		};

	};

	i2c@16310000 {
		status = "okay";
		port-mux = <79 80>; /* [0]SCL [1]SDA */
		pinctrl-names = "default";
		pinctrl-0 = <&i2c3_bus>;
	};

	i2c@16320000 {
		status = "disabled";
		port-mux = <113 114>; /* [0]SCL [1]SDA */
		pinctrl-names = "default";
		pinctrl-0 = <&i2c4_bus>;

		ak4601: ak4601@10 {
			compatible = "akm,ak4601";
			//ak4601,pdn-gpio = <&gpe 4 1>;
			reg = <0x10>;
		};

	};

	i2c@16330000 {
		status = "okay";
		port-mux = <149 150>; /* [0]SCL [1]SDA */
		pinctrl-names = "default";
		pinctrl-0 = <&i2c5_bus>;
	};

	gpsb0@16900000 {
		status = "okay";
		gpsb-port = <102 99 101 100>;	/* [0]SDI [1]SCLK [2]SFRM [3]SDO */
		pinctrl-names = "idle", "active";
		pinctrl-0 = <&gpsb0_bus>;
		pinctrl-1 = <&gpsb0_bus>;

		#address-cells = <1>;
		#size-cells = <0>;
		spidev@0 {
			compatible = "rohm,dh2228fv";
			reg = <0>;
			spi-max-frequency = <2000000>;
		};

	};

	gpsb1@16910000 {
		status = "okay";
		gpsb-port = <106 103 105 104>;	/* [0]SDI [1]SCLK [2]SFRM [3]SDO */
		pinctrl-names = "idle", "active";
		pinctrl-0 = <&gpsb1_bus>;
		pinctrl-1 = <&gpsb1_bus>;
	};

	gpsb2@16920000 {
		status = "okay";
		gpsb-port = <20 17 18 19>;	/* [0]SDI [1]SCLK [2]SFRM [3]SDO */
		pinctrl-names = "idle", "active";
		pinctrl-0 = <&gpsb2_bus>;
		pinctrl-1 = <&gpsb2_bus>;
	};

/*
	i2s@16701000 {
		compatible = "telechips,sdr";
		pinctrl-names = "default", "1port", "2port", "4port";
		pinctrl-0 = <>;
		pinctrl-1 = <&mi2s0_clks &mi2s0_d0>;
		pinctrl-2 = <&mi2s0_clks &mi2s0_d0 &mi2s0_d1>;
		pinctrl-3 = <&mi2s0_clks &mi2s0_d0 &mi2s0_d1 &mi2s0_d2 &mi2s0_d3>;
		ports_num = <1>; // 1,2,4
		clk-mux = /bits/ 8 <255 107 108>; // MCLK BCLK LRCK 
		dain-mux = /bits/ 8 <109 110 111 112>; // DAI0 DAI1 DAI2 DAI3
		status = "okay";
	};
*/

	i2s@16101000 {
		//pinctrl-names = "default";
		//pinctrl-0 = <&mi2s1_clks &mi2s1_d0 &mi2s1_d1>;
		clock-frequency = <49152000>;   // 48000*1024
		clk-mux = /bits/ 8 <163 164 165>; // MCLK BCLK LRCK
		daout-mux = /bits/ 8 <166 167>; // DAO0 DAO1 DAO2 DAO3
		dain-mux = /bits/ 8 <168>; // DAI0 DAI1 DAI2 DAI3
		status = "disabled";
	};

	i2s@16201000 {
		//pinctrl-names = "default";
		//pinctrl-0 = <&bti2s_clks &bti2s_d0>;
		clock-frequency = <49152000>;   // 48000*1024
		clk-mux = /bits/ 8 <255 175 176>; // MCLK BCLK LRCK
		daout-mux = /bits/ 8 <177>; // DAO0 DAO1 DAO2 DAO3
		dain-mux = /bits/ 8 <178>; // DAI0 DAI1 DAI2 DAI3
		status = "okay";
	};

	i2s@10 {
		status = "okay";
	};

	i2s@11 {
		status = "okay";
	};

	i2s@12 {
		status = "okay";
	};

	spdif@16102000 {
		//pinctrl-names = "default";
		//pinctrl-0 = <&mdai0_spdif_tx>;
		port-mux = /bits/ 8 <157 158>; /* TX RX */
		status = "okay";
	};
					/*TX RX*/

	dummy: dummy@0 {
		compatible = "telechips,dummy";
	};

	sound@1 {
		compatible = "telechips,snd-tcc8021-evm";
		telechips,model = "TCC Audio Card";

		telechips,dai-controller = <&i2s1 &spdif0>;
		telechips,audio-codec = <&dummy &dummy>;
		status="okay";
	};

	sound@2 {
		compatible = "telechips,snd-dsp";
		telechips,model = "TCC Audio Card";

		telechips,dai-controller = <&i2s10 &i2s11 &i2s12>;
		telechips,audio-codec = <&dummy &dummy &dummy>;
		status="okay";
	};

	tcc_dsp@0 {
		status="okay";
	};

	gmac@11b00000 {
		status = "okay";
//		phyon-gpio	= <&gpc 27 0>;
		phyrst-gpio = <&gpc 29 0>;
		phy-interface = "rgmii";
		ecid-mac-addr;
		txclk-o-dly = <31>;
		txclk-o-inv = <0>;
		txclk-i-dly = <0>;
		txclk-i-inv = <0>;
		txen-dly = <0>;
		txer-dly = <0>;
		txd0-dly = <0>;
		txd1-dly = <0>;
		txd2-dly = <0>;
		txd3-dly = <0>;
		txd4-dly = <0>;
		txd5-dly = <0>;
		txd6-dly = <0>;
		txd7-dly = <0>;
		rxclk-i-dly = <0>;
		rxclk-i-inv = <0>;
		rxdv-dly = <0>;
		rxer-dly = <0>;
		rxd0-dly = <0>;
		rxd1-dly = <0>;
		rxd2-dly = <0>;
		rxd3-dly = <0>;
		rxd4-dly = <0>;
		rxd5-dly = <0>;
		rxd6-dly = <0>;
		rxd7-dly = <0>;
		crs-dly = <0>;
		col-dly = <0>;
		pinctrl-names = "default", "mii", "rmii", "gmii", "rgmii";
		pinctrl-0 = <>;
		pinctrl-1 = <&gmac1_mdc &gmac1_mdio &gmac1_col &gmac1_crs &gmac1_txer &gmac1_rxer
					 &gmac1_txclk &gmac1_txen &gmac1_txd0 &gmac1_txd1 &gmac1_txd2 &gmac1_txd3
					 &gmac1_rxclk &gmac1_rxdv &gmac1_rxd0 &gmac1_rxd1 &gmac1_rxd2 &gmac1_rxd3>;
		pinctrl-2 = <&gmac1_mdc &gmac1_mdio
					 &gmac1_txclk &gmac1_txen &gmac1_txd0 &gmac1_txd1
					 &gmac1_rxer &gmac1_rxdv &gmac1_rxd0 &gmac1_rxd1>;
		pinctrl-3 = <&gmac1_mdc &gmac1_mdio &gmac1_col &gmac1_crs &gmac1_txer &gmac1_rxer
					 &gmac1_txclk &gmac1_txen &gmac1_txd0 &gmac1_txd1 &gmac1_txd2 &gmac1_txd3
					 &gmac1_txd4 &gmac1_txd5 &gmac1_txd6 &gmac1_txd7
					 &gmac1_rxclk &gmac1_rxdv &gmac1_rxd0 &gmac1_rxd1 &gmac1_rxd2 &gmac1_rxd3
					 &gmac1_rxd4 &gmac1_rxd5 &gmac1_rxd6 &gmac1_rxd7>;
		pinctrl-4 = <&gmac1_mdc &gmac1_mdio 
					 &gmac1_txclk &gmac1_txen &gmac1_txd0 &gmac1_txd1 &gmac1_txd2 &gmac1_txd3 
					 &gmac1_rxclk &gmac1_rxdv &gmac1_rxd0 &gmac1_rxd1 &gmac1_rxd2 &gmac1_rxd3>;
	};

	/* CP */
	auth-cp {
		compatible = "telechips, tcc-cp";
		cp-type = <1>;	    /* 2.0C = 1, 2.0B = 0 */
		i2c-channel = <1>;	/* 0 ~ 3 */
		/*	power-ctrl-able; */
		/* cp_power-gpio = <&gpk 14 0>; */
		cp_reset-gpio = <&gpk 14 0>;
	};

 	sdhc@16440000 { // SD Card
		status = "okay";
		controller-id = <0>;
		bus-width = <4>;
		max-frequency = <200000000>;
		pinctrl-names = "default", "active";
		pinctrl-0 = <&sd0_d_bus4_idle>;
		pinctrl-1 = <&sd0_d_clk &sd0_d_cmd &sd0_d_bus4>;
		cd-inverted;
		//wp-inverted;
		//non-removable;
		//broken-cd;
		keep-power-in-suspend;
		//enable-sdio-wakeup;
		//cap-power-off-card;
		cap-sdio-irq;
		cap2-no-sleep-cmd;
		cap-bus-width-test;

		wp-gpios = <&gpd 14 0>;
		cd-gpios = <&gpk 29 0>;
		//vctrl-gpio = <&gpsd 10 0>;
		pwr-gpio = <&gpk 30 0>;

		//cd-polling;
		//wifi-polling;

		/* High-speed SDR */
		cap-sd-highspeed;
		cap-mmc-highspeed;

		/* High-speed DDR(emmc & SD3.0 DDR50) */
		//cap-1-8V-ddr;
		//cap-uhs-ddr50;

		/* SD3.0 Common */
		//cap-vdd-165-195;

		/* SD3.0 SDR12 */
		//cap-uhs-sdr12;

		/* SD3.0 SDR25 */
		//cap-uhs-sdr25;
		//cap-uhs-driver_type_a;

		/* SD3.0 SDR50 */
		//cap-uhs-sdr50;
		//cap-uhs-driver_type_c;

		/* SD3.0 SDR104 */
		//cap-uhs-sdr104;
		//cap-uhs-driver_type_d;
		//cap-uhs-cmd23;
		//cap-adma;
	};

 	sdhc@16450000 { // eMMC
 		status = "okay";
		controller-id = <1>;
		bus-width = <8>;
		max-frequency = <200000000>;
		pinctrl-names = "default", "active";
		pinctrl-0 = <&sd1_a_bus8_idle>;
		pinctrl-1 = <&sd1_a_clk &sd1_a_cmd &sd1_a_bus8>;
		//cd-inverted;
		//wp-inverted;
		non-removable;
		//broken-cd;
		//keep-power-in-suspend;
		//enable-sdio-wakeup;
		//cap-power-off-card;
		cap-sdio-irq;
		cap2-no-sleep-cmd;
		cap-bus-width-test;

		//wp-gpios = <&gpb 7 0>;
		//cd-gpios = <&gpext1 5 0>;
		//vctrl-gpio = <&gpa 5 0>;
		//pwr-gpio = <&gpext2 7 0>;
		//emmc-rst-gpio = <&gpa 6 0>; // To do : add handling code

		//cd-polling;
		//wifi-polling;

		/* High-speed SDR */
		cap-sd-highspeed;
		cap-mmc-highspeed;

		/* High-speed DDR(emmc & SD3.0 DDR50) */
		cap-1-8V-ddr;
		cap-uhs-ddr50;

		/* emmc hs200 & SD3.0 Common */
		//cap-vdd-165-195;

		/* SD3.0 SDR12 */
		//cap-uhs-sdr12;

		/* SD3.0 SDR25 */
		//cap-uhs-sdr25;
		//cap-uhs-driver_type_a;

		/* SD3.0 SDR50 */
		//cap-uhs-sdr50;
		//cap-uhs-driver_type_c;

		/* SD3.0 SDR104 */
		//cap-uhs-sdr104;
		//cap-uhs-driver_type_d;
		//cap-uhs-cmd23;
		//cap-adma;

		/* eMMC HS200 */
		//mmc-hs200-1_8v;
		//cap-uhs-driver_type_d;
		//cap-uhs-cmd23;
		//cap-adma;
	};

	sdhc@16460000 { // Wi-Fi tcm3800
		status = "okay";
		controller-id = <2>;
		bus-width = <4>;
		max-frequency = <200000000>;
		pinctrl-names = "default", "active";
		pinctrl-0 = <&sd2_gpsd0_bus4_idle>;
		pinctrl-1 = <&sd2_gpsd0_clk &sd2_gpsd0_cmd &sd2_gpsd0_bus4 &out5_clk>;
		clocks = <&clk_peri PERI_SDMMC2 &clk_io IOBUS_SDMMC2 &clk_peri PERI_OUT5>;
		clock-names = "mmc_fclk", "mmc_hclk", "ext32";

		cd-inverted;
		//wp-inverted;
		//non-removable;
		//broken-cd;
		keep-power-in-suspend;
		//enable-sdio-wakeup;
		//cap-power-off-card;
		cap-sdio-irq;
		cap2-no-sleep-cmd;
		cap-bus-width-test;

		//wp-gpios = <&gpb 7 0>;
		//cd-gpios = <&gpext1 5 0>;
		//vctrl-gpio = <&gpsd 10 0>;
		//pwr-gpio = <&gpext2 7 0>;

		wifi-polling;
		ext32-enable; // make_rtc
		cap-adma;

		/* High-speed SDR */
		cap-sd-highspeed;
		cap-mmc-highspeed;
	};

	/* bluetooth */
	tcc_bt_dev {
		compatible = "telechips, tcc_bt_dev";
		bt_reset-gpio = <&gpk 26 0>;
		status = "okay";
	};
	
	tcm3800 {
		compatible = "telechips, tcm3800";
		wlreg_on-gpio = <&gpsd0 7 0>;
	};
	
	tcckey@16050000 {
	    compatible = "telechips,tcckey";
	    status = "okay";
	};

	vout_drv@0 {
		status = "okay";
	};
	smartcard {
		compatible = "telechips,pl131-smartcard";
		reg = <0x16601000 0xFFF 0x16684000 0x10>;                //smartcard #0, 
		clocks = <&clk_io IOBUS_SMARTCARD0>;
		clock-frequency = <50000000>;
		smartcard-clock = <4000000>;                             // initail value 4Mhz
		Fi = <372>;						 // clock rate conversion integer
		Di = <1>;						 // initail value

		uart_ch = <&uart1>;					 // uart and smartcard share clock
		uart_chnum = <1>;
		port-num = <0>;
		tda8024-use = <1>;
		rst_gpios =  <&gpb 16 0>;
		detect_gpios = <&gph 7 0>;
		pwren_gpios = <&gph 10 0>;
		data_gfb = <21>;
		clk_gfb = <22>;
		pinctrl-names = "default";
		pinctrl-0 = <&smartcard_bus>;
		status = "disable";
	};
};
