/*
 * Device tree for Telechips TCC8971 LCN board
 *
 * Copyright (C) 2018 Telechips Inc. - http://www.telechips.com
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/dts-v1/;

#include "tcc8971.dtsi"

/ {
	model = "Telechips TCC8971 LCN Board SV3.0";
	compatible = "telechips,tcc8971-lcn", "telechips,tcc897x";

	ckc@74000000 {
		adjust-audio-clk;	/* adjust audio clock for A2DP plaing */
	};

	tcc_bluetooth {
		compatible = "telechips, tcc_bluetooth";
		bt_power-gpio = <&gpc 21 0>;
		bt_reg_on-gpio = <&gpf 31 0>;
		status = "okay";
	};

	tcc_bt_dev {
		compatible = "telechips, tcc_bt_dev";
		status = "okay";
	};

	gps-gpio {
		compatible = "telechips, gps-gpio";
		gps_power-gpios = <&gpc 25 0>;
	};

	i2c@76300000 {
		status = "okay";
		port-mux = <11>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2c11_bus>;

		ilitek@41 {
			compatible = "ilitek,aimvF";
			reg = <0x41>;
			pinctrl-names = "default";
			pinctrl-0 = <&tsc_default>;
			int-gpios = <&gpd 21 0>;
			rst-gpios = <&gpe 5 0>;
		};

		gt813@5d {
			compatible = "goodix,gt813";
			reg = <0x5d>;
			pinctrl-names = "default";
			pinctrl-0 = <&tsc_default>;
			int-gpios = <&gpd 21 0>;
			rst-gpios = <&gpe 5 0>;
		};

		vtl_ct26x@01 {
			compatible = "vtl,ct36x";
			reg = <0x01>;
			pinctrl-names = "default";
			pinctrl-0 = <&tsc_default>;
			int-gpios = <&gpd 21 0>;
			rst-gpios = <&gpe 5 0>;
		};

		ssd253x@48 {
			compatible = "solomon,ssd253x";
			reg = <0x48>;
			pinctrl-names = "default";
			pinctrl-0 = <&tsc_default>;
			int-gpios = <&gpd 21 0>;
			rst-gpios = <&gpe 5 0>;
		};
	};

	i2c@76310000 {
		status = "okay";
		port-mux = <18>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2c18_bus>;

		videosource@adv7182 {
			compatible = "videosource,adv7182";
			reg = <0x21>;	// 0x42 >> 1
		};

		videosource@dm5886 {
			compatible = "videosource,dm5886";
			reg = <0x60>;	// 0xC0 >> 1
		};
	};

	i2c@76320000 {
		status = "okay";
		port-mux = <23>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2c23_bus>;
	};

	i2c@76330000 {
		status = "okay";
		port-mux = <12>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2c12_bus>;

		ak4601: ak4601@10 {
			compatible = "akm,ak4601";
			//ak4601,pdn-gpio = <&gpe 4 1>;
			reg = <0x10>;
		};

		pmic: rt5028@3f {
			compatible = "Richtek,rt5028";
			reg = <0x3f>;
			int-gpios = <&gpe 31 0>;

			regulators {
				RT5028_ID_BUCK1: buck1 {
					regulator-name = "vdd_core";
					regulator-min-microvolt = <700000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
				};
				RT5028_ID_BUCK2: buck2 {
					regulator-name = "vdd_mem";
					regulator-min-microvolt = <700000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
				};
				RT5028_ID_BUCK3: buck3 {
					regulator-name = "vdd_cpu";
					regulator-min-microvolt = <700000>;
					regulator-max-microvolt = <3600000>;
					regulator-always-on;
				};
				RT5028_ID_BUCK4: buck4 {
					regulator-name = "vdd_io3v3";
					regulator-min-microvolt = <700000>;
					regulator-max-microvolt = <3600000>;
					regulator-always-on;
				};
				RT5028_ID_LDO1: ldo1 {
					regulator-name = "vd2_core";
					regulator-min-microvolt = <1600000>;
					regulator-max-microvolt = <3600000>;
					regulator-always-on;
				};
				RT5028_ID_LDO2: ldo2 {
					regulator-name = "vdd_io1v8";
					regulator-min-microvolt = <1600000>;
					regulator-max-microvolt = <3600000>;
					regulator-always-on;
				};
				RT5028_ID_LDO3: ldo3 {
					regulator-name = "vdd_btwifi";
					regulator-min-microvolt = <1600000>;
					regulator-max-microvolt = <3600000>;
					regulator-always-on;
				};
				RT5028_ID_LDO4: ldo4 {
					regulator-name = "vdd_vbat";
					regulator-min-microvolt = <3000000>;
					regulator-max-microvolt = <3600000>;
					regulator-always-on;
				};
				RT5028_ID_LDO5: ldo5 {
					regulator-name = "vdd_gps";
					regulator-min-microvolt = <3000000>;
					regulator-max-microvolt = <3600000>;
					regulator-always-on;
				};
				RT5028_ID_LDO6: ldo6 {
					regulator-name = "vd1_io";
					regulator-min-microvolt = <3000000>;
					regulator-max-microvolt = <3600000>;
					regulator-always-on;
				};
				RT5028_ID_LDO7: ldo7 {
					regulator-name = "vd1_core";
					regulator-min-microvolt = <1600000>;
					regulator-max-microvolt = <3600000>;
					regulator-always-on;
				};
				RT5028_ID_LDO8: ldo8 {
					regulator-name = "vd2_io";
					regulator-min-microvolt = <1600000>;
					regulator-max-microvolt = <3600000>;
					regulator-always-on;
				};
			};
		};
	};

	smui2c@74500000 {
		status = "okay";
	};

	gpsb0@76900000 {
		status = "okay";
		gpsb-port = <12>;
		pinctrl-names = "idle", "active";
		pinctrl-0 = <&gpsb12_bus_idle>;
		pinctrl-1 = <&gpsb12_bus_spi>;

		#address-cells = <1>;
		#size-cells = <0>;

		spidev@0 {
			compatible = "rohm,dh2228fv";
			reg = <0>;
			spi-max-frequency = <2000000>;
		};
	};

	gpsb1@76910000 {
		status = "okay";
		gpsb-port = <13>;
		pinctrl-names = "idle", "active";
		pinctrl-0 = <&gpsb13_bus_idle>;
		pinctrl-1 = <&gpsb13_bus_tsif>;
	};

	gpsb2@76920000 {
		status = "okay";
		gpsb-port = <12>;
		pinctrl-names = "idle", "active";
		pinctrl-0 = <&gpsb12_bus_idle>;
		pinctrl-1 = <&gpsb12_bus_tsif>;
	};

	ehci_phy@71EA0010{
		status = "okay";
		vbus-ctrl-able;
		vbus-gpio = <&gphdmi 2 0>;
	};

	ehci@71200000 {
		status = "okay";
		vbus-ctrl-able;
		vbus-gpio = <&gphdmi 2 0>;
	};

	ohci@71300000 {
		status = "okay";
		vbus-ctrl-able;
		vbus-gpio = <&gphdmi 2 0>;
	};

	dwc_otg_phy@71EA0100 {
		status = "okay";
		vbus-ctrl-able;
		vbus-gpio = <&gphdmi 3 0>;
	};

	dwc2@71B00000 {
		status = "okay";
		phy-type = <1>;		//pci phy = 1, nano phy = 0
		vbus-ctrl-able;
		vbus-gpio = <&gphdmi 3 0>;
	};

	dwc_otg@71B00000 {
		status = "okay";
		phy-type = <1>;     //pico phy = 1, nano phy = 0
		vbus-ctrl-able;
		vbus-gpio = <&gphdmi 3 0>;
	};

	/* SD CARD */
	vqmmc_sd: vqmmc_sd {
		compatible = "regulator-fixed";
		regulator-name = "vqmmc_sd";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	sdhc@76020000 {
		status = "okay";
#ifndef CONFIG_MMC_SDHCI_TCC_MODULE_ONLY
		compatible = "telechips,tcc897x-sdhci";
#else
		/*
		 * In order to reduce boot time,
		 * we use the driver as module not built-in.
		 */
		compatible = "telechips,tcc897x-sdhci,module-only";
#endif
		controller-id = <0>;
		bus-width = <4>;
		max-frequency = <50000000>;
		pinctrl-names = "default";
		pinctrl-0 = <&sd5_clk &sd5_cmd &sd5_bus4>;

		broken-cd;
		cd-inverted;
		keep-power-in-suspend;

		wp-gpios = <&gpf 20 0>;
		cd-gpios = <&gpf 21 0>;

		vqmmc-supply = <&vqmmc_sd>;
	};
#if 1 // 0 : force detect, 1 : not force detect
	sdhc@76020400 { // Wi-Fi tcm3840
		status = "okay";
		controller-id = <2>;
		max-frequency = <208000000>;
		//cd-gpios = <&gpb 13 0>;
		//wp-gpios = <&gpext1 3 0>;
		pinctrl-names = "default", "active";
		pinctrl-0 = <&sd0_clk_idle &sd0_cmd_idle &sd0_bus4_idle &out0_clk>;
		pinctrl-1 = <&sd0_clk &sd0_cmd &sd0_bus4 &out0_clk>;
		clocks = <&clk_peri PERI_SDMMC2 &clk_io IOBUS_SDMMC2 &clk_peri PERI_OUT0>;
		clock-names = "mmc_fclk", "mmc_hclk", "ext32";
		//pwr-gpio = <&gpext2 10 0>;

		cd-inverted;
		//wp-inverted;
		//non-removable;
		//broken-cd;
		keep-power-in-suspend;
		//enable-sdio-wakeup;
		//cap-power-off-card;
		//tcc-clock-control;
		cap-sdio-irq;
		cap2-no-sleep-cmd;
		cap-bus-width-test;

		wifi-polling; // tcm3800 polling
		ext32-enable; // make_rtc
		cap-adma;

		/* High-speed SDR */
		cap-sd-highspeed;
		cap-mmc-highspeed;

		/* High-speed DDR(emmc & SD3.0 DDR50) */
		//cap-1-8V-ddr;
		//cap-uhs-ddr50;

		/* SD3.0 Common */
		cap-vdd-165-195;

		/* SD3.0 SDR12 */
		//cap-uhs-sdr12;

		/* SD3.0 SDR25 */
		//cap-uhs-sdr25;
		//cap-uhs-driver_type_a;

		/* SD3.0 SDR50 */
		//cap-uhs-sdr50;
		//cap-uhs-driver_type_c;

		/* SD3.0 SDR104 */
		cap-uhs-sdr104;
		cap-uhs-driver_type_d;
		cap-uhs-cmd23;
		cap-adma;
	};

	tcm3800 {
		compatible = "telechips, tcm3800";
		wlreg_on-gpio = <&gpsd 10 0>; /* WIFI_REG_ON */
		wifi_pwr-gpio = <&gpc 21 0>; /* BTWIFI_VBAT_EN */
	};
#else
	/* for BT/WIFI LPO (32.768KHz) */
	tcm_lpo: tcm_lpo {
		compatible = "telechips,tcm-lpo";
		clocks = <&clk_peri PERI_OUT0>;
		clock-names = "ext_clock";
		ext_clock_speed = <32768>;
		pinctrl-names = "default";
		pinctrl-0 = <&out0_clk>;
	};

	/* for pwrseq */
	sdhc2_pwrseq: sdhc2_pwrseq {
		//compatible = "mmc-pwrseq-simple-ext-clock";
	};

	vqmmc_sdio: vqmmc_sdio {
		compatible = "regulator-fixed";
		regulator-name = "vqmmc_sdio";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	sdhc@76020400 { // Wi-Fi tcm3840
		status = "okay";
		compatible = "telechips,tcc897x-sdhci";
		controller-id = <2>;
		bus-width = <4>;
		max-frequency = <200000000>;
		pinctrl-names = "default";
		pinctrl-0 = <&sd0_clk &sd0_cmd &sd0_bus4>;
		clocks = <&clk_peri PERI_SDMMC2 &clk_io IOBUS_SDMMC2>;
		clock-names = "mmc_fclk", "mmc_hclk";

		keep-power-in-suspend;
		cap-sdio-irq;

		//mmc-pwrseq = <&sdhc2_pwrseq>;
		vqmmc-supply = <&vqmmc_sdio>;

		cd-force-presence-change;

		tcm38xx {
			compatible = "telechips,tcm38xx";
			wlreg_on-gpio = <&gpsd 10 0>; /* WIFI_REG_ON */
			wifi_pwr-gpio = <&gpc 21 0>; /* BTWIFI_VBAT_EN */
		};
	};
#endif

	/* eMMC */
	vqmmc_emmc: vqmmc_emmc {
		compatible = "regulator-fixed";
		regulator-name = "vqmmc_emmc";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	sdhc@76020600 {
		status = "okay";
		compatible = "telechips,tcc897x-sdhci";
		controller-id = <3>;
		bus-width = <8>;
		max-frequency = <50000000>;
		pinctrl-names = "default";
		pinctrl-0 = <&sd3_clk &sd3_cmd &sd3_bus8>;

		non-removable;
		keep-power-in-suspend;
		disable-wp;

		vqmmc-supply = <&vqmmc_emmc>;
	};

/*
	tcc_dxb_drv {
		compatible = "telechips,tcc_dxb_drv";
	};

	tcc_dxb_internal {
		compatible = "telechips,tcc_dxb_internal";
		hwdmx_num = <2>;
	};

	tcc_dxb_ctrl {
		compatible = "telechips,tcc_dxb_ctrl";
		pw-gpios   = <&gpext2 27 0>;
		dxb0-gpios = <&gpext2 30 0>, <&gpext2 28 0>, <&gpe 8 0>, <&gpe 1 0>;
		dxb1-gpios = <&gpext2 31 0>, <&gpext2 29 0>, <&gpe 9 0>, <&gpe 17 0>;
		ant-gpios  = <0>, <0>;
	};
*/
	/* CP */
	auth-cp {
		compatible = "telechips, tcc-cp";
		cp-type = <1>;	    /* 2.0C = 1, 2.0B = 0 */
		i2c-channel = <2>;	/* 0 ~ 3 */
		/*	power-ctrl-able; */
		/* cp_power-gpio = <&gpext2 14 0>; */
		cp_reset-gpio = <&gpg 19 0>;
	};

	i2s@76201000 {
		pinctrl-names = "default", "dai_mute";
		pinctrl-0 = <&mdai_clks &mdai_d0>;
		pinctrl-1 = <&mute_mdai_d0>;
		status = "okay";
	};

	i2s@76101000 {
		pinctrl-names = "default", "dai_mute";
		pinctrl-0 = <&s3dai_clks &s3dai_d0>;
		pinctrl-1 = <&mute_s3dai_d0>;
		status = "okay";
	};

	i2s@76401000 {
		pinctrl-names = "default", "dai_mute";
		pinctrl-0 = <&s1dai_clks &s1dai_d0>;
		pinctrl-1 = <&mute_s1dai_d0>;
		status = "okay";
	};
/*
	i2s@76b01000 {
		pinctrl-names = "default";
		pinctrl-0 = <&s2dai_clks &s2dai_d0>;
		status = "okay";
	};
*/
	spdif@76202000 {
		pinctrl-names = "default";
		pinctrl-0 = <&mdai_spdif_tx &mdai_spdif_rx>;
		status = "okay";
	};

	spdif@76102000 {
		pinctrl-names = "default";
		pinctrl-0 = <&s3dai_spdif_tx>;
		status = "okay";
	};

	dummy: dummy@0 {
		compatible = "telechips,dummy";
	};

	sound {
		compatible = "telechips,snd-lcn3";
		telechips,model = "TCC Audio Card";

		telechips,dai-controller = <&i2s1 &spdif0 &i2s0 &spdif1>;
		telechips,audio-codec = <&ak4601 &dummy &dummy &dummy>;

		status="okay";
	};

	videosource {
		compatible = "telechips,videosource";
		status = "okay";

		pinctrl-names = "idle", "active";
		pinctrl-0 = <&cam4_idle>;
		pinctrl-1 = <&cam4_clk &cam4_data>;

		atv_adv7182 {
			rst-gpios = <&gpe  4 1>;
		};
	};

	switch_reverse {
		compatible = "telechips,switch_reverse";
		status = "okay";

		pinctrl-names = "default";
		pinctrl-0 = <&switch_reverse2>;

		switch-gpios = <&gpd 4 0>;
		switch-active = <1>;
	};

	overlaymixer:overlaymixer@72400000 {
		//status ="okay";
		contiguousSize = <0x1000000>;  /* 16MB (if > 512MB RAM) refer to Guide 27 Page */
		baseAddress = <0x80000000>;
		physSize = <0x80000000>; /*  DRAM size (0x40000000 = 1GB, 0x80000000 = 2GB) */
	};

	fbdisplay: fbdisplay@72000000 {
		telechips,fbdisplay_num = <0>;
		status ="okay";
	};

	tcc_vsync_drv {
		compatible = "telechips,tcc_vsync";
		display-vioc0 = <&vioc_disp VIOC_DISP0>;
		display-vioc1 = <&vioc_disp VIOC_DISP1>;
		status = "okay";
	};

	tcc_video_viqe {
		status ="okay";

		tcc_video_viqe_lcd {
			telechips,sc = <&vioc_scaler VIOC_SCALER3>;
			//scaler_num_60 = <3>;
		};
	};

	vioc_lut:vioc_lut@72009000{
		status = "okay";
	};

	wdma_drv0:wdma_drv@0 {
		status = "okay";
		scalers = <&vioc_scaler VIOC_SCALER2>, <&vioc_scaler VIOC_SCALER2>;
	};

	hdmi@72300000 {
		status = "okay";
		vioc_lcdc_num = <0>;
		no_gpio_manual_control = <1>;
	};

	hpd@72310000 {
		status = "okay";
	};

	audio@72330000 {
		status = "okay";
	};

	cec@72370000 {
		status = "okay";
	};

	gmac@71600000 {
		status = "okay";
		phyrst-gpio = <&gpc 29 0>;
		phyon-gpio = <&gpc 19 0>;
		phy-interface = "rgmii";
		ecid-mac-addr;
		txclk-o-dly = <0>; // changed from <29>;
		txclk-o-inv = <0>;
		txclk-i-dly = <0>;
		txclk-i-inv = <0>;
		txen-dly = <0>;
		txer-dly = <0>;
		txd0-dly = <0>;
		txd1-dly = <0>;
		txd2-dly = <0>; // <3>;
		txd3-dly = <0>; // <3>;
		txd4-dly = <0>;
		txd5-dly = <0>;
		txd6-dly = <0>;
		txd7-dly = <0>;
		rxclk-i-dly = <0>;
		rxclk-i-inv = <0>;
		rxdv-dly = <0>; // changed from <15>;
		rxer-dly = <0>;
		rxd0-dly = <0>; //<22>;
		rxd1-dly = <0>; //<20>;
		rxd2-dly = <0>; //<20>;
		rxd3-dly = <0>; //<21>;
		rxd4-dly = <0>;
		rxd5-dly = <0>;
		rxd6-dly = <0>;
		rxd7-dly = <0>;
		crs-dly = <0>;
		col-dly = <0>;
		pinctrl-names = "default", "mii", "rmii", "gmii", "rgmii";
		pinctrl-0 = <>;
		pinctrl-1 = <&gmac1_mdc &gmac1_mdio &gmac1_col &gmac1_crs &gmac1_txer &gmac1_rxer
					 &gmac1_txclk &gmac1_txen &gmac1_txd0 &gmac1_txd1 &gmac1_txd2 &gmac1_txd3
					 &gmac1_rxclk &gmac1_rxdv &gmac1_rxd0 &gmac1_rxd1 &gmac1_rxd2 &gmac1_rxd3>;
		pinctrl-2 = <&gmac1_mdc &gmac1_mdio
					 &gmac1_txclk &gmac1_txen &gmac1_txd0 &gmac1_txd1
					 &gmac1_rxer &gmac1_rxdv &gmac1_rxd0 &gmac1_rxd1>;
		pinctrl-3 = <&gmac1_mdc &gmac1_mdio &gmac1_col &gmac1_crs &gmac1_txer &gmac1_rxer
					 &gmac1_txclk &gmac1_txen &gmac1_txd0 &gmac1_txd1 &gmac1_txd2 &gmac1_txd3
					 &gmac1_txd4 &gmac1_txd5 &gmac1_txd6 &gmac1_txd7
					 &gmac1_rxclk &gmac1_rxdv &gmac1_rxd0 &gmac1_rxd1 &gmac1_rxd2 &gmac1_rxd3
					 &gmac1_rxd4 &gmac1_rxd5 &gmac1_rxd6 &gmac1_rxd7>;
		pinctrl-4 = <&gmac1_mdc &gmac1_mdio
					 &gmac1_txclk &gmac1_txen &gmac1_txd0 &gmac1_txd1 &gmac1_txd2 &gmac1_txd3
					 &gmac1_rxclk &gmac1_rxdv &gmac1_rxd0 &gmac1_rxd1 &gmac1_rxd2 &gmac1_rxd3>;
	};

	lvds: lvds@72380040{
		status = "okay";
	};

	fld0800 {
		compatible = "telechips,lvds-fld0800";
		status = "okay";
		lvds0 = <&lvds>;
		//power-on-gpios	= ;			//LCD_ON
		display-on-gpios	= <&gpd 6 0>;		//LCD_DISP
		reset-gpios		= <&gpf 19 0>;		//LCD_RST
		lvds-stby-gpios		= <&gpb 19 0>;		//LCD_DE = LVDS_STBY in LVDS
		//lvds-power-gpios	= ;			//LVDS_EN
		//lvds-power-gpios1	= ;			//V_5V0_EN
	};

	panel_1920x720 {
		status = "disable";
		compatible = "telechips,hdmi1920x720";
		clocks = <&clk_peri PERI_LCD0>, <&clk_peri PERI_LCD1>, <&clk_peri PERI_HDMI>, <&clk_ddi DDIBUS_HDMI>, <&clk_isoip_top ISOIP_TOP_HDMI>;
		clock-names = "lcdc0-clk", "lcdc1-clk", "hdmi-pclk", "hdmi-hclk", "hdmi-phy";
	};

	backlight {
		compatible = "telechips,tco_backlight";
		tco = <1 50>;	/* unit:nsec. */
		bl-gpios = <&gpc 19 4>;
		bl-gpio-func = <4>;
		default-brightness = <102>;	/* MAX:255 */
		status = "okay";
		pinctrl-names = "active", "idle";
		pinctrl-0 = <&tco_0_0>;
		pinctrl-1 = <&tco_0_0_idle>;
	};

	thermal@74700000 {
		compatible = "telechips,tcc-thermal";
		reg = <0x74700000 0x4 0x74700030 0x4 0x74200290 0x4 0x7420029C 0x4>;

		throttle_count = <5>;
		throttle_active_count = <0>;
		throttle_passive_count = <5>;

		cal_type = "TYPE_ONE_POINT_TRIMMING";
		polling-delay-idle = <0>;
		polling-delay-passive = <0>;

		throttle_table {
			throttle_tab_0 {
				temp = <75>;
				freq_max_cluster0 = <1000000>;
				freq_max_cluster1 = <900000>;
			};
			throttle_tab_1 {
				temp = <80>;
				freq_max_cluster0 = <900000>;
				freq_max_cluster1 = <810000>;
			};
			throttle_tab_2 {
				temp = <85>;
				freq_max_cluster0 = <800000>;
				freq_max_cluster1 = <720000>;
			};
			throttle_tab_3 {
				temp = <90>;
				freq_max_cluster0 = <700000>;
				freq_max_cluster1 = <630000>;
			};
			throttle_tab_4 {
				temp = <95>;
				freq_max_cluster0 = <600000>;
				freq_max_cluster1 = <540000>;
			};
		};
	};

	cpu-id@74200290{
		compatible = "telechips,tcc-cpu-id";
		reg = <0x74200290 0x4 0x74200298 0x4 0x7420029C 0x4 0x74400014 0x4>;
		status = "okay";
	};

	adc@76064000 {
		status = "okay";
	};

	tcckey@76064000 {
		compatible = "telechips,tcckey";
		reg = <0x76064000 0x24>;
		status = "okay";
	};
};

/* console */
&uart0 {
        pinctrl-names = "default";
        pinctrl-0 = <&uart22_data>;
        port-mux = <22>;
        status = "okay";
};

/* bluetooth */
&uart1 {
        pinctrl-names = "default";
        pinctrl-0 = <&uart30_data &uart30_rtscts>;
        port-mux = <30>;
        dmas = <&dma0 0 29 &dma0 1 30>;
        dma-names = "tx", "rx";
        status = "okay";
};

/* GPS */
&uart3 {
        pinctrl-names = "default";
        pinctrl-0 = <&uart10_data>;
        port-mux = <10>;
        status = "okay";
};


/{
	firmware {
		android {
			compatible = "android,firmware";
			fstab {
				compatible = "android,fstab";
				vendor {
					compatible = "android,vendor";
					dev = "/dev/block/platform/76020600.sdhc/by-name/vendor";
					type = "ext4";
					mnt_flags = "ro, wait";
					fsmgr_flags = "wait";
				};
			};
		};
	};
};

&reboot_mode {
	mode-shell = <BOOT_NORMAL>;
	mode-bootloader = <BOOT_FASTBOOT>;
	mode-recovery = <BOOT_RECOVERY>;
};
