// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device tree for Telechips TCC8990 SoC
 *
 * Copyright (C) 2018 Telechips Inc. - http://www.telechips.com
 */

#include "tcc899x.dtsi"
#include "tcc8990-pinctrl.dtsi"

/ {
};
