// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device tree for Telechips TCC8990 STB board
 *
 * Copyright (C) 2018 Telechips Inc.
 */

#ifndef DT_OVERLAY
#include "tcc8990.dtsi"
#endif

#include "tcc899x-android.dtsi"

/ {
	model = "Telechips TCC8995 OTT Board";
	compatible = "telechips,tcc8995", "telechips,tcc899x";
};

&chosen {
};

&vdd_cpu {
	compatible = "regulator-gpio";

	regulator-name = "vdd_cpu0";
	regulator-min-microvolt = < 800000>;
	regulator-max-microvolt = <1000000>;
	regulator-type = "voltage";
	regulator-always-on;

	gpios = <&gpd 17 0x4
	         &gpd 16 0x4>;

	gpios-states = <0 1>;

	states = < 800000 0x1
		900000 0x2
		1000000 0x3
	>;

	startup-delay-us = <100000>;
	enable-active-high;
};

&mali_regulators {
	compatible = "regulator-gpio";

	regulator-name = "vdd_mali";
	regulator-min-microvolt = <700000>;
	regulator-max-microvolt = <900000>;
	regulator-type = "voltage";
	regulator-always-on;

	gpios = <&gpd 7 0x4
		&gpd 15 0x4>;
	gpios-states = <1 0>;

	states = < 700000 0x1
		800000 0x2
		900000 0x3
		>;

	startup-delay-us = <100000>;
	enable-active-high;
};

&gpu {
        operating-points-v2 = <&gpu_opp_table>;
};

&gpu_opp_table {
	opp@444000000 {
		opp-hz = /bits/ 64 <444000000>;
		opp-hz-real = /bits/ 64 <444000000>;
		opp-microvolt = <700000>;
		opp-core-mask = /bits/ 64 <0x3>;
	};
	opp@592000000 {
		opp-hz = /bits/ 64 <592000000>;
		opp-hz-real = /bits/ 64 <592000000>;
		opp-microvolt = <800000>;
		opp-core-mask = /bits/ 64 <0x3>;
	};
	opp@666000000 {
		opp-hz = /bits/ 64 <666000000>;
		opp-hz-real = /bits/ 64 <666000000>;
		opp-microvolt = <900000>;
		opp-core-mask = /bits/ 64 <0x3>;
	};
};

&tcc_pm {
	wakeup,powerkey = <PMU_WKUP_GP_G11 WAKEUP_ACT_LO>;
	//gpio-powers = <&gpd 20 0>;              /* SLP_PWRCTL */
};

&panel {
	status = "okay";
	compatible = "telechips,hdmi1920x1080";
};

&tcc_tve {
	status = "okay";
};

&composite {
	status = "okay";
};

&component {
	status = "disable";
	io_port_num = <1>;	/* TCC899x: LCDC interface 1 (L1_XXX) */
};

&output_starter {
	status = "okay";
};

&overlaymixer {
	status ="okay";
	contiguousSize = <0x1000000>;  /* 16MB (if > 512MB RAM) refer to Guide 27 Page */
	baseAddress = <0x20000000>;
	physSize = <0x80000000>; /*  DRAM size (0x40000000 = 1GB, 0x80000000 = 2GB) */
};

&fbdisplay {
	telechips,fbdisplay_num = <0>;
	status ="okay";
};

&tcc_overlay {
	compatible = "telechips,tcc_overlay";
	status = "okay";
	fbdisplay-overlay = <&fbdisplay>;
};

&tcc_vsync {
	compatible = "telechips,tcc_vsync";
	display-vioc0 = <&vioc_disp VIOC_DISP0>;
	display-vioc1 = <&vioc_disp VIOC_DISP1>;
	status = "okay";
};

&tcc_viqe {
	compatible = "telechips,tcc_viqe";
	status ="okay";
	tcc_viqe_viqe_common {
		board_num=<1>;
	};
};

&scaler_drv1 {
	rdmas = <&vioc_rdma VIOC_RDMA16>;
	scalers = <&vioc_scaler VIOC_SCALER1 VIOC_SC_RDMA_16>;	/* id:1, path:17 */
	wmixs = <&vioc_wmix VIOC_WMIX5>;	/* id:5, path:6 */
	wdmas = <&vioc_wdma VIOC_WDMA06>;
	settop_support = <1>;
	status = "okay";
};

&scaler_drv3 {
	rdmas = <&vioc_rdma VIOC_RDMA07>;
	scalers = <&vioc_scaler VIOC_SCALER3 VIOC_SC_RDMA_07>;	/* id:3, path:7 */
	wmixs = <&vioc_wmix VIOC_WMIX1>;	/* id:1, path:3 */
	wdmas = <&vioc_wdma VIOC_WDMA01>;
	settop_support = <1>;
	status = "okay";
};

&wmixer_drv0 {
	status = "okay";
};

&wmixer_drv1 {
	status = "okay";
};
&vioc_lut {
	status = "okay";
};

/* TBD */
&sdhc0 {
	//status = "okay";
	controller-id = <0>;
	bus-width = <4>;
	max-frequency = <200000000>;
	pinctrl-names = "default", "active";
	pinctrl-0 = <&sd0_2_idle>;
	pinctrl-1 = <&sd0_2_clk &sd0_2_cmd &sd0_2_bus4>;
};

/* eMMC */
&vqmmc_emmc {
	compatible = "regulator-gpio";

	regulator-name = "vqmmc_emmc";
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <3300000>;
	regulator-type = "voltage";
	regulator-ramp-delay = <10>;
	regulator-always-on;

	gpios = <&gpa 4 0x4>;
	gpios-states = <0>;
	states = < 1800000 0x0
		3300000 0x1
	>;
};

&sdhc1 {
	status = "okay";
	compatible = "telechips,tcc-sdhci";
	controller-id = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&sd1_1_clk &sd1_1_cmd &sd1_1_bus8>;

	bus-width = <8>;
	max-frequency = <200000000>;

	non-removable;
	keep-power-in-suspend;
	disable-wp;
	cap-mmc-hw-reset;
	mmc-ddr-1_8v;

	tcc-mmc-reset = <&gpa 6 0>;

	vqmmc-supply = <&vqmmc_emmc>;
};

	/* SUB Board */
&sdhc2 {
	status = "okay";
	controller-id = <2>;
	bus-width = <4>;
	max-frequency = <200000000>;
	pinctrl-names = "default";
	pinctrl-0 = <&sd2_1_clk &sd2_1_cmd &sd2_1_bus4>;
};

&hdmi_tx_20 {
	status = "okay";
	hdmi_ref_src_clock = <0>; // 0 XIN, 1 X-TAL, 2 PERI, 3, PMU XIN
	hdmi_phy_type = <1>; // 0 8990, 1 8995_OTT

	/* Source Product Description */
	product_description = "TCC8995_ott";
};

&hdmi_cec_20 {
	status = "okay";
};

&tcc_dxb_ctrl {
	compatible = "telechips,tcc_dxb_ctrl";
	pw-gpios   = <&gpe 20 0>;
	dxb0-gpios = <&gpe 22 0>, <&gpe 21>, <&gpd 2 0>, <>;
	dxb1-gpios = <>, <>, <>, <>;
	ant-gpios  = <>, <>;
};

/* I2C */

// Default set
&i2c0 {
	port-mux = <9>;
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c9_bus>;

	hdmi_in@78 {
		compatible = "tcc-hdin-i2c";
		reg = <0x3C>;
	};

	adv7343@20 {
		compatible = "component-adv7343-i2c";
		reg = <0x2b>;	/* ALSB=1, Write=0x56, Read=0x57 */
	};
};

// DXB
&i2c1 {
	port-mux = <8>;
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c8_bus>;
};

/* H/W Demux */
&hwdemux {
	compatible = "telechips,hwdemux";
	status = "okay";
};

/* Linux TV */
&tcc_hwdmx_tsif0 {
	compatible = "telechips,tcc89xx-hwdmx-tsif";
	tsif-port = <2>;
	pinctrl-names = "idle", "active";
	pinctrl-0 = <&tsrx2_idle>;
	pinctrl-1 = <&tsrx2_active>;
};

&tcc_hwdmx_tsif1 {
	compatible = "telechips,tcc89xx-hwdmx-tsif";
	tsif-port = <3>;
//	pinctrl-names = "idle", "active";
//	pinctrl-0 = <&tsrx3_idle>;
//	pinctrl-1 = <&tsrx3_active>;
};

/* TODO: Need to modify it
&hdmi_in {
	compatible = "telechips-hdin";
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&hdin_clki &hdin_hsync &hdin_vsync &hdin_data &hdin_de>;
	clocks = <&clk_ddi DDIBUS_VIOC>;
	hdin_port = <&cifport 3 1>;
	hdin_wmixer = <&vioc_wmix 5>;
	hdin_wdma = <&vioc_wdma 5>;
	hdin_videoin = <&vioc_vin 4 0>;
	hdin_scaler = <&vioc_scaler 0>;
	hdin_config = <&vioc_config 0>;
	hdin_viqe = <&vioc_viqe 0>;

	ep9553t {
		rst-gpios = <&gpe 31 0>;
		pwr-gpios = <&gpf 30 0>;
		key-gpios = <&gpg 15 0>;
		int-gpios = <&gpg 13 1>;
		polarity_hsync = <1>;
		polarity_vsync = <1>;
		field_bfield_low = <0>;
		polarity_data_en = <0>;
		gen_field_en = <1>;
		polarity_pclk = <1>;
		conv_en = <0>;
		hsde_connect_en = <0>;
		vs_mask = <0>;
		input_fmt = <0>;
		data_order = <5>;
		intpl_en = <0>;
		wdma_swap_order = <1>;
	};
};
*/

/* GPSB */
&gpsb0 {
	status = "okay";
	gpsb-port = <3>;
	pinctrl-names = "idle", "active";
	pinctrl-0 = <&gpsb3_bus_idle>;
	pinctrl-1 = <&gpsb3_bus_spi>;

	#address-cells = <1>;
	#size-cells = <0>;
	spidev@0 {
		compatible = "rohm,dh2228fv";
		reg = <0>;
		spi-max-frequency = <2000000>;
	};
};

&gpsb1 {
	status = "okay";
	gpsb-port = <5>;
	pinctrl-names = "idle", "active";
	pinctrl-0 = <&gpsb5_bus_idle>;
	pinctrl-1 = <&gpsb5_bus_tsif>;
};

/*
&gpsb2 {
	status = "okay";
	gpsb-port = <4>;
	pinctrl-names = "idle", "active";
	pinctrl-0 = <&gpsb4_bus_idle>;
	pinctrl-1 = <&gpsb4_bus_tsif>;
};
*/

/* TODO : Need to decide port for each gpsb channel
&gpsb3 {
	status = "okay";
	gpsb-port = <4>;
	pinctrl-names = "default";
	pinctrl-0 = <&gpsb5_bus>;
};

&gpsb4 {
	status = "okay";
	gpsb-port = <?>;
	pinctrl-names = "default";
	pinctrl-0 = <&gpsb5_bus>;
};
*/

/* USB 3.0 DRD */
&dwc3_phy {
	status = "okay";
	vbus-ctrl-able;
	vbus-gpio = <&gpd 19 0>;
};
&dwc3 {
	status = "okay";
	//usb3en-ctrl-able;
	//usb3en-gpio = <&gpc 22 0>;
	//vbus-source-ctrl;
	vbus-ctrl-able;
	vbus-gpio = <&gpd 19 0>;
	//pinctrl-names = "default";
	//vdd_dwc-supply = <&vdd_v5p0_reg>;
};

/* USB 2.0 HOST */
&ehci_phy {
	status = "okay";
	vbus-ctrl-able;
	vbus-gpio = <&gpd 15 0>;
};

&mhst_phy {
	status = "okay";
	vbus-ctrl-able;
	vbus-gpio = <&gpd 18 0>;
};

&dwc_otg_phy {
	status = "okay";
	vbus-ctrl-able;
	vbus-gpio = <&gpd 18 0>;
};

&ehci {
	status = "disable";
	hcd_id = <0>;
	phy-type = <1>;	    //pico phy = 1, nano phy = 0
	//hosten-ctrl-able;
	//hosten-gpio = <&gpe 15 0>;
	//vbus-ctrl-able;
	//vbus-gpio = <&gpd 15 0>;
	//vbus-source-ctrl;
	//pinctrl-names = "default";
	//vdd_ehci-supply = <&vdd_v5p0_reg>;

	//sq_level_ctl;
	TXVRT = <0xB>;
	TXRISET = <0x3>;
	TXAT = <0x1>;
};

&ohci {
	status = "disable";
	//hosten-ctrl-able;
	//hosten-gpio = <&gpe 15 0>;
	//vbus-ctrl-able;
	//vbus-gpio = <&gpd 15 0>;
	//vbus-source-ctrl;
	//vdd_ohci-supply = <&vdd_v5p0_reg>;
};

/* USB 2.0 OTG */
&dwc_otg {
	status = "okay";
	phy-type = <1>;     //pico phy = 1, nano phy = 0

	vbus-ctrl-able;
	vbus-gpio = <&gpd 18 0>;
};

&audio_chmux {
	compatible = "telechips,audio-chmux-899x";
	dai = <0 1>; // i2s0(x) i2s1(x)
	cdif = <99 99>; // cdif0(x) cdif1(x)
	spdif = <99 1>; // spdif0(x) spdif1(x)
	status = "okay";
};

&i2s0 {
	status = "okay";
};

&i2s1 {
	pinctrl-names = "default", "idle";
	pinctrl-0 = <&m1dai1_clks &m1dai1_dao0>;
	pinctrl-1 = <&m1dai1_clks_idle &m1dai1_dao0_idle>;
	status = "okay";
};

&spdif0	{
	pinctrl-names = "default", "idle";
	pinctrl-0 = <&m0dai1_spdif_tx>;
	pinctrl-1 = <&m0dai1_spdif_tx_idle>;
	status = "disable";
};

&spdif1	{
	pinctrl-names = "default", "idle";
	pinctrl-0 = <&m1dai1_spdif_tx>;
	pinctrl-1 = <&m1dai1_spdif_tx_idle>;
	status = "okay";
};

&adma0 {
	status = "okay";
};

&adma1 {
	status = "okay";
};

&wm8524 {
	compatible = "wolfson,wm8524";
	status = "okay";

	/*codec_aif-gpios = <&gpd 6 0>;*/
	codec_mute_ang-gpios = <&gpg 19 0>;
	codec_mute_ctl-gpios = <&gpg 17 0>;
	/* value to enable mute*/
	codec_mute_ang-mute_value = <0>;
};

&sound {
	compatible = "telechips,snd-card";
	card-name = "TCC8995 OTT Card";
	status = "okay";

	telechips,dai-link@0 {
		stream-name="I2S_1";

		codec,format = "i2s"; // i2s, left_j, right_j
		codec,continuous-clock;

		mclk_div = <4>; // 4,6,8,16
		bclk_ratio = <64>; // 32,48,64fs
		pcm = <&adma1>;
		dai = <&i2s1>;
		codec = <&wm8524>;
		codec,dai-name = "wm8524-hifi";
	};

	telechips,dai-link@1 {
		stream-name="I2S_0_HDMI_PATHTRU";

		codec,format = "i2s"; // i2s, left_j, right_j
		codec,continuous-clock;

		mclk_div = <4>; // 4,6,8,16
		bclk_ratio = <64>; // 32,48,64fs
		pcm = <&adma0>;
		dai = <&i2s0>;
	};

	telechips,dai-link@2 {
		stream-name="SPDIF_1_TX";

		pcm = <&adma1>;
		dai = <&spdif1>;
		playback-only;
	};
};

&remote {
	int-gpios = <&gpc 28 0>;
	pinctrl-names = "default";
	pinctrl-0 = <&remote_c28>;
	wakeupsrc = <011>; //RMISEL is 0x3 : GPIO_C28
	status = "okay";
};

&gmac {
	status = "okay";
	phyrst-gpio = <&gpc 9 0>;
	phy-interface = "rgmii";
	ecid-mac-addr;

	txclk-o-dly = <0>;
	txclk-o-inv = <1>;
	txclk-o-dly_es = <2>;
	txclk-o-inv_es = <0>;
	txclk-o-dly_cs = <6>;
	txclk-o-inv_cs = <0>;

	txen-dly = <0>;
	txer-dly = <0>;
	txd0-dly = <0>;
	txd1-dly = <0>;
	txd2-dly = <0>;
	txd3-dly = <0>;
	txd4-dly = <0>;
	txd5-dly = <0>;
	txd6-dly = <0>;
	txd7-dly = <0>;

	rxclk-i-dly = <4>;
	rxclk-i-inv = <1>;
	rxclk-i-dly_es = <17>;
	rxclk-i-inv_es = <0>;
	rxclk-i-dly_cs = <16>;
	rxclk-i-inv_cs = <0>;

	rxdv-dly = <0>;
	rxer-dly = <0>;
	rxd0-dly = <0>;
	rxd1-dly = <0>;
	rxd2-dly = <0>;
	rxd3-dly = <0>;
	rxd4-dly = <0>;
	rxd5-dly = <0>;
	rxd6-dly = <0>;
	rxd7-dly = <0>;
	crs-dly = <0>;
	col-dly = <0>;
	pinctrl-names = "default", "mii", "rmii", "gmii", "rgmii";
	pinctrl-0 = <>;
	pinctrl-1 = <&gmac1_mdc &gmac1_mdio &gmac1_col &gmac1_crs &gmac1_txer &gmac1_rxer
		     &gmac1_txclk &gmac1_txen &gmac1_txd0 &gmac1_txd1 &gmac1_txd2 &gmac1_txd3
		     &gmac1_rxclk &gmac1_rxdv &gmac1_rxd0 &gmac1_rxd1 &gmac1_rxd2 &gmac1_rxd3>;
	pinctrl-2 = <&gmac1_mdc &gmac1_mdio
		     &gmac1_txclk &gmac1_txen &gmac1_txd0 &gmac1_txd1
		     &gmac1_rxer &gmac1_rxdv &gmac1_rxd0 &gmac1_rxd1>;
	pinctrl-3 = <&gmac1_mdc &gmac1_mdio &gmac1_col &gmac1_crs &gmac1_txer &gmac1_rxer
		     &gmac1_txclk &gmac1_txen &gmac1_txd0 &gmac1_txd1 &gmac1_txd2 &gmac1_txd3
		     &gmac1_txd4 &gmac1_txd5 &gmac1_txd6 &gmac1_txd7
		     &gmac1_rxclk &gmac1_rxdv &gmac1_rxd0 &gmac1_rxd1 &gmac1_rxd2 &gmac1_rxd3
		     &gmac1_rxd4 &gmac1_rxd5 &gmac1_rxd6 &gmac1_rxd7>;
	pinctrl-4 = <&gmac1_mdc &gmac1_mdio
		     &gmac1_txclk &gmac1_txen &gmac1_txd0 &gmac1_txd1 &gmac1_txd2 &gmac1_txd3
		     &gmac1_rxclk &gmac1_rxdv &gmac1_rxd0 &gmac1_rxd1 &gmac1_rxd2 &gmac1_rxd3>;
};

&pcie {
	reset-gpio = <&gpc 30 0>;
	//status = "okay";
};

&thermal {
	compatible = "telechips,tcc-thermal";
	reg = <0x14700000 0x4 0x14700030 0x4 0x14200290 0x4 0x1420029C 0x4>;
	clocks = <&clk_isoip_top ISOIP_TOP_TSEN>;
	status = "okay";

	throttle_count = <5>;
	throttle_active_count = <0>;
	throttle_passive_count = <5>;

	cal_type = "TYPE_ONE_POINT_TRIMMING";
	polling-delay-idle = <0>;
	polling-delay-passive = <0>;

	throttle_table {
		throttle_tab_0 {
			temp = <75>;
			freq_max_cluster0 = <1000000>;
			freq_max_cluster1 = <900000>;
		};
		throttle_tab_1 {
			temp = <80>;
			freq_max_cluster0 = <900000>;
			freq_max_cluster1 = <810000>;
		};
		throttle_tab_2 {
			temp = <85>;
			freq_max_cluster0 = <800000>;
			freq_max_cluster1 = <720000>;
		};
		throttle_tab_3 {
			temp = <90>;
			freq_max_cluster0 = <700000>;
			freq_max_cluster1 = <630000>;
		};
		throttle_tab_4 {
			temp = <95>;
			freq_max_cluster0 = <600000>;
			freq_max_cluster1 = <540000>;
		};
	};
};

&gpio_leds {
	compatible = "gpio-leds";
	green {
		gpios = <&gpa 1 0>;
		default-state = "on";
	};
	red {
		gpios = <&gpa 2 1>;
		default-state = "on";
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart2_data>;
	status = "okay";
};

/* bluetooth */
&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_data &uart4_rtscts>;
	dmas = <&udma1 2 2 &udma1 3 2>;
	dma-names = "tx", "rx";
	status = "okay";
};
