// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device tree for Telechips TCC8990 STB board
 *
 * Copyright (C) 2018 Telechips Inc.
 */

#ifndef DT_OVERLAY
/dts-v1/;
#include "tcc8990.dtsi"
#endif

#include "tcc8990-android-stb.dtsi"

&vqmmc_sdio {
	compatible = "regulator-fixed";
	regulator-name = "vqmmc_sdio";
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	regulator-always-on;
};

&sdhc0 {
	compatible = "telechips,tcc-sdhci";
	tcc-mmc-channel-mux = <1>;
	//non-removable;
	keep-power-in-suspend;
	cap-sdio-irq;

	vqmmc-supply = <&vqmmc_sdio>;

	cd-force-presence-change;

	tcm38xx {
		compatible = "telechips,tcm38xx";
		wifi_pwr-gpio = <&gpsd1 10 0>;
		wlreg_on-gpio = <&gpe 15 0>;
		wifi_pwr_1p8v-gpio = <&gpsd1 6 0>;
		wifi_pwr_3p3v-gpio = <&gpsd1 7 0>;
	};
};

&tcc_bluetooth {
	compatible = "telechips, tcc_bluetooth";
	bt_power-gpio = <&gpsd1 10 0>; /* BTWIFI_VBAT_EN */
	bt_reg_on-gpio = <&gpf 31 0>;
	bt_wake-gpio = <&gpf 30 0>;
	bt_hwake-gpio = <&gpc 21 0>;
	bt_power_1p8v-gpio = <&gpsd1 6 0>;
	bt_power_3p3v-gpio = <&gpsd1 7 0>;
	status = "okay";
};

/* SD Card */
&vqmmc_sd {
	compatible = "regulator-gpio";

	regulator-name = "vqmmc_sd";
	regulator-type = "voltage";
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <3300000>;
	regulator-ramp-delay = <10>;
	regulator-always-on;

	gpios = <&gpa 30 0x4>;
	gpios-states = <0>;
	states = < 1800000 0x0
		3300000 0x1
	>;
};

&sdhc2 {
	broken-cd;
	cd-inverted;
	keep-power-in-suspend;

	wp-gpios = <&gpsd0 10 0>;
	cd-gpios = <&gpf 29 0>;

	vqmmc-supply = <&vqmmc_sd>;
};

&gpio_keys_polled {
        compatible = "gpio-keys-polled";
        #address-cells = <1>;
        #size-cells = <0>;
        poll-interval = <100>;
        autorepeat;
        button@0 {
                label = "BT Auto Pair Key";
                linux,code = <218>;
                gpios = <&gpg 11 1>;
        };
        button@1 {
                label = "Power Key";
                linux,code = <116>;
                gpios = <&gpd 20 1>;
        };
};
