/*
 * Device tree for Telechips TCC8971 LCN board
 *
 * Copyright (C) 2018 Telechips Inc. - http://www.telechips.com
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/dts-v1/;

#include "tcc8971.dtsi"

#include <dt-bindings/pmap/tcc897x/pmap-tcc897x-android-ivi.h>
#include "tcc-pmap-897x-android-customized.dtsi"
#include "tcc-pmap-common.dtsi"

/ {
	model = "Telechips TCC8971 LCN Board SV3.0";
	compatible = "telechips,tcc8971-lcn", "telechips,tcc897x";

	reserved-memory {
		/*-----------------------------------------------------------
		 * Secure Area 1 (CPU R/W, VPU X, GPU R/W, VIOC R)
		 *-----------------------------------------------------------
		 */
		pmap_fb_video: fb_video {
			compatible = "telechips,pmap";
			telechips,pmap-name = "fb_video";
			alloc-ranges = <SECURE_AREA_1_BASE SECURE_AREA_1_SIZE>;
			size = <PMAP_SIZE_FB_VIDEO>;
			telechips,pmap-secured = <1>;
			no-map;
		};

		pmap_fb1_video: fb1_video {
			compatible = "telechips,pmap";
			telechips,pmap-name = "fb1_video";
			alloc-ranges = <SECURE_AREA_1_BASE SECURE_AREA_1_SIZE>;
			size = <PMAP_SIZE_FB1_VIDEO>;
			telechips,pmap-secured = <1>;
			no-map;
		};

		pmap_fb2_video: fb2_video {
			compatible = "telechips,pmap";
			telechips,pmap-name = "fb2_video";
			alloc-ranges = <SECURE_AREA_1_BASE SECURE_AREA_1_SIZE>;
			size = <PMAP_SIZE_FB2_VIDEO>;
			telechips,pmap-secured = <1>;
			no-map;
		};

		/*-----------------------------------------------------------
		 * Secure Area 2 (CPU X, VPU X, GPU X, VIOC R/W)
		 *-----------------------------------------------------------
		 */
		pmap_overlay: overlay {
			compatible = "telechips,pmap";
			telechips,pmap-name = "overlay";
			alloc-ranges = <SECURE_AREA_2_BASE SECURE_AREA_2_SIZE>;
			/* Max-Displayed-Output(w*h*2) * 3 */
			size = <PMAP_SIZE_OVERLAY>;
			telechips,pmap-secured = <2>;
			no-map;
		};

		pmap_overlay1: overlay1 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "overlay1";
			alloc-ranges = <SECURE_AREA_2_BASE SECURE_AREA_2_SIZE>;
			/* Max-Displayed-Output(w*h*2) * 3 */
			size = <PMAP_SIZE_OVERLAY1>;
			telechips,pmap-secured = <2>;
			no-map;
		};

		pmap_overlay_rot: overlay_rot {
			compatible = "telechips,pmap";
			telechips,pmap-name = "overlay_rot";
			alloc-ranges = <SECURE_AREA_2_BASE SECURE_AREA_2_SIZE>;
			/* Max-Displayed-Output(w*h*2) for device-rotation. */
			size = <PMAP_SIZE_OVERLAY_ROT>;
			telechips,pmap-secured = <2>;
			no-map;
		};

		pmap_viqe0: viqe0 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "viqe";
			alloc-ranges = <SECURE_AREA_2_BASE SECURE_AREA_2_SIZE>;
			size = <PMAP_SIZE_VIQE0>;
			telechips,pmap-secured = <2>;
			no-map;
		};

		pmap_viqe1: viqe1 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "viqe1";
			alloc-ranges = <SECURE_AREA_2_BASE SECURE_AREA_2_SIZE>;
			size = <PMAP_SIZE_VIQE1>;
			telechips,pmap-secured = <2>;
			no-map;
		};

		pmap_output_attach: output_attach {
			compatible = "telechips,pmap";
			telechips,pmap-name = "output_attach";
			alloc-ranges = <SECURE_AREA_2_BASE SECURE_AREA_2_SIZE>;
			size = <PMAP_SIZE_OUTPUT_ATTACH>;
			telechips,pmap-secured = <2>;
			no-map;
		};

		pmap_v4l2_vout0: v4l2_vout0 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "v4l2_vout0";
			alloc-ranges = <SECURE_AREA_2_BASE SECURE_AREA_2_SIZE>;
			size = <PMAP_SIZE_V4L2_VOUT0>;
			telechips,pmap-secured = <2>;
			no-map;
		};

		pmap_v4l2_vout1: v4l2_vout1 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "v4l2_vout1";
			alloc-ranges = <SECURE_AREA_2_BASE SECURE_AREA_2_SIZE>;
			size = <PMAP_SIZE_V4L2_VOUT1>;
			telechips,pmap-secured = <2>;
			no-map;
		};

		pmap_video_dual: video_dual {
			compatible = "telechips,pmap";
			telechips,pmap-name = "video_dual";
			alloc-ranges = <SECURE_AREA_2_BASE SECURE_AREA_2_SIZE>;
			size = <PMAP_SIZE_VIDEO_DUAL>;
			telechips,pmap-secured = <2>;
			no-map;
		};

		pmap_fb_wmixer: fb_wmixer {
			compatible = "telechips,pmap";
			telechips,pmap-name = "fb_wmixer";
			alloc-ranges = <SECURE_AREA_2_BASE SECURE_AREA_2_SIZE>;
			/* Max-Video-Resolution(w*h*2) */
			size = <PMAP_SIZE_FB_WMIXER>;
			telechips,pmap-secured = <2>;
			no-map;
		};

		/*-----------------------------------------------------------
		 * Secure Area 3 (CPU X, VPU R/W, GPU X, VIOC R)
		 *-----------------------------------------------------------
		 */

		pmap_secure_inbuf: secure_inbuf {
			compatible = "telechips,pmap";
			telechips,pmap-name = "secure_inbuf";
			alloc-ranges = <SECURE_AREA_3_BASE SECURE_AREA_3_SIZE>;
			size = <PMAP_SIZE_SECURE_INBUF>;
			telechips,pmap-secured = <3>;
			no-map;
		};

		pmap_video_ext: video_ext {
			compatible = "telechips,pmap";
			telechips,pmap-name = "video_ext";
			alloc-ranges = <SECURE_AREA_3_BASE SECURE_AREA_3_SIZE>;
			size = <PMAP_SIZE_VIDEO_EXT>;
			telechips,pmap-secured = <3>;
			no-map;
		};

		pmap_video_ext2: video_ext2 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "video_ext2";
			alloc-ranges = <SECURE_AREA_3_BASE SECURE_AREA_3_SIZE>;
			size = <PMAP_SIZE_VIDEO_EXT2>;
			telechips,pmap-secured = <3>;
			no-map;
		};

		pmap_video: video {
			compatible = "telechips,pmap";
			telechips,pmap-name = "video";
			alloc-ranges = <SECURE_AREA_3_BASE SECURE_AREA_3_SIZE>;
			size = <PMAP_SIZE_VIDEO>;
			telechips,pmap-secured = <3>;
			no-map;
		};

		pmap_video_sw: video_sw {
			compatible = "telechips,pmap";
			telechips,pmap-name = "video_sw";
			alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
			size = <PMAP_SIZE_VIDEO_SW_EXTRA>;
			no-map;
		};

		/*-----------------------------------------------------------
		 * Secure Area 4 (CPU X, VPU X, GPU R/W, VIOC R/W)
		 *-----------------------------------------------------------
		 */
		pmap_ump_reserved: ump_reserved {
			compatible = "telechips,pmap";
			telechips,pmap-name = "ump_reserved";
			alloc-ranges = <SECURE_AREA_4_BASE SECURE_AREA_4_SIZE>;
			/* Max-Video-Resolution(Aligned_256KB(w*h*3/2)) * 12 + 1MB */
			size = <PMAP_SIZE_UMP_RESERVED>;
			telechips,pmap-secured = <4>;
		};

		pmap_ion_carveout_cam: ion_carveout_cam {
			compatible = "telechips,pmap";
			telechips,pmap-name = "ion_carveout_cam";
			alloc-ranges = <SECURE_AREA_4_BASE SECURE_AREA_4_SIZE>;
			size = <PMAP_SIZE_ION_CARVEOUT_CAM>; // 12MB
			telechips,pmap-secured = <4>;
		};

		/*-----------------------------------------------------------
		 * Shared Memory with pmap_viqe
		 *-----------------------------------------------------------
		 */
		pmap_jpeg_header: jpeg_header {
			compatible = "telechips,pmap";
			telechips,pmap-name = "jpeg_header";
			alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
			telechips,pmap-shared = <&pmap_viqe0>;
			telechips,pmap-shared-size = <PMAP_SIZE_JPEG_HEADER>;
			telechips,pmap-offset = <0x0>;
			size = <0x0>;
			no-map;
		};

		pmap_jpeg_stream: jpeg_stream {
			compatible = "telechips,pmap";
			telechips,pmap-name = "jpeg_stream";
			alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
			telechips,pmap-shared = <&pmap_jpeg_header>;
			telechips,pmap-shared-size = <PMAP_SIZE_JPEG_STREAM>;
			telechips,pmap-offset = <PMAP_SIZE_JPEG_HEADER>;
			size = <0x0>;
			no-map;
		};

		pmap_jpeg_raw: jpeg_raw {
			compatible = "telechips,pmap";
			telechips,pmap-name = "jpeg_raw";
			alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
			telechips,pmap-shared = <&pmap_jpeg_stream>;
			telechips,pmap-shared-size = <PMAP_SIZE_JPEG_RAW>;
			telechips,pmap-offset = <PMAP_SIZE_JPEG_STREAM>;
			size = <0x0>;
			no-map;
		};

		/*-----------------------------------------------------------
		 * Camera Memory
		 *-----------------------------------------------------------
		 */
		pmap_rearcamera_viqe: rearcamera_viqe {
			compatible = "telechips,pmap";
			telechips,pmap-name = "rearcamera_viqe";
			alloc-ranges = <EARLY_REARCAM_BASE EARLY_REARCAM_SIZE>;
			size = <PMAP_SIZE_CAMERA_VIQE>;
			no-map;
		};

		pmap_rearcamera: rearcamera {
			compatible = "telechips,pmap";
			telechips,pmap-name = "rearcamera";
			alloc-ranges = <EARLY_REARCAM_BASE EARLY_REARCAM_SIZE>;
			size = <PMAP_SIZE_CAMERA_PREVIEW0>;
			no-map;
		};

		pmap_rearcamera3: rearcamera3 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "rearcamera3";
			alloc-ranges = <EARLY_REARCAM_BASE EARLY_REARCAM_SIZE>;
			size = <PMAP_SIZE_CAMERA_PREVIEW3>;
			no-map;
		};

		pmap_parking_gui: parking_gui {
			compatible = "telechips,pmap";
			telechips,pmap-name = "parking_gui";
			alloc-ranges = <EARLY_REARCAM_BASE EARLY_REARCAM_SIZE>;
			size = <PMAP_SIZE_CAMERA_PGL>;
			no-map;
		};

		/*-----------------------------------------------------------
		 * Default Reserved Memory
		 *-----------------------------------------------------------
		 */
		pmap_ump_reserved_sw: ump_reserved_sw {
			compatible = "telechips,pmap";
			telechips,pmap-name = "ump_reserved_sw";
			alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
			size = <PMAP_SIZE_UMP_RESERVED_SW>; // 4KB * 12
			no-map;
		};

		pmap_video_sbackup: video_sbackup {
			compatible = "telechips,pmap";
			telechips,pmap-name = "video_sbackup";
			alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
			/* 0x200000 for 1080p, 0x600000 for 2160p */
			size = <PMAP_SIZE_VIDEO_SBACKUP>;
			telechips,pmap-secured;
			no-map;
		};

		pmap_pmem: pmem {
			compatible = "telechips,pmap";
			telechips,pmap-name = "pmem";
			alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
			size = <PMAP_SIZE_PMEM>;
			no-map;
		};

		pmap_video_thumb: video_thumb {
			compatible = "telechips,pmap";
			telechips,pmap-name = "video_thumb";
			alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
			/* 0x600000 for 1080p video, 0x1A00000 for 2160p */
			size = <PMAP_SIZE_VIDEO_THUMB>;
			no-map;
		};

		pmap_ext_camera: ext_camera {
			compatible = "telechips,pmap";
			telechips,pmap-name = "ext_camera";
			alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
			size = <PMAP_SIZE_EXT_CAMERA>;
			no-map;
		};

		pmap_nand_mem: nand_mem {
			compatible = "telechips,pmap";
			telechips,pmap-name = "nand_mem";
			alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
			size = <PMAP_SIZE_NAND_MEM>;
			no-map;
		};

		pmap_tsif: tsif {
			compatible = "telechips,pmap";
			telechips,pmap-name = "tsif";
			alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
			size = <PMAP_SIZE_TSIF>;
			no-map;
		};

		/*
		 * pmap_jpg_enc_dxb: jpg_enc_dxb {
		 *	telechips,pmap-name = "jpg_enc_dxb";
		 *	alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
		 *	size = <PMAP_SIZE_JPG_ENC_DXB>;
		 *	no-map;
		 * };
		 *
		 * pmap_jpg_raw_dxb: jpg_raw_dxb {
		 *	telechips,pmap-name = "jpg_raw_dxb";
		 *	alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
		 *	size = <PMAP_SIZE_JPG_RAW_DXB>;
		 *	no-map;
		 * };
		 */

		pmap_v4l2_subtitle: v4l2_subtitle {
			compatible = "telechips,pmap";
			telechips,pmap-name = "v4l2_subtitle";
			alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
			size = <PMAP_SIZE_V4L2_SUBTITLE>;
			no-map;
		};

		pmap_prot_tztee: prot_tztee {
			compatible = "telechips,pmap";
			telechips,pmap-name = "prot_tztee";
			alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
			/* Calculate start address based on 0x30000000.
			 * Base address will be (0x30000000 - prot_tztee_size).
			 */
			size = <0x0>;
			no-map;
		};

		reserved_ramoops: ramoops {
			compatible = "telechips,pmap";
			telechips,pmap-name = "ramoops";
			alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
			size = <PMAP_SIZE_RAMOOPS>;
			no-map;
		};

		/*
		 * reserved_cma: linux,cma {
		 *	compatible = "shared-dma-pool";
		 *	alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
		 *	size = <PMAP_SIZE_CMA>;
		 *	//alignment = <0x04000000>;
		 *	alignment = <0x0>;
		 *	linux,cma-default;
		 *	reusable;
		 * };
		 */

		/*-----------------------------------------------------------
		 * Shared Memory with pmap_video :: only for enc_main pmap.
		 *-----------------------------------------------------------
		 */
		pmap_enc_main: enc_main {
			compatible = "telechips,pmap";
			telechips,pmap-name = "enc_main";
			alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
			telechips,pmap-shared = <&pmap_video>;
			telechips,pmap-shared-size = <PMAP_SIZE_ENC>;
			telechips,pmap-offset = <VIDEO_MAIN_SIZE>;
			size = <0x0>;
			no-map;
		};

		pmap_enc_ext: enc_ext {
			compatible = "telechips,pmap";
			telechips,pmap-name = "enc_ext";
			alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
			size = <PMAP_SIZE_ENC_EXT>;
			no-map;
		};

		pmap_enc_ext2: enc_ext2 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "enc_ext2";
			alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
			size = <PMAP_SIZE_ENC_EXT2>;
			no-map;
		};

		pmap_enc_ext3: enc_ext3 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "enc_ext3";
			alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
			size = <PMAP_SIZE_ENC_EXT3>;
			no-map;
		};

		pmap_enc_ext4: enc_ext4 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "enc_ext4";
			alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
			size = <PMAP_SIZE_ENC_EXT4>;
			no-map;
		};

		pmap_enc_ext5: enc_ext5 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "enc_ext5";
			alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
			size = <PMAP_SIZE_ENC_EXT5>;
			no-map;
		};

		pmap_enc_ext6: enc_ext6 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "enc_ext6";
			alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
			size = <PMAP_SIZE_ENC_EXT6>;
			no-map;
		};

		pmap_enc_ext7: enc_ext7 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "enc_ext7";
			alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
			size = <PMAP_SIZE_ENC_EXT7>;
			no-map;
		};

		pmap_enc_ext8: enc_ext8 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "enc_ext8";
			alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
			size = <PMAP_SIZE_ENC_EXT8>;
			no-map;
		};

		pmap_enc_ext9: enc_ext9 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "enc_ext9";
			alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
			size = <PMAP_SIZE_ENC_EXT9>;
			no-map;
		};

		pmap_enc_ext10: enc_ext10 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "enc_ext10";
			alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
			size = <PMAP_SIZE_ENC_EXT10>;
			no-map;
		};

		pmap_enc_ext11: enc_ext11 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "enc_ext11";
			alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
			size = <PMAP_SIZE_ENC_EXT11>;
			no-map;
		};

		pmap_enc_ext12: enc_ext12 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "enc_ext12";
			alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
			size = <PMAP_SIZE_ENC_EXT12>;
			no-map;
		};

		pmap_enc_ext13: enc_ext13 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "enc_ext13";
			alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
			size = <PMAP_SIZE_ENC_EXT13>;
			no-map;
		};

		pmap_enc_ext14: enc_ext14 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "enc_ext14";
			alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
			size = <PMAP_SIZE_ENC_EXT14>;
			no-map;
		};

		pmap_enc_ext15: enc_ext15 {
			compatible = "telechips,pmap";
			telechips,pmap-name = "enc_ext15";
			alloc-ranges = <RESERVED_MEM_BASE RESERVED_MEM_SIZE>;
			size = <PMAP_SIZE_ENC_EXT15>;
			no-map;
		};
	};

	ckc@74000000 {
		adjust-audio-clk;	/* adjust audio clock for A2DP plaing */
	};

	tcc_bluetooth {
		compatible = "telechips, tcc_bluetooth";
		bt_power-gpio = <&gpc 21 0>;
		bt_reg_on-gpio = <&gpf 31 0>;
		status = "okay";
	};

	tcc_bt_dev {
		compatible = "telechips, tcc_bt_dev";
		status = "okay";
	};

	gps-gpio {
		compatible = "telechips, gps-gpio";
		gps_power-gpios = <&gpc 25 0>;
	};

	i2c@76300000 {
		status = "okay";
		port-mux = <11>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2c11_bus>;

		ssd253x@48 {
			compatible = "solomon,ssd253x";
			reg = <0x48>;
			pinctrl-names = "default";
			pinctrl-0 = <&tsc_default>;
			int-gpio = <&gpd 21 0>;
			reset-gpio = <&gpe 5 0>;
		};
	};

	i2c@76310000 {
		status = "okay";
		port-mux = <18>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2c18_bus>;

		videosource0: videodecoder_adv7182 {
			compatible	= "analogdevices,adv7182";
			pinctrl-names	= "idle", "active";
			cifport         = <4>;
			pinctrl-0	= <&cam4_idle>;
			pinctrl-1	= <&cam4_clk &cam4_data>;
			rst-gpios	= <&gpe  4 1>;
			reg		= <0x21>;	// 0x42 >> 1
		};

		videosource1: videodecoder_dm5886 {
			compatible	= "davicom,dm5886";
			pinctrl-names	= "idle", "active";
			cifport         = <1>;
			pinctrl-0	= <&cam1_idle>;
			pinctrl-1	= <&cam1_clk &cam1_hsync &cam1_vsync &cam1_data &cam1_fld &cam1_de>;
                        rst-gpios	= <&gpf 11 1>;
			reg		= <0x60>;	// 0xC0 >> 1
		};
	};

	i2c@76320000 {
		status = "okay";
		port-mux = <23>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2c23_bus>;
	};

	i2c@76330000 {
		status = "okay";
		port-mux = <12>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2c12_bus>;

		ak4601: ak4601@10 {
			compatible = "akm,ak4601";
			//ak4601,pdn-gpio = <&gpe 4 1>;
			cmute-gpios = <&gpc 18 1>;     //CODEC_MUTE    0: active high, 1: active low
			//amute-gpios = <&gpc 18 0>;      //AMP_MUTE      0: active high, 1: active low
			//stanby-gpios = <&gpc 16 0>;     //AMP_STBY      0: active high, 1: active low		
			reg = <0x10>;
		};

		pmic: rt5028@3f {
			compatible = "Richtek,rt5028";
			reg = <0x3f>;
			int-gpios = <&gpe 31 0>;

			regulators {
				RT5028_ID_BUCK1: buck1 {
					regulator-name = "vdd_core";
					regulator-min-microvolt = <700000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
				};
				RT5028_ID_BUCK2: buck2 {
					regulator-name = "vdd_mem";
					regulator-min-microvolt = <700000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
				};
				RT5028_ID_BUCK3: buck3 {
					regulator-name = "vdd_cpu";
					regulator-min-microvolt = <700000>;
					regulator-max-microvolt = <3600000>;
					regulator-always-on;
				};
				RT5028_ID_BUCK4: buck4 {
					regulator-name = "vdd_io3v3";
					regulator-min-microvolt = <700000>;
					regulator-max-microvolt = <3600000>;
					regulator-always-on;
				};
				RT5028_ID_LDO1: ldo1 {
					regulator-name = "vd2_core";
					regulator-min-microvolt = <1600000>;
					regulator-max-microvolt = <3600000>;
					regulator-always-on;
				};
				RT5028_ID_LDO2: ldo2 {
					regulator-name = "vdd_io1v8";
					regulator-min-microvolt = <1600000>;
					regulator-max-microvolt = <3600000>;
					regulator-always-on;
				};
				RT5028_ID_LDO3: ldo3 {
					regulator-name = "vdd_btwifi";
					regulator-min-microvolt = <1600000>;
					regulator-max-microvolt = <3600000>;
					regulator-always-on;
				};
				RT5028_ID_LDO4: ldo4 {
					regulator-name = "vdd_vbat";
					regulator-min-microvolt = <3000000>;
					regulator-max-microvolt = <3600000>;
					regulator-always-on;
				};
				RT5028_ID_LDO5: ldo5 {
					regulator-name = "vdd_gps";
					regulator-min-microvolt = <3000000>;
					regulator-max-microvolt = <3600000>;
					regulator-always-on;
				};
				RT5028_ID_LDO6: ldo6 {
					regulator-name = "vd1_io";
					regulator-min-microvolt = <3000000>;
					regulator-max-microvolt = <3600000>;
					regulator-always-on;
				};
				RT5028_ID_LDO7: ldo7 {
					regulator-name = "vd1_core";
					regulator-min-microvolt = <1600000>;
					regulator-max-microvolt = <3600000>;
					regulator-always-on;
				};
				RT5028_ID_LDO8: ldo8 {
					regulator-name = "vd2_io";
					regulator-min-microvolt = <1600000>;
					regulator-max-microvolt = <3600000>;
					regulator-always-on;
				};
			};
		};
	};

	smui2c@74500000 {
		status = "okay";
	};

	gpsb0@76900000 {
		status = "okay";
		gpsb-port = <12>;
		pinctrl-names = "idle", "active";
		pinctrl-0 = <&gpsb12_bus_idle>;
		pinctrl-1 = <&gpsb12_bus_spi>;

		#address-cells = <1>;
		#size-cells = <0>;

		spidev@0 {
			compatible = "rohm,dh2228fv";
			reg = <0>;
			spi-max-frequency = <2000000>;
		};
	};

	gpsb1@76910000 {
		status = "okay";
		gpsb-port = <13>;
		pinctrl-names = "idle", "active";
		pinctrl-0 = <&gpsb13_bus_idle>;
		pinctrl-1 = <&gpsb13_bus_tsif>;
	};

	gpsb2@76920000 {
		status = "okay";
		gpsb-port = <12>;
		pinctrl-names = "idle", "active";
		pinctrl-0 = <&gpsb12_bus_idle>;
		pinctrl-1 = <&gpsb12_bus_tsif>;
	};

	vbus_supply_ehci: vbus_supply_ehci {
		compatible = "regulator-gpio";
		regulator-name = "vbus_supply_ehci";
		regulator-type = "voltage";
		regulator-min-microvolt = <0000001>;
		regulator-max-microvolt = <5000000>;
		gpios = <&gphdmi 2 0x0>;
		gpios-states = <0x0>;
		states = <0000001 0x0 5000000 0x1>;
	};

	vbus_supply_dwc2: vbus_supply_dwc2 {
		compatible = "regulator-gpio";
		regulator-name = "vbus_supply_dwc2";
		regulator-type = "voltage";
		regulator-min-microvolt = <0000001>;
		regulator-max-microvolt = <5000000>;
		gpios = <&gphdmi 3 0x0>;
		gpios-states = <0x0>;
		states = <0000001 0x0 5000000 0x1>;
	};

	ehci_phy@71EA0010{
		status = "okay";
		vbus-ctrl-able;
		vbus-supply = <&vbus_supply_ehci>;
	};

	ehci@71200000 {
		status = "okay";
	};

	ohci@71300000 {
		status = "okay";
	};

	dwc_otg_phy@71EA0100 {
		status = "okay";
		vbus-ctrl-able;
		vbus-supply = <&vbus_supply_dwc2>;
	};

	dwc_otg@71B00000 {
		status = "okay";
		phy-type = <1>;     //pico phy = 1, nano phy = 0
	};

	/* SD CARD */
	vqmmc_sd: vqmmc_sd {
		compatible = "regulator-fixed";
		regulator-name = "vqmmc_sd";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	sdhc@76020000 {
		status = "okay";
		/*
		 * In order to reduce boot time,
		 * we use the driver as module not built-in.
		 */
		compatible = "telechips,tcc897x-sdhci,module-only";
		controller-id = <0>;
		bus-width = <4>;
		max-frequency = <50000000>;
		pinctrl-names = "default";
		pinctrl-0 = <&sd5_clk &sd5_cmd &sd5_bus4>;

		broken-cd;
		cd-inverted;
		keep-power-in-suspend;

		wp-gpios = <&gpf 20 0>;
		cd-gpios = <&gpf 21 0>;

		vqmmc-supply = <&vqmmc_sd>;
	};
#if 1 // 0 : force detect, 1 : not force detect
	sdhc@76020400 { // Wi-Fi tcm3840
		status = "okay";
		controller-id = <2>;
		max-frequency = <208000000>;
		//cd-gpios = <&gpb 13 0>;
		//wp-gpios = <&gpext1 3 0>;
		pinctrl-names = "default", "active";
		pinctrl-0 = <&sd0_clk_idle &sd0_cmd_idle &sd0_bus4_idle &out0_clk>;
		pinctrl-1 = <&sd0_clk &sd0_cmd &sd0_bus4 &out0_clk>;
		clocks = <&clk_peri PERI_SDMMC2 &clk_io IOBUS_SDMMC2 &clk_peri PERI_OUT0>;
		clock-names = "mmc_fclk", "mmc_hclk", "ext32";
		//pwr-gpio = <&gpext2 10 0>;

		cd-inverted;
		//wp-inverted;
		//non-removable;
		//broken-cd;
		keep-power-in-suspend;
		//enable-sdio-wakeup;
		//cap-power-off-card;
		//tcc-clock-control;
		cap-sdio-irq;
		cap2-no-sleep-cmd;
		cap-bus-width-test;

		wifi-polling; // tcm3800 polling
		ext32-enable; // make_rtc
		cap-adma;

		/* High-speed SDR */
		cap-sd-highspeed;
		cap-mmc-highspeed;

		/* High-speed DDR(emmc & SD3.0 DDR50) */
		//cap-1-8V-ddr;
		//cap-uhs-ddr50;

		/* SD3.0 Common */
		cap-vdd-165-195;

		/* SD3.0 SDR12 */
		//cap-uhs-sdr12;

		/* SD3.0 SDR25 */
		//cap-uhs-sdr25;
		//cap-uhs-driver_type_a;

		/* SD3.0 SDR50 */
		//cap-uhs-sdr50;
		//cap-uhs-driver_type_c;

		/* SD3.0 SDR104 */
		cap-uhs-sdr104;
		cap-uhs-driver_type_d;
		cap-uhs-cmd23;
		cap-adma;
	};

	tcm3800 {
		compatible = "telechips, tcm3800";
		wlreg_on-gpio = <&gpsd 10 0>; /* WIFI_REG_ON */
		wifi_pwr-gpio = <&gpc 21 0>; /* BTWIFI_VBAT_EN */
	};
#else
	/* for BT/WIFI LPO (32.768KHz) */
	tcm_lpo: tcm_lpo {
		compatible = "telechips,tcm-lpo";
		clocks = <&clk_peri PERI_OUT0>;
		clock-names = "ext_clock";
		ext_clock_speed = <32768>;
		pinctrl-names = "default";
		pinctrl-0 = <&out0_clk>;
	};

	/* for pwrseq */
	sdhc2_pwrseq: sdhc2_pwrseq {
		//compatible = "mmc-pwrseq-simple-ext-clock";
	};

	vqmmc_sdio: vqmmc_sdio {
		compatible = "regulator-fixed";
		regulator-name = "vqmmc_sdio";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	sdhc@76020400 { // Wi-Fi tcm3840
		status = "okay";
		compatible = "telechips,tcc897x-sdhci";
		controller-id = <2>;
		bus-width = <4>;
		max-frequency = <200000000>;
		pinctrl-names = "default";
		pinctrl-0 = <&sd0_clk &sd0_cmd &sd0_bus4>;
		clocks = <&clk_peri PERI_SDMMC2 &clk_io IOBUS_SDMMC2>;
		clock-names = "mmc_fclk", "mmc_hclk";

		keep-power-in-suspend;
		cap-sdio-irq;

		//mmc-pwrseq = <&sdhc2_pwrseq>;
		vqmmc-supply = <&vqmmc_sdio>;

		cd-force-presence-change;

		tcm38xx {
			compatible = "telechips,tcm38xx";
			wlreg_on-gpio = <&gpsd 10 0>; /* WIFI_REG_ON */
			wifi_pwr-gpio = <&gpc 21 0>; /* BTWIFI_VBAT_EN */
		};
	};
#endif

	/* eMMC */
	vqmmc_emmc: vqmmc_emmc {
		compatible = "regulator-fixed";
		regulator-name = "vqmmc_emmc";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	sdhc@76020600 {
		status = "okay";
		compatible = "telechips,tcc897x-sdhci";
		controller-id = <3>;
		bus-width = <8>;
		max-frequency = <50000000>;
		pinctrl-names = "default";
		pinctrl-0 = <&sd3_clk &sd3_cmd &sd3_bus8>;

		non-removable;
		keep-power-in-suspend;
		disable-wp;

		vqmmc-supply = <&vqmmc_emmc>;
	};

/*
	tcc_dxb_drv {
		compatible = "telechips,tcc_dxb_drv";
	};

	tcc_dxb_internal {
		compatible = "telechips,tcc_dxb_internal";
		hwdmx_num = <2>;
	};

	tcc_dxb_ctrl {
		compatible = "telechips,tcc_dxb_ctrl";
		pw-gpios   = <&gpext2 27 0>;
		dxb0-gpios = <&gpext2 30 0>, <&gpext2 28 0>, <&gpe 8 0>, <&gpe 1 0>;
		dxb1-gpios = <&gpext2 31 0>, <&gpext2 29 0>, <&gpe 9 0>, <&gpe 17 0>;
		ant-gpios  = <0>, <0>;
	};
*/
	/* CP */
	auth-cp {
		compatible = "telechips, tcc-cp";
		cp-type = <2>;	    /* 3.0 = 2, 2.0C = 1, 2.0B = 0 */
		i2c-channel = <2>;	/* 0 ~ 3 */
		/*	power-ctrl-able; */
		/* cp_power-gpio = <&gpext2 14 0>; */
		cp_reset-gpio = <&gpg 19 0>;
	};

	i2s@76201000 {
		pinctrl-names = "default", "dai_mute";
		pinctrl-0 = <&mdai_clks &mdai_d0>;
		pinctrl-1 = <&mute_mdai_d0>;
		status = "okay";
	};

	i2s@76101000 {
		pinctrl-names = "default", "dai_mute";
		pinctrl-0 = <&s3dai_clks &s3dai_d0>;
		pinctrl-1 = <&mute_s3dai_d0>;
		status = "okay";
	};

	i2s@76401000 {
		pinctrl-names = "default", "dai_mute";
		pinctrl-0 = <&s1dai_clks &s1dai_d0>;
		pinctrl-1 = <&mute_s1dai_d0>;
		status = "okay";
	};
/*
	i2s@76b01000 {
		pinctrl-names = "default";
		pinctrl-0 = <&s2dai_clks &s2dai_d0>;
		status = "okay";
	};
*/
	spdif@76202000 {
		pinctrl-names = "default";
		pinctrl-0 = <&mdai_spdif_tx &mdai_spdif_rx>;
		status = "okay";
	};

	spdif@76102000 {
		pinctrl-names = "default";
		pinctrl-0 = <&s3dai_spdif_tx>;
		status = "okay";
	};

	dummy: dummy@0 {
		compatible = "telechips,dummy";
	};

	sound {
		compatible = "telechips,snd-lcn3";
		telechips,model = "TCC Audio Card";

		telechips,dai-controller = <&i2s1 &spdif0 &i2s0 &spdif1>;
		telechips,audio-codec = <&ak4601 &dummy &dummy &dummy>;

		status="okay";
	};

	switch_reverse {
		compatible = "telechips,switch_reverse";
		status = "okay";

		pinctrl-names = "default";
		pinctrl-0 = <&switch_reverse2>;

		switch-gpios = <&gpd 4 0>;
		switch-active = <1>;
	};

	overlaymixer:overlaymixer@72400000 {
		//status ="okay";
		contiguousSize = <0x1000000>;  /* 16MB (if > 512MB RAM) refer to Guide 27 Page */
		baseAddress = <0x80000000>;
		physSize = <0x80000000>; /*  DRAM size (0x40000000 = 1GB, 0x80000000 = 2GB) */
	};

	fbdisplay: fbdisplay@72000000 {
		telechips,fbdisplay_num = <0>;
		status ="okay";
	};

	tcc_vsync_drv {
		compatible = "telechips,tcc_vsync";
		display-vioc0 = <&vioc_disp VIOC_DISP0>;
		display-vioc1 = <&vioc_disp VIOC_DISP1>;
		status = "okay";
	};

	tcc_video_viqe {
		status ="okay";

		tcc_video_viqe_lcd {
			telechips,sc = <&vioc_scaler VIOC_SCALER3>;
			//scaler_num_60 = <3>;
		};
	};

	vioc_lut:vioc_lut@72009000{
		status = "okay";
	};

	wdma_drv0:wdma_drv@0 {
		status = "okay";
		scalers = <&vioc_scaler VIOC_SCALER2>, <&vioc_scaler VIOC_SCALER2>;
	};

	hdmi@72300000 {
		status = "okay";
		vioc_lcdc_num = <0>;
		no_gpio_manual_control = <1>;
	};

	hpd@72310000 {
		status = "okay";
	};

	audio@72330000 {
		status = "okay";
	};

	cec@72370000 {
		status = "okay";
	};

	gmac@71600000 {
		status = "okay";
		phyrst-gpio = <&gpc 29 0>;
		phyon-gpio = <&gpc 19 0>;
		phy-interface = "rgmii";
		ecid-mac-addr;
		txclk-o-dly = <0>; // changed from <29>;
		txclk-o-inv = <0>;
		txclk-i-dly = <0>;
		txclk-i-inv = <0>;
		txen-dly = <0>;
		txer-dly = <0>;
		txd0-dly = <0>;
		txd1-dly = <0>;
		txd2-dly = <0>; // <3>;
		txd3-dly = <0>; // <3>;
		txd4-dly = <0>;
		txd5-dly = <0>;
		txd6-dly = <0>;
		txd7-dly = <0>;
		rxclk-i-dly = <0>;
		rxclk-i-inv = <0>;
		rxdv-dly = <0>; // changed from <15>;
		rxer-dly = <0>;
		rxd0-dly = <0>; //<22>;
		rxd1-dly = <0>; //<20>;
		rxd2-dly = <0>; //<20>;
		rxd3-dly = <0>; //<21>;
		rxd4-dly = <0>;
		rxd5-dly = <0>;
		rxd6-dly = <0>;
		rxd7-dly = <0>;
		crs-dly = <0>;
		col-dly = <0>;
		pinctrl-names = "default", "mii", "rmii", "gmii", "rgmii";
		pinctrl-0 = <>;
		pinctrl-1 = <&gmac1_mdc &gmac1_mdio &gmac1_col &gmac1_crs &gmac1_txer &gmac1_rxer
					 &gmac1_txclk &gmac1_txen &gmac1_txd0 &gmac1_txd1 &gmac1_txd2 &gmac1_txd3
					 &gmac1_rxclk &gmac1_rxdv &gmac1_rxd0 &gmac1_rxd1 &gmac1_rxd2 &gmac1_rxd3>;
		pinctrl-2 = <&gmac1_mdc &gmac1_mdio
					 &gmac1_txclk &gmac1_txen &gmac1_txd0 &gmac1_txd1
					 &gmac1_rxer &gmac1_rxdv &gmac1_rxd0 &gmac1_rxd1>;
		pinctrl-3 = <&gmac1_mdc &gmac1_mdio &gmac1_col &gmac1_crs &gmac1_txer &gmac1_rxer
					 &gmac1_txclk &gmac1_txen &gmac1_txd0 &gmac1_txd1 &gmac1_txd2 &gmac1_txd3
					 &gmac1_txd4 &gmac1_txd5 &gmac1_txd6 &gmac1_txd7
					 &gmac1_rxclk &gmac1_rxdv &gmac1_rxd0 &gmac1_rxd1 &gmac1_rxd2 &gmac1_rxd3
					 &gmac1_rxd4 &gmac1_rxd5 &gmac1_rxd6 &gmac1_rxd7>;
		pinctrl-4 = <&gmac1_mdc &gmac1_mdio
					 &gmac1_txclk &gmac1_txen &gmac1_txd0 &gmac1_txd1 &gmac1_txd2 &gmac1_txd3
					 &gmac1_rxclk &gmac1_rxdv &gmac1_rxd0 &gmac1_rxd1 &gmac1_rxd2 &gmac1_rxd3>;
	};

	lvds: lvds@72380040{
		status = "okay";
	};

	fld0800 {
		compatible = "telechips,lvds-fld0800";
		status = "okay";
		lvds0 = <&lvds>;
		//power-on-gpios	= ;			//LCD_ON
		display-on-gpios	= <&gpd 6 0>;		//LCD_DISP
		reset-gpios		= <&gpf 19 0>;		//LCD_RST
		lvds-stby-gpios		= <&gpb 19 0>;		//LCD_DE = LVDS_STBY in LVDS
		//lvds-power-gpios	= ;			//LVDS_EN
		//lvds-power-gpios1	= ;			//V_5V0_EN
	};

	panel_1920x720 {
		status = "disable";
		compatible = "telechips,hdmi1920x720";
		clocks = <&clk_peri PERI_LCD0>, <&clk_peri PERI_LCD1>, <&clk_peri PERI_HDMI>, <&clk_ddi DDIBUS_HDMI>, <&clk_isoip_top ISOIP_TOP_HDMI>;
		clock-names = "lcdc0-clk", "lcdc1-clk", "hdmi-pclk", "hdmi-hclk", "hdmi-phy";
	};

	backlight {
		compatible = "telechips,tco_backlight";
		tco = <1 50>;	/* unit:nsec. */
		bl-gpios = <&gpc 19 4>;
		bl-gpio-func = <4>;
		default-brightness = <102>;	/* MAX:255 */
		status = "okay";
		pinctrl-names = "active", "idle";
		pinctrl-0 = <&tco_0_0>;
		pinctrl-1 = <&tco_0_0_idle>;
	};

	thermal@74700000 {
		compatible = "telechips,tcc-thermal";

                reg = <0x74700000 0x4 0x74700030 0x4 0x74200290 0x4
                        0x7420029c 0x4 0x74200298 0x4 0x7470000C 0x4
                        0x74700010 0x4>;

                status = "okay";

                throttle_count = <5>;
                throttle_active_count = <0>;
                throttle_passive_count = <5>;
                cal_type = "TYPE_ONE_POINT_TRIMMING";
                polling-delay-idle = <0>;
                polling-delay-passive = <0>;

                threshold_temp = <85>;

		throttle_table {
			throttle_tab_0 {
				temp = <75>;
				freq_max_cluster0 = <1000000>;
				freq_max_cluster1 = <900000>;
			};
			throttle_tab_1 {
				temp = <80>;
				freq_max_cluster0 = <900000>;
				freq_max_cluster1 = <810000>;
			};
			throttle_tab_2 {
				temp = <85>;
				freq_max_cluster0 = <800000>;
				freq_max_cluster1 = <720000>;
			};
			throttle_tab_3 {
				temp = <90>;
				freq_max_cluster0 = <700000>;
				freq_max_cluster1 = <630000>;
			};
			throttle_tab_4 {
				temp = <95>;
				freq_max_cluster0 = <600000>;
				freq_max_cluster1 = <540000>;
			};
		};
	};

	cpu-id@74200290{
		compatible = "telechips,tcc-cpu-id";
		reg = <0x74200290 0x4 0x74200298 0x4 0x7420029C 0x4 0x74400014 0x4>;
		status = "okay";
	};

	adc@76064000 {
		status = "okay";
	};
};

/* console */
&uart0 {
        pinctrl-names = "default";
        pinctrl-0 = <&uart22_data>;
        port-mux = <22>;
        status = "okay";
};

/* bluetooth */
&uart1 {
        pinctrl-names = "default";
        pinctrl-0 = <&uart30_data &uart30_rtscts>;
        port-mux = <30>;
        dmas = <&dma0 0 29 &dma0 1 30>;
        dma-names = "tx", "rx";
        status = "okay";
};

/* GPS */
&uart3 {
        pinctrl-names = "default";
        pinctrl-0 = <&uart10_data>;
        port-mux = <10>;
        status = "okay";
};


/{
	firmware {
		android {
			compatible = "android,firmware";
			fstab {
				compatible = "android,fstab";
				vendor {
					compatible = "android,vendor";
					dev = "/dev/block/platform/76020600.sdhc/by-name/vendor";
					type = "ext4";
					mnt_flags = "ro, wait";
					fsmgr_flags = "wait";
				};
			};
		};
	};
};

&reboot_mode {
	mode-shell = <BOOT_NORMAL>;
	mode-bootloader = <BOOT_FASTBOOT>;
	mode-recovery = <BOOT_RECOVERY>;
};
