// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device tree for Telechips TCC8030 Dual Chip Solution - IVI Side
 *
 * Copyright (C) 2018 Telechips Inc. 
 */

#ifndef DT_OVERLAY
/dts-v1/;
#endif

#include "tcc8031-android-avn.dtsi"

&i2c0 {
	pmic@5A {
		regulators {
			bcore1 {
				regulator-min-microvolt = <780000>;
				regulator-max-microvolt = <860000>;
			};
			bcore2 {
				regulator-min-microvolt = <780000>;
				regulator-max-microvolt = <860000>;
			};
			bpro {
				regulator-min-microvolt = <870000>;
				regulator-max-microvolt = <970000>;
			};
			bmem {
				regulator-min-microvolt = <780000>;
				regulator-max-microvolt = <860000>;
			};
			bio {
				regulator-min-microvolt = <780000>;
				regulator-max-microvolt = <860000>;
			};
			bperi {
				regulator-min-microvolt = <1710000>;
				regulator-max-microvolt = <1890000>;
			};
			ldo3 {
				regulator-min-microvolt = <3140000>;
				regulator-max-microvolt = <3470000>;
			};
			ldo7 {
				regulator-min-microvolt = <1140000>;
				regulator-max-microvolt = <1260000>;
			};
			ldo8 {
				regulator-min-microvolt = <1710000>;
				regulator-max-microvolt = <1890000>;
			};
			ldo9 {
				regulator-min-microvolt = <3140000>;
				regulator-max-microvolt = <3470000>;
			};
			ldo11 {
				regulator-min-microvolt = <3140000>;
				regulator-max-microvolt = <3470000>;
			};
		};
	};
};

&tm123xdhp90 {
	compatible = "telechips,lvds-tm123xdhp90";
	status = "okay";
	lvds0 = <&lvds_phy>;
	power-on-gpios = <&gpb 17>;		// LCD_ON
	reset-gpios = <&gpb 18 0>;		// LCD_RST
	/*
	display-on-gpios = ;		// LCD_DISP
	lvds-stby-gpios = ;		// LCD_DE = LVDS_STBY in LVDS
	lvds-power-gpios = ;		// LVDS_EN
	lvds-power-gpios1 = ;		// V_5V0_EN
	*/
	mode = <1>;		/* 0: single 1: dual */
	ports = <2 3 4>;
};

&gpu1 {
	status = "disabled";
};

&vioc_mgr0 {
	status = "okay";
};

#if 0 // 0: force detect, 1: not force detect
/* SDIO */
&sdhc2 { // Wi-Fi tcm3800
	status = "okay";
	compatible = "telechips,tcc-sdhc";
	controller-id = <2>;
	bus-width = <4>;
	max-frequency = <200000000>;
	pinctrl-names = "default", "active";
	pinctrl-0 = <&sd2_bus4_idle>;
	pinctrl-1 = <&sd2_clk &sd2_cmd &sd2_bus4 &out0_clk>;
	clocks = <&clk_peri PERI_SDMMC2 &clk_io IOBUS_SDMMC2 &clk_peri PERI_OUT5>;
	clock-names = "mmc_fclk", "mmc_hclk", "ext32";

	tcc-mmc-clk-out-tap = <0>;
	tcc-mmc-cmd-tap = <0>;
	tcc-mmc-data-tap = <0>;

	cd-inverted;
	//wp-inverted;
	//non-removable;
	//broken-cd;
	keep-power-in-suspend;
	//enable-sdio-wakeup;
	//cap-power-off-card;
	cap-sdio-irq;
	cap2-no-sleep-cmd;
	cap-bus-width-test;

	//wp-gpios = <&gpb 7 0>;
	//cd-gpios = <&gpext1 5 0>;
	//vctrl-gpio = <&gpsd 10 0>;
	//pwr-gpio = <&gpext2 7 0>;

	wifi-polling;
	ext32-enable; // make_rtc

	/*cap-sd-highspeed;*/
	/*cap-mmc-highspeed;*/

	/* High-speed DDR(emmc & SD3.0 DDR50) */
	//cap-1-8V-ddr;
	//cap-uhs-ddr50;

	/* SD3.0 Common */
	cap-vdd-165-195;

	/* SD3.0 SDR12 */
	//cap-uhs-sdr12;

	/* SD3.0 SDR25 */
	//cap-uhs-sdr25;
	//cap-uhs-driver_type_a;

	/* SD3.0 SDR50 */
	//cap-uhs-sdr50;
	//cap-uhs-driver_type_c;

	/* SD3.0 SDR104 */
	cap-uhs-sdr104;
	cap-uhs-driver_type_d;
	cap-uhs-cmd23;
	cap-adma;
};

&tcm3800 {
	compatible = "telechips, tcm3800";
	wifi_pwr-gpio = <&gpsd2 6 0>;
	wlreg_on-gpio = <&gpsd2 8 0>;
	//wifi_pwr_1p8v-gpio = <&gpsd1 6 0>;
	//wifi_pwr_3p3v-gpio = <&gpsd1 7 0>;
};
#else
/* SDIO */
&vqmmc_sdio {
	compatible = "regulator-fixed";
	regulator-name = "vqmmc_sdio";
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	regulator-always-on;
};


&sdhc2 {
	compatible = "telechips,tcc-sdhci";
	controller-id = <2>;
	//non-removable;
	keep-power-in-suspend;
	cap-sdio-irq;

	max-frequency = <200000000>;
	//max-frequency = <10000000>;

	vqmmc-supply = <&vqmmc_sdio>;

	cd-force-presence-change;

	tcm38xx {
		compatible = "telechips,tcm38xx";
		wifi_pwr-gpio = <&gpsd2 6 0>; /* BT_WIFI_VBAT_EN */
		wlreg_on-gpio = <&gpsd2 8 0>; /* WIFI_REG_ON */
		//wifi_pwr_1p8v-gpio = <&gpsd1 6 0>;
		//wifi_pwr_3p3v-gpio = <&gpsd1 7 0>;
	};
};
#endif

&tcc_timer {
	/* Timer 0 is used for WIFI LPO */
	tcc-timer-reserved = <0>;
};

&auth_cp {
	i2c-channel = <1>;
};
