// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device tree for Telechips TCC9010 STB board
 *
 * Copyright (C) 2018 Telechips Inc.
 */

#ifndef DT_OVERLAY
#include "tcc9010.dtsi"
#endif

#include "tcc901x-android.dtsi"

/ {
	model = "Telechips TCC9010 STB Board";
	compatible = "telechips,tcc9010", "telechips,tcc901x";

        tcc_nsk_sc: tcc_nsk_sc@16671000 {
        };

};

        &tcc_nsk_sc {
                compatible = "telechips,tcc-nsk-sc";
                reg = <0x16671000 0xFF>,
                        <0x16684000 0x1F>,
                        <0x16051000 0x70>,
                        <0x16020200 0x2F>;
                /*interrupts = <GIC_SPI 70 IRQ_TYPE_LEVEL_HIGH>;*/
                /*interrupts = <GIC_SPI 95 IRQ_TYPE_LEVEL_HIGH>;*/
                interrupts = <GIC_SPI 88 IRQ_TYPE_LEVEL_HIGH>;
                clocks = <&clk_peri PERI_UART7>, <&clk_io IOBUS_SMARTCARD7>; /* UART7 and SMARTCARD7 share a peripheral clock which is PERI UART7 */
                clock-names = "smartcardclk", "apb_pclk";
                clock-frequency = <108000000>;

                iobus_dmareqsel_offset = <0x24>;
                iobus_dmareqsel_value = <0x40000000>;
                iobus_hrsten_offset = <0xc>;
                iobus_hrsten_value = <0x200>;

                dma_extreq_value = <0x40000000>;

                uart_chnum = <7>;
                uart_port = <7>;
                uart_datmux_use = <1>;

                tda8024_use = <1>;
                rst_gpios =  <&gpd 9 0>;
		//rst_gpios = <&gpf 10 0>;
                detect_gpios = <&gpf 21 0>;
                pwren_gpios = <&gpf 22 0>;
                /*pwren_gpios = <&gpf 8 0>;*/
                vccsel_gpios = <&gpf 8 0>;
                clk_gpios = <&gpf 27 0>;
                data_c7_gpios = <&gpf 26 0>;
                data_c4_gpios = <&gpf 28 0>;
                data_c8_gpios = <&gpf 29 0>;
                pinctrl-names = "default", "gpio_C4", "gpio_C8", "gpio_C7", "gpio_C3";
                pinctrl-0 = <&nsk_sc_ctrl>;
                pinctrl-1 = <&nsk_sc_gpio_C4>;
                pinctrl-2 = <&nsk_sc_gpio_C8>;
                pinctrl-3 = <&nsk_sc_gpio_C7>;
                pinctrl-4 = <&nsk_sc_gpio_C3>;
                status = "okay";

        };

&chosen {
};

&cpu0_regulators {
	compatible = "regulator-gpio";

	regulator-name = "vdd_cpu0";
	regulator-min-microvolt = < 800000>;
	regulator-max-microvolt = <1000000>;
	regulator-type = "voltage";
	regulator-always-on;

	gpios = <&gpd 17 0x4
	         &gpd 16 0x4>;

	gpios-states = <0 1>;

	states = < 800000 0x1
		900000 0x2
		1000000 0x3
	>;

	startup-delay-us = <100000>;
	enable-active-high;
};

&mali_regulators {
	compatible = "regulator-gpio";

	regulator-name = "vdd_mali";
	regulator-min-microvolt = <700000>;
	regulator-max-microvolt = <900000>;
	regulator-type = "voltage";
	regulator-always-on;

	gpios = <&gpd 7 0x4
		&gpd 15 0x4>;
	gpios-states = <1 0>;

	states = < 700000 0x1
		800000 0x2
		900000 0x3
		>;

	startup-delay-us = <100000>;
	enable-active-high;
};

&gpu {
        operating-points-v2 = <&gpu_opp_table>;
};

&gpu_opp_table {

	opp@444000000 {
		opp-hz = /bits/ 64 <444000000>;
		opp-microvolt = <700000>;
		opp-core-mask = /bits/ 64 <0x3>;
	};
	opp@592000000 {
		opp-hz = /bits/ 64 <592000000>;
		opp-microvolt = <800000>;
		opp-core-mask = /bits/ 64 <0x3>;
	};

	opp@600000000 {
		opp-hz = /bits/ 64 <600000000>;
		opp-microvolt = <900000>;
		opp-core-mask = /bits/ 64 <0x3>;
	};
};

&tcc_pm {
	wakeup,powerkey = <PMU_WKUP_GP_G11 WAKEUP_ACT_LO>;
	//gpio-powers = <&gpd 20 0>;              /* SLP_PWRCTL */
};

&panel {
	status = "okay";
	compatible = "telechips,hdmi1920x1080";
};

&tcc_tve {
	status = "okay";
};

&composite {
	status = "okay";
};

&component {
	status = "disable";
	io_port_num = <1>;	/* TCC901x: LCDC interface 1 (L1_XXX) */
};

&output_starter {
	status = "okay";
};

&overlaymixer {
	status ="okay";
	contiguousSize = <0x1000000>;  /* 16MB (if > 512MB RAM) refer to Guide 27 Page */
	baseAddress = <0x20000000>;
	physSize = <0x80000000>; /*  DRAM size (0x40000000 = 1GB, 0x80000000 = 2GB) */
};

&fbdisplay {
	telechips,fbdisplay_num = <0>;
	status ="okay";
};

&tcc_overlay {
	compatible = "telechips,tcc_overlay";
	status = "okay";
	fbdisplay-overlay = <&fbdisplay>;
};

&tcc_vsync {
	compatible = "telechips,tcc_vsync";
	display-vioc0 = <&vioc_disp VIOC_DISP0>;
	display-vioc1 = <&vioc_disp VIOC_DISP1>;
	status = "okay";
};

&tcc_viqe {
	compatible = "telechips,tcc_viqe";
	status ="okay";
	tcc_viqe_viqe_common {
		board_num=<1>;
	};
};

&scaler_drv1 {
	rdmas = <&vioc_rdma VIOC_RDMA16>;
	scalers = <&vioc_scaler VIOC_SCALER1 VIOC_SC_RDMA_16>;	/* id:1, path:17 */
	wmixs = <&vioc_wmix VIOC_WMIX5>;	/* id:5, path:6 */
	wdmas = <&vioc_wdma VIOC_WDMA06>;
	settop_support = <1>;
	status = "okay";
};

&scaler_drv3 {
	rdmas = <&vioc_rdma VIOC_RDMA07>;
	scalers = <&vioc_scaler VIOC_SCALER3 VIOC_SC_RDMA_07>;	/* id:3, path:7 */
	wmixs = <&vioc_wmix VIOC_WMIX1>;	/* id:1, path:3 */
	wdmas = <&vioc_wdma VIOC_WDMA01>;
	settop_support = <1>;
	status = "okay";
};

&wmixer_drv0 {
	status = "okay";
};

&wmixer_drv1 {
	status = "okay";
};
&vioc_lut {
	status = "okay";
};

&hdmi_tx_20 {
	status = "okay";
	hdmi_ref_src_clock = <0>; // 0 XIN, 1 X-TAL, 2 PERI, 3, PMU XIN
	hdmi_phy_type = <1>;

	/* Source Product Description */
	product_description = "TCC9010_stb";
};

&hdmi_cec_20 {
	status = "okay";
};

&tcc_dxb_ctrl {
	compatible = "telechips,tcc_dxb_ctrl";
	pw-gpios   = <&gpe 20 0>;
	dxb0-gpios = <&gpe 22 0>, <&gpe 21>, <&gpd 2 0>, <>;
	dxb1-gpios = <>, <>, <>, <>;
	ant-gpios  = <>, <>;
};

/* I2C */

// Default set
&i2c0 {
	port-mux = <9>;
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c9_bus>;

	adv7343@20 {
		compatible = "component-adv7343-i2c";
		reg = <0x2b>;	/* ALSB=1, Write=0x56, Read=0x57 */
	};
};

// DXB
&i2c1 {
	port-mux = <8>;
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c8_bus>;
};

/* H/W Demux */
&hwdemux {
	compatible = "telechips,hwdemux";
	status = "okay";
};

/* Linux TV */
&tcc_hwdmx_tsif0 {
	compatible = "telechips,tcc90xx-hwdmx-tsif";
	tsif-port = <2>;
	pinctrl-names = "idle", "active";
	pinctrl-0 = <&tsrx2_idle>;
	pinctrl-1 = <&tsrx2_active>;
};

&tcc_hwdmx_tsif1 {
	compatible = "telechips,tcc90xx-hwdmx-tsif";
	tsif-port = <3>;
//	pinctrl-names = "idle", "active";
//	pinctrl-0 = <&tsrx3_idle>;
//	pinctrl-1 = <&tsrx3_active>;
};

/* GPSB */
&gpsb0 {
	status = "okay";
	gpsb-port = <8>;
	pinctrl-names = "idle", "active";
	pinctrl-0 = <&gpsb8_bus_idle>;
	pinctrl-1 = <&gpsb8_bus_spi>;

	#address-cells = <1>;
	#size-cells = <0>;
	spidev@0 {
		compatible = "rohm,dh2228fv";
		reg = <0>;
		spi-max-frequency = <2000000>;
	};
};

/* USB 3.0 DRD */
&dwc3_phy {
	status = "okay";
	vbus-ctrl-able;
	vbus-gpio = <&gpd 19 0>;
};
&dwc3 {
	status = "okay";
	//usb3en-ctrl-able;
	//usb3en-gpio = <&gpc 22 0>;
	//vbus-source-ctrl;
	vbus-ctrl-able;
	vbus-gpio = <&gpd 19 0>;
	//pinctrl-names = "default";
	//vdd_dwc-supply = <&vdd_v5p0_reg>;
};

/* USB 2.0 HOST */
&ehci_phy {
	status = "okay";
	vbus-ctrl-able;
	vbus-gpio = <&gpd 15 0>;
};

&mhst_phy {
	status = "okay";
	vbus-ctrl-able;
	vbus-gpio = <&gpd 18 0>;
};

&dwc_otg_phy {
	status = "okay";
	vbus-ctrl-able;
	vbus-gpio = <&gpd 18 0>;
};

&ehci {
	status = "disable";
	hcd_id = <0>;
	phy-type = <1>;	    //pico phy = 1, nano phy = 0
	//hosten-ctrl-able;
	//hosten-gpio = <&gpe 15 0>;
	//vbus-ctrl-able;
	//vbus-gpio = <&gpd 15 0>;
	//vbus-source-ctrl;
	//pinctrl-names = "default";
	//vdd_ehci-supply = <&vdd_v5p0_reg>;

	//sq_level_ctl;
	TXVRT = <0xB>;
	TXRISET = <0x3>;
	TXAT = <0x1>;
};

&ohci {
	status = "disable";
	//hosten-ctrl-able;
	//hosten-gpio = <&gpe 15 0>;
	//vbus-ctrl-able;
	//vbus-gpio = <&gpd 15 0>;
	//vbus-source-ctrl;
	//vdd_ohci-supply = <&vdd_v5p0_reg>;
};

/* USB 2.0 OTG */
&dwc_otg {
	status = "okay";
	phy-type = <1>;     //pico phy = 1, nano phy = 0

	vbus-ctrl-able;
	vbus-gpio = <&gpd 18 0>;
};

&audio_chmux {
	compatible = "telechips,audio-chmux-901x";
	dai = <99 1>; // i2s0(x) i2s1(x)
	cdif = <99 99>; // cdif0(x) cdif1(x)
	spdif = <1>; // spdif0(x)
	status = "okay";
};

&i2s0 {
	status = "okay";
};

&i2s1 {
	pinctrl-names = "default", "idle";
	pinctrl-0 = <&m1dai1_clks &m1dai1_dao0>;
	pinctrl-1 = <&m1dai1_clks_idle &m1dai1_dao0_idle>;
	status = "okay";
};

&spdif0 {
	pinctrl-names = "default", "idle";
	pinctrl-0 = <&m0dai1_spdif_tx>;
	pinctrl-1 = <&m0dai1_spdif_tx_idle>;
	status = "okay";
};

&adma0 {
	status = "okay";
};

&adma1 {
	status = "okay";
};

&wm8524 {
	compatible = "wolfson,wm8524";
	status = "okay";

	/*codec_aif-gpios = <&gpd 6 0>;*/
	codec_mute_ang-gpios = <&gpg 19 0>;
	codec_mute_ctl-gpios = <&gpg 17 0>;
	/* value to enable mute*/
	codec_mute_ang-mute_value = <0>;
};

&sound {
	compatible = "telechips,snd-card";
	card-name = "TCC9010 STB Card";
	status = "okay";

	telechips,dai-link@0 {
		stream-name="I2S_1";

		codec,format = "i2s"; // i2s, left_j, right_j
		codec,continuous-clock;

		mclk_div = <4>; // 4,6,8,16
		bclk_ratio = <64>; // 32,48,64fs
		pcm = <&adma1>;
		dai = <&i2s1>;
		codec = <&wm8524>;
		codec,dai-name = "wm8524-hifi";
	};

	telechips,dai-link@1 {
		stream-name="I2S_0_HDMI_PATHTRU";

		codec,format = "i2s"; // i2s, left_j, right_j
		codec,continuous-clock;

		mclk_div = <4>; // 4,6,8,16
		bclk_ratio = <64>; // 32,48,64fs
		pcm = <&adma0>;
		dai = <&i2s0>;
	};

	telechips,dai-link@2 {
		stream-name="SPDIF_0_TX";

		pcm = <&adma0>;
		dai = <&spdif0>;
		playback-only;
	};
};

&remote {
	int-gpios = <&gpc 28 0>;
	pinctrl-names = "default";
	pinctrl-0 = <&remote_c28>;
	wakeupsrc = <011>; //RMISEL is 0x3 : GPIO_C28
	status = "okay";
};

&gmac {
	status = "okay";
	phyrst-gpio = <&gpc 9 0>;
	phy-interface = "rgmii";
	ecid-mac-addr;

	txclk-o-dly = <4>;
	txclk-o-inv = <0>;

	txen-dly = <0>;
	txer-dly = <0>;
	txd0-dly = <0>;
	txd1-dly = <0>;
	txd2-dly = <0>;
	txd3-dly = <0>;
	txd4-dly = <0>;
	txd5-dly = <0>;
	txd6-dly = <0>;
	txd7-dly = <0>;

	rxclk-i-dly = <12>;
	rxclk-i-inv = <0>;

	rxdv-dly = <0>;
	rxer-dly = <0>;
	rxd0-dly = <0>;
	rxd1-dly = <0>;
	rxd2-dly = <0>;
	rxd3-dly = <0>;
	rxd4-dly = <0>;
	rxd5-dly = <0>;
	rxd6-dly = <0>;
	rxd7-dly = <0>;
	crs-dly = <0>;
	col-dly = <0>;
	pinctrl-names = "default", "mii", "rmii", "gmii", "rgmii";
	pinctrl-0 = <>;
	pinctrl-1 = <&gmac1_mdc &gmac1_mdio &gmac1_col &gmac1_crs &gmac1_txer &gmac1_rxer
		     &gmac1_txclk &gmac1_txen &gmac1_txd0 &gmac1_txd1 &gmac1_txd2 &gmac1_txd3
		     &gmac1_rxclk &gmac1_rxdv &gmac1_rxd0 &gmac1_rxd1 &gmac1_rxd2 &gmac1_rxd3>;
	pinctrl-2 = <&gmac1_mdc &gmac1_mdio
		     &gmac1_txclk &gmac1_txen &gmac1_txd0 &gmac1_txd1
		     &gmac1_rxer &gmac1_rxdv &gmac1_rxd0 &gmac1_rxd1>;
	pinctrl-3 = <&gmac1_mdc &gmac1_mdio &gmac1_col &gmac1_crs &gmac1_txer &gmac1_rxer
		     &gmac1_txclk &gmac1_txen &gmac1_txd0 &gmac1_txd1 &gmac1_txd2 &gmac1_txd3
		     &gmac1_txd4 &gmac1_txd5 &gmac1_txd6 &gmac1_txd7
		     &gmac1_rxclk &gmac1_rxdv &gmac1_rxd0 &gmac1_rxd1 &gmac1_rxd2 &gmac1_rxd3
		     &gmac1_rxd4 &gmac1_rxd5 &gmac1_rxd6 &gmac1_rxd7>;
	pinctrl-4 = <&gmac1_mdc &gmac1_mdio
		     &gmac1_txclk &gmac1_txen &gmac1_txd0 &gmac1_txd1 &gmac1_txd2 &gmac1_txd3
		     &gmac1_rxclk &gmac1_rxdv &gmac1_rxd0 &gmac1_rxd1 &gmac1_rxd2 &gmac1_rxd3>;
};

&pcie {
	reset-gpio = <&gpc 30 0>;
	//status = "okay";
};

&thermal {
	compatible = "telechips,tcc-thermal";
	reg = <0x14700000 0x4 0x14700030 0x4 0x14200290 0x4 0x1420029C 0x4>;
	clocks = <&clk_isoip_top ISOIP_TOP_TSEN>;
	status = "okay";

	throttle_count = <5>;
	throttle_active_count = <0>;
	throttle_passive_count = <5>;

	cal_type = "TYPE_ONE_POINT_TRIMMING";
	polling-delay-idle = <0>;
	polling-delay-passive = <0>;

	throttle_table {
		throttle_tab_0 {
			temp = <75>;
			freq_max_cluster0 = <1000000>;
			freq_max_cluster1 = <900000>;
		};
		throttle_tab_1 {
			temp = <80>;
			freq_max_cluster0 = <900000>;
			freq_max_cluster1 = <810000>;
		};
		throttle_tab_2 {
			temp = <85>;
			freq_max_cluster0 = <800000>;
			freq_max_cluster1 = <720000>;
		};
		throttle_tab_3 {
			temp = <90>;
			freq_max_cluster0 = <700000>;
			freq_max_cluster1 = <630000>;
		};
		throttle_tab_4 {
			temp = <95>;
			freq_max_cluster0 = <600000>;
			freq_max_cluster1 = <540000>;
		};
	};

};

&gpio_leds {
	compatible = "gpio-leds";
	green {
		gpios = <&gpa 1 0>;
		default-state = "on";
	};
	red {
		gpios = <&gpa 2 1>;
		default-state = "on";
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart2_data>;
	status = "okay";
};

/* bluetooth */
&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_data &uart4_rtscts>;
	dmas = <&udma1 2 2 &udma1 3 2>;
	dma-names = "tx", "rx";
	status = "okay";
};
