config DRM_TCC
	tristate "DRM Support for Telechips SoC Series"
	depends on OF && DRM
	select DRM_KMS_HELPER
	select DRM_KMS_FB_HELPER
	select FB_CFB_FILLRECT
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	select VIDEOMODE_HELPERS
	help
	  Choose this option if you have a Telechips SoC chipset.
	  If M is selected the module will be called tccdrm.

if DRM_TCC

comment "CRTCs"

config DRM_TCC_LCD
	bool "LCD"
	select FB_MODE_HELPERS
	select DRM_TCC_DPI
	help
	  Choose this option if you want to use LCD/LVDS I/F for DRM.

config DRM_TCC_EXT
        bool "TCC Extended LCD type"
        depends on DRM_TCC_LCD
        help
          Choose this option if you want to use Extended LCD for DRM.

config DRM_TCC_THIRD
        bool "TCC third display type"
        depends on DRM_TCC_EXT
        help
          Choose this option if you want to use third display for DRM.

#config DRM_TCC_MIXER
#	bool "Mixer"
#	help
#	  Choose this option if you want to use TCC Mixer for DRM.

config DRM_TCC_VIDI
	bool "Virtual Display"
	select DRM_TCC_DPI
	help
	  Choose this option if you want to use TCC VIDI for DRM.

comment "Encoders and Bridges"

config DRM_TCC_DPI
	bool "Parallel output"
	select DRM_PANEL
	help
	  This enables support for Tcc parallel output.

#config DRM_TCC_HDMI
#	bool "HDMI"
#	depends on DRM_TCC_MIXER && ARCH_TCC899X
#	help
#	  Choose this option if you want to use TCC HDMI for DRM.

#config DRM_TCC_VIOC
#        bool "Telechips DRM VIOC"
#        depends on DRM_TCC_IPP
#        help
#          Choose this option if you want to use TCC VIOC for DRM.

#comment "Sub-drivers"
#
#config DRM_TCC_IPP
#	bool "Image Post Processor"
#	help
#	  Choose this option if you want to use IPP feature for DRM.

endif

#
# Debugging messages
#
menuconfig DRM_DRV_DEBUG
        bool "DRM Debugging messages (DEVELOPMENT)"
        depends on DRM_TCC
        help
          Choose this option if you want to use debugging messages (DEVELOPMENT).
          You can choice various debugging messages.
          Kernel debugging level is 'KERN_DEBUG <7>'. (use "dmesg -n 8")

if DRM_DRV_DEBUG

config DRM_UT_CORE
        bool "DRM core messages"
        help
          Choose this option if you want to enable DRM core debugging messages.
          Kernel debugging level is 'KERN_DEBUG <7>'. (use "dmesg -n 8")

config DRM_UT_DRIVER
        bool "DRM driver messages"
        help
          Choose this option if you want to enable DRM driver debugging messages.
          Kernel debugging level is 'KERN_DEBUG <7>'. (use "dmesg -n 8")

config DRM_UT_KMS
        bool "DRM KMS messages"
        help
          Choose this option if you want to enable DRM KMS debugging messages.
          Kernel debugging level is 'KERN_DEBUG <7>'. (use "dmesg -n 8")

config DRM_UT_PRIME
        bool "DRM PRIME messages"
        help
          Choose this option if you want to enable DRM PRIME debugging messages.
          Kernel debugging level is 'KERN_DEBUG <7>'. (use "dmesg -n 8")

endif

