# drivers/char/switch/Kconfig
#
# Copyright (c) 2010 Telechips Co., Ltd.
#	http://www.telechips.com/
# Jay <B150095@telechips.com>
#
# Licensed under GPL

config SWITCH_REVERSE
	tristate "Reverse Switch Driver"
	default n
	help
		Choose this option if you want to use reverse switch driver

