config HISI_MBOX
	bool "Hisilicon's Mailbox"
	depends on ARCH_HISI
	help
	  Support for mailbox drivers on Hisilicon series of SoCs.

config HI6220_MBOX
	tristate "Hi6220 Mailbox Controller"
	depends on HISI_MBOX
	help
	  An implementation of the hi6220 mailbox. It is used to send message
	  between application processors and MCU. Say Y here if you want to build
	  the Hi6220 mailbox controller driver.
