menu "Android"

if ANDROID

config ASHMEM
	bool "Enable the Anonymous Shared Memory Subsystem"
	default n
	depends on SHMEM
	---help---
	  The ashmem subsystem is a new shared memory allocator, similar to
	  POSIX SHM but with different behavior and sporting a simpler
	  file-based API.

	  It is, in theory, a good memory allocator for low-memory devices,
	  because it can discard shared memory units when under memory pressure.

config ANDROID_VSOC
	tristate "Android Virtual SoC support"
	default n
	depends on PCI_MSI
	---help---
	  This option adds support for the Virtual SoC driver needed to boot
	  a 'cuttlefish' Android image inside QEmu. The driver interacts with
	  a QEmu ivshmem device. If built as a module, it will be called vsoc.

config ION_4_9
	bool "Use ion driver of kernel 4.9"
	default n # if ARCH_TCC805X && ANDROID

config ION_4_14
	bool "Use ion driver of kernel 4.14"
	default y if !ION_4_9

if ION_4_9
source "drivers/staging/android/ion_4.9/Kconfig"
endif

if ION_4_14
source "drivers/staging/android/ion/Kconfig"
endif
source "drivers/staging/android/fiq_debugger/Kconfig"

endif # if ANDROID

config LINUX_ANDROID
        bool "Linux Android Drivers"
        ---help---
          Enable support for various drivers of the Android platform needed on the Linux platform

if LINUX_ANDROID
config ION_4_14
	bool "Use ion driver of kernel 4.14"
	default y

if ION_4_14
source "drivers/staging/android/ion/Kconfig"
endif

endif # if LINUX_ANDROID

endmenu
