config TCC_HSIO_CIPHER
	tristate "TCC HSIO Cipher"
	default n
	depends on PLATFORM_AVN
	help
        This adds support for HSIO Cipher.
        The CIPHER encrypts data or decrypts the encrypted data for the security of user data.
        AES, DES, MULTI2, Hash, CSA2, and CSA3 are algorithms built in the CIPHER.
        Specifically, AES supports 128/192/256 key mode and ECB (Electronic Codebook),
		CBC (Cipher Block Chaining), CFB (Cipher Feedback), OFB (Output Feedback),
		CTR (Counter) mode in AES, DES, and MULTI2.
