#
# HDMI Configuration
#

config TCC_HDMI_DRIVER_V2_0
	bool "Use TCC HDMI V2.0 drivers"
	depends on (ARCH_TCC898X || ARCH_TCC899X || ARCH_TCC803X || ARCH_TCC901X)
	default n

config TCC_HDMI_TIME_PROFILE
	bool "Support HDMI Time Profile"
	depends on TCC_HDMI_DRIVER_V2_0
	default n

config TCC_RUNTIME_TUNE_HDMI_PHY
	bool "Tune up the hdmi phy using procfs"
	depends on TCC_HDMI_DRIVER_V2_0
	default n

