# SPDX-License-Identifier: GPL-2.0-or-later
#
# Copyright (C) Telechips Inc.

menuconfig SOC_TCC
	bool "Telechips SOC drivers support"

if SOC_TCC

config TCC_ECID_SUPPORT
	bool "TCC ECID(CPU ID) SUPPORT"
        default n
	help
	  Support for the TCCXXXX demo board, Say Y here if you use ECID

config PMAP
	bool "PMAP (Physical memory MAP) helper driver"
	default y
	help
	  Say Y here if you want to use PMAP driver for Telechips SoCs.

if PMAP

config PMAP_TO_CMA
	bool "CMA allocation for PMAP (Physical memory MAP)"
	depends on DMA_CMA
	default n
	help
	  Say Y here to enable CMA allocation for pmap.

config PMAP_SECURED
	bool "Secured PMAP (Physical memory MAP) support"
	default y
	help
	  Say N here to ignore "telechips,pmap-secured" property.

config PMAP_DEBUG
	bool "PMAP (Physical memory MAP) debug message"
	depends on DEBUG_KERNEL
	default n
	help
	  Turns on debug messages in PMAP helper driver.

config PMAP_SUBCORE
	bool "Reserve PMAP memory for subcore kernel"
	depends on ARCH_TCC803X || ARCH_TCC805X
	default n
	help
	  Say Y here to reserve memory for subcore kernel.

endif # PMAP

config PLATFORM_AVN
	bool "Telechips Automotive Platform"
	default n

config PLATFORM_STB
	bool "Telechips Consumer(STB) Platform"
	default n

config TCC_MICOM
	bool "Telechips Support MICOM"
	default n
	depends on (ARCH_TCC802X)

config TCC_CORE_RESET
	bool "Telechips Core Reset Feature for TCC803x"
	depends on ARCH_TCC803X
	default n
	help
	  Select this option to enable core reset feature on TCC803x platform.

config TCC_BOOTSTAGE
	bool "Telechips bootstage helper driver"
	depends on PROC_FS && (ARCH_TCC805X || ARCH_TCC803X)
	default y
	help
	  Select this option to enable Telechips bootstage helper driver.
	  Telehips bootstage helper driver creates and manages the `bootstage`
	  procfs which provides the interface for printing out the timestamps
	  for each bootstage.

	  To use this option, Trusted Firmware must provide SiP service for
	  passing boot time information per each bootstage.

	  If unsure, say N.

config PM_TCC805X
	bool "Power management driver for TCC805x"
	depends on ARCH_TCC805X
	default y
	help
	  Select this option to enable TCC805x power management driver.

	  TCC805x power management driver controls Dialog Smiconductor PMIC
	  attached on TCC805x SoC based platform on some power events (e.g.
	  suspend, resume) accordingly including some software workarounds
	  for the PMICs if needed.

	  If unsure, say Y.

if PM_TCC805X

config PM_TCC805X_DA9062_SW_WORKAROUND
	bool "Enable software workaround for DA9062 PMIC"
	depends on REGULATOR_DA9062
	default y
	help
	  Select this option to add some software workaround code for DA9062
	  PMIC on TCC805x SoC based platformm, into TCC805x PM driver. By
	  enabling this, (1) CORE0p8 power off timing is delayed for 16.4
	  msec and (2) SYS_EN IRQ is unmasked to get wake-up signal, as the
	  workaround.

	  While only some versions of DA9062 PMICs need this workaround, the
	  others will not be affected by this option. So disable this for
	  such case.

	  If unsure, say Y.

config PM_TCC805X_DA9131_SW_WORKAROUND
	bool "Enable software workaround for DA9131 PMIC"
	depends on REGULATOR_DA9121
	default y
	help
	  Select this option to add some software workaround code for DA9131
	  PMIC on TCC805x SoC based platformm, into TCC805x PM driver. By
	  enabling this, (1) voltage slew rate is adjusted correctly and (2)
	  GPIO1/2 pull-up/pull-down is enabled, as the workaround.

	  While only some versions of DA9131 PMICs need this workaround, the
	  others will not be affected by this option. So disable this for
	  such case.

	  If unsure, say Y.

endif # PM_TCC805X

endif # SOC_TCC
