#
# Telechips SOC drivers
#
menuconfig SOC_TCC
	bool "Telechips SOC drivers support"

if SOC_TCC

config TCC_ECID_SUPPORT
	bool "TCC ECID(CPU ID) SUPPORT"
        default n
	help
	  Support for the TCCXXXX demo board, Say Y here if you use ECID

config PMAP
	bool "PMAP (Physical memory MAP) helper driver"
	default y
	help
	  Say Y here if you want to use PMAP driver for Telechips SoCs.

if PMAP

config PMAP_TO_CMA
	bool "CMA allocation for PMAP (Physical memory MAP)"
	depends on DMA_CMA
	default n
	help
	  Say Y here to enable CMA allocation for pmap.

config PMAP_SECURED
	bool "Secured PMAP (Physical memory MAP) support"
	default y
	help
	  Say N here to ignore "telechips,pmap-secured" property.

config PMAP_DEBUG
	bool "PMAP (Physical memory MAP) debug message"
	depends on DEBUG_KERNEL
	default n
	help
	  Turns on debug messages in PMAP helper driver.

config PMAP_SUBCORE
	bool "Reserve PMAP memory for subcore kernel"
	depends on ARCH_TCC803X || ARCH_TCC805X
	default n
	help
	  Say Y here to reserve memory for subcore kernel.

endif # PMAP

config PLATFORM_AVN
	bool "Telechips Automotive Platform"
	default n

config PLATFORM_STB
	bool "Telechips Consumer(STB) Platform"
	default n

config TCC_MICOM
	bool "Telechips Support MICOM"
	default n
	depends on (ARCH_TCC802X)

config TCC_CORE_RESET
	bool "Telechips Core Reset Feature for TCC803x"
	depends on ARCH_TCC803X
	default n
	help
	  Select this option to enable core reset feature on TCC803x platform.

config TCC_BOOTSTAGE
	bool "Telechips bootstage helper driver"
	depends on PROC_FS && ARCH_TCC805X
	default y
	help
	  Select this option to enable Telechips bootstage helper driver.
	  Telehips bootstage helper driver creates and manages the `bootstage`
	  procfs which provides the interface for printing out the timestamps
	  for each bootstage.

	  To use this option, Trusted Firmware must provide SiP service for
	  passing boot time information per each bootstage.

	  If unsure, say N.

endif # SOC_TCC
