menu "SoC Audio for Telechips CPUs"

comment "SoC Audio options for TCC CPUs:"

config SND_SOC_TCC
	tristate "ASoC for Telechips"
	select SND_SOC_TCC_AUDIO_CHMUX if ARCH_TCC898X != n
	select SND_SOC_TCC_AUDIO_CHMUX if ARCH_TCC899X != n
	select SND_SOC_TCC_AUDIO_CHMUX if ARCH_TCC803X != n
	depends on ARCH_TCC && SND_SOC
	default y
	help
		Telechips I2S, SPDIF, CDIF Driver

config SND_SOC_TCC_AUDIO_CHMUX
	tristate
	depends on SND_SOC_TCC
	help
		Telechips ASoC CHMUX Driver

config SND_SOC_TCC_CARD
	tristate "ASoC CARD for Telechips"
	depends on SND_SOC_TCC
	default y
	help
		Telechips ASoC Card Driver

config SND_SOC_TCC_BOARD_DUMMY
	bool "TCC DUMMY"
	select SND_SOC_DUMMY
	depends on SND_SOC_TCC && ARCH_TCC897X

	help
	  Say Y if you want to add support for SoC audio on Telechips
	  TCC (DUMMY).

config SND_SOC_TCC8971_BOARD_LCN3
	tristate "TCC8971 LCN 3.0"
	select SND_SOC_AK4601
	select SND_SOC_DUMMY
	depends on SND_SOC_TCC && ARCH_TCC897X

	help
	  Say Y if you want to add support for SoC audio on TCC8971 LCN 3.0(AK4601)

config SND_SOC_TCC_PCM_V10
	bool
	depends on SND_SOC_TCC && (ARCH_TCC897X || ARCH_TCC570X)
	default y
	help
	  Say Y if you want to add support for SoC audio on PCM driver V1.0

source "sound/soc/tcc/asrc/Kconfig"

endmenu
