/*
 * Copyright 2014 Toradex AG
 * Copyright 2012 Freescale Semiconductor, Inc.
 * Copyright 2011 Linaro Ltd.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */
#include <dt-bindings/input/input.h>

/ {
	model = "Toradex Colibri iMX6DL/S  Module";
	compatible = "toradex,colibri_imx6dl", "fsl,imx6dl";

	aliases {
		mxcfb0 = &mxcfb1;
		mxcfb1 = &mxcfb2;
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm3 0 5000000>;
		status = "disabled";
	};

	clocks {
		clk24m: clk24m {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <24000000>;
		};
	};

/*
 * DDC_I2C: I2C2_SDA/SCL on MXM3 pin 205/207
 */
	i2cddc: i2c@0 {
		compatible = "i2c-gpio";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c_ddc>;
		gpios = <&gpio4 13 0 /* sda */
			 &gpio4 12 0 /* scl */
			>;
		i2c-gpio,delay-us = <2>;	/* ~100 kHz */
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";
	};

	lcd: lcd@0 {
		compatible = "fsl,lcd";
		ipu_id = <0>;
		disp_id = <0>;
		default_ifmt = "RGB666";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ipu1_6>;
		status = "disabled";
	};

	memory {
		/* This node is rewritten by U-Boot with the actual memory size */
		reg = <0x10000000 0x10000000>;
	};

	mxcfb1: fb@0 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "hdmi";
		interface_pix_fmt = "RGB24";
		mode_str ="1920x1080M@60";
/*		default_bpp = <16>;*/
		default_bpp = <24>;
		int_clk = <0>;
		late_init = <0>;
		status = "disabled";
	};

	mxcfb2: fb@1 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "lcd";
		interface_pix_fmt = "RGB666";
		mode_str ="EDT-WVGA";
		default_bpp = <16>;
		int_clk = <0>;
		late_init = <0>;
		status = "disabled";
	};

	regulators {
		compatible = "simple-bus";

		reg_1p8v: 1p8v {
			compatible = "regulator-fixed";
			regulator-name = "1P8V";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-always-on;
		};

		reg_2p5v: 2p5v {
			compatible = "regulator-fixed";
			regulator-name = "2P5V";
			regulator-min-microvolt = <2500000>;
			regulator-max-microvolt = <2500000>;
			regulator-always-on;
		};

		reg_3p3v: 3p3v {
			compatible = "regulator-fixed";
			regulator-name = "3P3V";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};

		reg_usb_host_vbus: usb_host_vbus {
			compatible = "regulator-fixed";
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_regulator_usbh_pwr>;
			regulator-name = "usb_host_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio =  <&gpio3 31 0>;
			status = "disabled";
		};
	};

	sound {
		compatible = "fsl,imx6q-apalis-sgtl5000",
			     "fsl,imx-audio-sgtl5000";
		model = "imx6q-apalis-sgtl5000";
		ssi-controller = <&ssi1>;
		audio-codec = <&codec>;
		audio-routing =
			"MIC_IN", "Mic Jack",
			"Mic Jack", "Mic Bias",
			"Headphone Jack", "HP_OUT";
		mux-int-port = <1>;
		mux-ext-port = <5>;
	};

	sound_hdmi: sound-hdmi {
		compatible = "fsl,imx6q-audio-hdmi",
			     "fsl,imx-audio-hdmi";
		model = "imx-audio-hdmi";
		hdmi-controller = <&hdmi_audio>;
		status = "disabled";
	};

	sound_spdif: sound-spdif {
		compatible = "fsl,imx-audio-spdif";
		model = "imx-spdif";
		spdif-controller = <&spdif>;
		spdif-out;
		spdif-in;
		status = "disabled";
	};

	v4l2_out {
		compatible = "fsl,mxc_v4l2_output";
		status = "okay";
	};
};

&audmux {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_audmux_5 &pinctrl_audmux_mclk_2 &pinctrl_mic_gnd>;
	status = "okay";
};

/* Colibri SPI */
&ecspi4 {
	fsl,spi-num-chipselects = <1>;
	cs-gpios = <&gpio5 2 0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi4_1 &pinctrl_spi_cs1>;
	status = "disabled";
};

&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet_5>;
	phy-mode = "rmii";
	status = "okay";
};

/* Colibri SDDIMM 55/63 */
&flexcan1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan1_3>;
	status = "disabled";
};

/* Colibri SODOMM 178/188 */
&flexcan2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan2_1>;
	status = "disabled";
};

&hdmi_audio {
	status = "okay";
};

&hdmi_core {
	ipu_id = <0>;
	disp_id = <1>;
	status = "disabled";
};

&hdmi_video {
	fsl,phy_reg_vlev = <0x0294>;
	fsl,phy_reg_cksymtx = <0x800d>;
	status = "disabled";
};

&i2c2 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2_1>;
	status = "okay";

	codec: sgtl5000@0a {
		compatible = "fsl,sgtl5000";
		reg = <0x0a>;
		clocks = <&clks 201>;
		VDDA-supply = <&reg_2p5v>;
		VDDIO-supply = <&reg_3p3v>;
	};

	/* STMPE811 touch screen controller */
	stmpe811@41 {
		compatible = "st,stmpe811";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_touch_int_1>;
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x41>;
		interrupts = <20 IRQ_TYPE_LEVEL_LOW>;
		interrupt-parent = <&gpio6>;
		interrupt-controller;
		id = <0>;
		blocks = <0x5>;
		irq-trigger = <0x1>;
		stmpe_touchscreen {
			compatible = "st,stmpe-ts";
			reg = <0>;
			/* 3.25 MHz ADC clock speed */
			st,adc-freq = <1>;
			/* 8 sample average control */
			st,ave-ctrl = <3>;
			/* 7 length fractional part in z */
			st,fraction-z = <7>;
			/*
			 * 50 mA typical 80 mA max touchscreen drivers
			 * current limit value
			 */
			st,i-drive = <1>;
			/* 12-bit ADC */
			st,mod-12b = <1>;
			/* internal ADC reference */
			st,ref-sel = <0>;
			/* ADC converstion time: 80 clocks */
			st,sample-time = <4>;
			/* 1 ms panel driver settling time */
			st,settling = <3>;
			/* 5 ms touch detect interrupt delay */
			st,touch-det-delay = <5>;
		};
		stmpe_adc {
			compatible = "st,stmpe-adc";
			/* 3.25 MHz ADC clock speed */
			st,adc-freq = <1>;
			/* 12-bit ADC */
			st,mod-12b = <1>;
			/* internal ADC reference */
			st,ref-sel = <0>;
			/* ADC converstion time: 80 clocks */
			st,sample-time = <4>;
		};
	};
};

/*
 * I2C: I2C3_SDA/SCL on SODIMM pin 194/196 (e.g. RTC on carrier
 * board)
 */
&i2c3 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3_2>;
	status = "disabled";
};

/* PAD Ctrl Values for Common Settings */
#define PAD_CTRL_HYS_PU 0x1b0b0 /*(PAD_CTL_HYS | PAD_CTL_PUS_100K_UP | PAD_CTL_PUE | PAD_CTL_PKE | PAD_CTL_SPEED_MED | PAD_CTL_DSE_40ohm)*/
#define PAD_CTRL_HYS_PD 0x130b0 /*(PAD_CTL_HYS | PAD_CTL_PUE | PAD_CTL_PKE | PAD_CTL_SPEED_MED | PAD_CTL_DSE_40ohm)*/
#define PAD_CTRL_PU_22k 0x0f058 /*(PAD_CTL_PUS_22K_UP | PAD_CTL_PUE | PAD_CTL_PKE | PAD_CTL_SPEED_LOW | PAD_CTL_DSE_80ohm)*/
#define PAD_CTRL_IN 0x0040 /*( PAD_CTL_SPEED_LOW )*/
#define PAD_CTRL_NO 0x80000000

//TODO
&iomuxc {
	imx6dl-colibri {
		pinctrl_audmux_mclk_2: audmux_mclk-2 {
			fsl,pins = <
				MX6QDL_PAD_GPIO_0__CCM_CLKO1		0x000b0		/* SGTL5000 sys_mclk */
			>;
		};
		pinctrl_gpio_keys: gpio_keys {
			fsl,pins = <
				MX6QDL_PAD_EIM_A16__GPIO2_IO22		PAD_CTRL_HYS_PD	/* Power Button */
			>;
		};
		pinctrl_i2c_ddc: i2c_ddc {
			fsl,pins = <
				MX6QDL_PAD_KEY_COL3__GPIO4_IO12		PAD_CTRL_HYS_PU	/* DDC bitbang */
				MX6QDL_PAD_KEY_ROW3__GPIO4_IO13		PAD_CTRL_HYS_PU	/* DDC bitbang */
			>;
		};
		pinctrl_mic_gnd: gpio_mic_gnd {
			fsl,pins = <
				MX6QDL_PAD_RGMII_TD1__GPIO6_IO21	PAD_CTRL_HYS_PU	/* Controlls Mic GND, PU or '1' pull Mic GND to GND */
			>;
		};
		pinctrl_mmc_cd: gpio_mmc_cd {
			fsl,pins = <
				MX6QDL_PAD_NANDF_D5__GPIO2_IO05		PAD_CTRL_NO	/* MMC1 CD */
			>;
		};
		pinctrl_pwm_a_cif_d7: pwm_d_cif_d7 {
			fsl,pins = <
				MX6QDL_PAD_EIM_A22__GPIO2_IO16		PAD_CTRL_IN	/* disable, muxed with PWM<A> */
			>;
		};
		pinctrl_pwm_d_cif_d6: pwm_d_cif_d6 {
			fsl,pins = <
				MX6QDL_PAD_EIM_A21__GPIO2_IO17		PAD_CTRL_IN	/* disable, muxed with PWM<D> */
			>;
		};
		pinctrl_regulator_usbh_pwr: gpio_regulator_usbh_pwr {
			fsl,pins = <
				MX6QDL_PAD_EIM_D31__GPIO3_IO31		PAD_CTRL_PU_22k	/* USBH_EN */
			>;
		};
#if 0 //TODO
		pinctrl_regulator_usbotg_pwr: gpio_regulator_usbotg_pwr {
			fsl,pins = <
				MX6QDL_PAD_EIM_D22__GPIO3_IO22		PAD_CTRL_PU_22k	/* USBO power en */
			>;
		};
#endif
		pinctrl_spi_cs1: spi_cs1 {
			fsl,pins = <
				MX6QDL_PAD_EIM_A25__GPIO5_IO02		PAD_CTRL_NO	/* SPI cs */
			>;
		};
		pinctrl_touch_int_1: touch_int-1 {
			fsl,pins = <
				MX6QDL_PAD_RGMII_TD0__GPIO6_IO20	PAD_CTRL_HYS_PU /* STMPE811 interrupt */
			>;
		};
		pinctrl_usbh_oc_1: usbh_oc-1 {
			fsl,pins = <
				/* USBH_OC */
				MX6QDL_PAD_EIM_D30__GPIO3_IO30		PAD_CTRL_HYS_PU
			>;
		};
		pinctrl_usbc_id_1: usbc_id-1 {
			fsl,pins = <
				/* USBC_ID */
				MX6QDL_PAD_NANDF_D2__GPIO2_IO02		PAD_CTRL_HYS_PU
			>;
		};
		pinctrl_usbc_det_1: usbc_det-1 {
			fsl,pins = <
				/* USBC_DET */
				MX6QDL_PAD_GPIO_17__GPIO7_IO12		PAD_CTRL_HYS_PU
			>;
		};
	};
	csi {
		/* CSI pins used as GPIO */
		pinctrl_csi_gpio_1: csi_gpio-1 {
			fsl,pins = <
				MX6QDL_PAD_EIM_A24__GPIO5_IO04   PAD_CTRL_HYS_PU
				MX6QDL_PAD_SD2_CMD__GPIO1_IO11   PAD_CTRL_HYS_PU
				MX6QDL_PAD_NANDF_CS2__GPIO6_IO15 PAD_CTRL_HYS_PU
				MX6QDL_PAD_EIM_D18__GPIO3_IO18   PAD_CTRL_HYS_PU
				MX6QDL_PAD_EIM_A19__GPIO2_IO19   PAD_CTRL_HYS_PU
				MX6QDL_PAD_EIM_D29__GPIO3_IO29   PAD_CTRL_HYS_PD
				MX6QDL_PAD_EIM_A23__GPIO6_IO06   PAD_CTRL_HYS_PU
				MX6QDL_PAD_EIM_A20__GPIO2_IO18   PAD_CTRL_HYS_PU
				MX6QDL_PAD_EIM_A17__GPIO2_IO21   PAD_CTRL_HYS_PU
				MX6QDL_PAD_EIM_A18__GPIO2_IO20   PAD_CTRL_HYS_PU
				MX6QDL_PAD_EIM_EB3__GPIO2_IO31   PAD_CTRL_HYS_PU
				MX6QDL_PAD_EIM_D17__GPIO3_IO17   PAD_CTRL_HYS_PU
				MX6QDL_PAD_SD2_DAT0__GPIO1_IO15  PAD_CTRL_HYS_PU
			>;
		};
	};
	gpio {
		pinctrl_gpio_1: gpio-1 {
			fsl,pins = <
				MX6QDL_PAD_GPIO_7__GPIO1_IO07       PAD_CTRL_HYS_PU
				MX6QDL_PAD_GPIO_8__GPIO1_IO08       PAD_CTRL_HYS_PU
				MX6QDL_PAD_EIM_D26__GPIO3_IO26      PAD_CTRL_HYS_PU
				MX6QDL_PAD_EIM_D27__GPIO3_IO27      PAD_CTRL_HYS_PU
				MX6QDL_PAD_NANDF_D6__GPIO2_IO06     PAD_CTRL_HYS_PU
				MX6QDL_PAD_NANDF_D3__GPIO2_IO03     PAD_CTRL_HYS_PU
				MX6QDL_PAD_ENET_REF_CLK__GPIO1_IO23 PAD_CTRL_HYS_PU
				MX6QDL_PAD_DI0_PIN4__GPIO4_IO20     PAD_CTRL_HYS_PU
				MX6QDL_PAD_SD4_DAT3__GPIO2_IO11     PAD_CTRL_HYS_PU
				MX6QDL_PAD_NANDF_D4__GPIO2_IO04     PAD_CTRL_HYS_PU
				MX6QDL_PAD_SD4_DAT0__GPIO2_IO08     PAD_CTRL_HYS_PU
			>;
		};
	};
	weim {
		pinctrl_weim_cs1_1: weim_cs1grp-1 {
			fsl,pins = <
				MX6QDL_PAD_EIM_CS1__EIM_CS1_B   0xb0b1 /* nEXT_CS1 */
			>;
		};
		pinctrl_weim_cs2_1: weim_cs2grp-1 {
			fsl,pins = <
				MX6QDL_PAD_SD2_DAT1__EIM_CS2_B  0xb0b1 /* nEXT_CS2 */
			>;
		};
		pinctrl_weim_sram_1: weim_sramgrp-1 {
			fsl,pins = <
				MX6QDL_PAD_EIM_OE__EIM_OE_B     0xb0b1
				MX6QDL_PAD_EIM_RW__EIM_RW       0xb0b1
				/* data */
				MX6QDL_PAD_CSI0_DATA_EN__EIM_DATA00 0x1b0b0
				MX6QDL_PAD_CSI0_VSYNC__EIM_DATA01 0x1b0b0
				MX6QDL_PAD_CSI0_DAT4__EIM_DATA02 0x1b0b0
				MX6QDL_PAD_CSI0_DAT5__EIM_DATA03 0x1b0b0
				MX6QDL_PAD_CSI0_DAT6__EIM_DATA04 0x1b0b0
				MX6QDL_PAD_CSI0_DAT7__EIM_DATA05 0x1b0b0
				MX6QDL_PAD_CSI0_DAT8__EIM_DATA06 0x1b0b0
				MX6QDL_PAD_CSI0_DAT9__EIM_DATA07 0x1b0b0
				MX6QDL_PAD_CSI0_DAT12__EIM_DATA08 0x1b0b0
				MX6QDL_PAD_CSI0_DAT13__EIM_DATA09 0x1b0b0
				MX6QDL_PAD_CSI0_DAT14__EIM_DATA10 0x1b0b0
				MX6QDL_PAD_CSI0_DAT15__EIM_DATA11 0x1b0b0
				MX6QDL_PAD_CSI0_DAT16__EIM_DATA12 0x1b0b0
				MX6QDL_PAD_CSI0_DAT17__EIM_DATA13 0x1b0b0
				MX6QDL_PAD_CSI0_DAT18__EIM_DATA14 0x1b0b0
				MX6QDL_PAD_CSI0_DAT19__EIM_DATA15 0x1b0b0
				/* address */
				MX6QDL_PAD_EIM_DA15__EIM_AD15  0xb0b1
				MX6QDL_PAD_EIM_DA14__EIM_AD14  0xb0b1
				MX6QDL_PAD_EIM_DA13__EIM_AD13  0xb0b1
				MX6QDL_PAD_EIM_DA12__EIM_AD12  0xb0b1
				MX6QDL_PAD_EIM_DA11__EIM_AD11  0xb0b1
				MX6QDL_PAD_EIM_DA10__EIM_AD10  0xb0b1
				MX6QDL_PAD_EIM_DA9__EIM_AD09   0xb0b1
				MX6QDL_PAD_EIM_DA8__EIM_AD08   0xb0b1
				MX6QDL_PAD_EIM_DA7__EIM_AD07   0xb0b1
				MX6QDL_PAD_EIM_DA6__EIM_AD06   0xb0b1
				MX6QDL_PAD_EIM_DA5__EIM_AD05   0xb0b1
				MX6QDL_PAD_EIM_DA4__EIM_AD04   0xb0b1
				MX6QDL_PAD_EIM_DA3__EIM_AD03   0xb0b1
				MX6QDL_PAD_EIM_DA2__EIM_AD02   0xb0b1
				MX6QDL_PAD_EIM_DA1__EIM_AD01   0xb0b1
				MX6QDL_PAD_EIM_DA0__EIM_AD00   0xb0b1
			>;
		};
		/* ADDRESS[16:18] [25] used as GPIO */
		pinctrl_weim_gpio_1: weim_gpio-1 {
			fsl,pins = <
				MX6QDL_PAD_KEY_ROW4__GPIO4_IO15    PAD_CTRL_HYS_PU
				MX6QDL_PAD_KEY_ROW2__GPIO4_IO11    PAD_CTRL_HYS_PU
				MX6QDL_PAD_KEY_COL2__GPIO4_IO10    PAD_CTRL_HYS_PU
				MX6QDL_PAD_DISP0_DAT23__GPIO5_IO17 PAD_CTRL_HYS_PU
				MX6QDL_PAD_DISP0_DAT22__GPIO5_IO16 PAD_CTRL_HYS_PU
				MX6QDL_PAD_DISP0_DAT21__GPIO5_IO15 PAD_CTRL_HYS_PU
				MX6QDL_PAD_DISP0_DAT20__GPIO5_IO14 PAD_CTRL_HYS_PU
				MX6QDL_PAD_DISP0_DAT19__GPIO5_IO13 PAD_CTRL_HYS_PU
				MX6QDL_PAD_DISP0_DAT18__GPIO5_IO12 PAD_CTRL_HYS_PU
				MX6QDL_PAD_NANDF_D1__GPIO2_IO01    PAD_CTRL_HYS_PU
			>;
		};
		/* ADDRESS[19:24] used as GPIO */
		pinctrl_weim_gpio_2: weim_gpio-2 {
			fsl,pins = <
				MX6QDL_PAD_KEY_ROW4__GPIO4_IO15    PAD_CTRL_HYS_PU
				MX6QDL_PAD_KEY_ROW2__GPIO4_IO11    PAD_CTRL_HYS_PU
				MX6QDL_PAD_KEY_COL2__GPIO4_IO10    PAD_CTRL_HYS_PU
				MX6QDL_PAD_DISP0_DAT23__GPIO5_IO17 PAD_CTRL_HYS_PU
				MX6QDL_PAD_DISP0_DAT22__GPIO5_IO16 PAD_CTRL_HYS_PU
				MX6QDL_PAD_DISP0_DAT21__GPIO5_IO15 PAD_CTRL_HYS_PU
				MX6QDL_PAD_DISP0_DAT20__GPIO5_IO14 PAD_CTRL_HYS_PU
				MX6QDL_PAD_DISP0_DAT19__GPIO5_IO13 PAD_CTRL_HYS_PU
				MX6QDL_PAD_DISP0_DAT18__GPIO5_IO12 PAD_CTRL_HYS_PU
				MX6QDL_PAD_NANDF_D1__GPIO2_IO01    PAD_CTRL_HYS_PU
			>;
		};
		/* DATA[16:31]  used as GPIO */
		pinctrl_weim_gpio_3: weim_gpio-3 {
			fsl,pins = <
				MX6QDL_PAD_EIM_LBA__GPIO2_IO27     PAD_CTRL_HYS_PU
				MX6QDL_PAD_EIM_BCLK__GPIO6_IO31    PAD_CTRL_HYS_PU
				MX6QDL_PAD_NANDF_CS3__GPIO6_IO16   PAD_CTRL_HYS_PU
				MX6QDL_PAD_NANDF_CS1__GPIO6_IO14   PAD_CTRL_HYS_PU
				MX6QDL_PAD_NANDF_RB0__GPIO6_IO10   PAD_CTRL_HYS_PU
				MX6QDL_PAD_NANDF_ALE__GPIO6_IO08   PAD_CTRL_HYS_PU
				MX6QDL_PAD_NANDF_WP_B__GPIO6_IO09  PAD_CTRL_HYS_PU
				MX6QDL_PAD_NANDF_CS0__GPIO6_IO11   PAD_CTRL_HYS_PU
				MX6QDL_PAD_NANDF_CLE__GPIO6_IO07   PAD_CTRL_HYS_PU
				MX6QDL_PAD_GPIO_19__GPIO4_IO05     PAD_CTRL_HYS_PU
				MX6QDL_PAD_CSI0_MCLK__GPIO5_IO19   PAD_CTRL_HYS_PU
				MX6QDL_PAD_CSI0_PIXCLK__GPIO5_IO18 PAD_CTRL_HYS_PU
				MX6QDL_PAD_GPIO_4__GPIO1_IO04      PAD_CTRL_HYS_PU
				MX6QDL_PAD_GPIO_5__GPIO1_IO05      PAD_CTRL_HYS_PU
				MX6QDL_PAD_KEY_COL4__GPIO4_IO14    PAD_CTRL_HYS_PU
				MX6QDL_PAD_GPIO_2__GPIO1_IO02      PAD_CTRL_HYS_PU
			>;
		};
		/* DQM[0:3]  used as GPIO */
		pinctrl_weim_gpio_4: weim_gpio-4 {
			fsl,pins = <
				MX6QDL_PAD_EIM_EB0__GPIO2_IO28  PAD_CTRL_HYS_PU
				MX6QDL_PAD_EIM_EB1__GPIO2_IO29  PAD_CTRL_HYS_PU
				MX6QDL_PAD_SD2_DAT2__GPIO1_IO13 PAD_CTRL_HYS_PU
				MX6QDL_PAD_NANDF_D0__GPIO2_IO00 PAD_CTRL_HYS_PU
			>;
		};
		/* RDY  used as GPIO */
		pinctrl_weim_gpio_5: weim_gpio-5 {
			fsl,pins = <
				MX6QDL_PAD_EIM_WAIT__GPIO5_IO00 PAD_CTRL_HYS_PU
			>;
		};
	};
};

/* PWM B */
&pwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm1_3>;
	status = "disabled";
};
/* PWM D */
&pwm2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm2_2 &pinctrl_pwm_d_cif_d6>;
	status = "disabled";
};
/* PWM A */
&pwm3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm3_1 &pinctrl_pwm_a_cif_d7>;
	status = "disabled";
};
/* PWM C */
&pwm4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm4_1>;
	status = "disabled";
};

/* S/PDIF out on SODIMM137 */
&spdif {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spdif_3>;
	status = "disabled";
};

&ssi1 {
	fsl,mode = "i2s-slave";
	status = "okay";
};

/* UART A */
&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1_3 &pinctrl_uart1_4>;
#if 1
	fsl,dte-mode;
	fsl,uart-has-rtscts;
#endif
	status = "disabled";
};

/* UART B */
&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2_5>;
	fsl,dte-mode;
	fsl,uart-has-rtscts;
	status = "disabled";
};

/* UART_C */
&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3_4>;
	fsl,dte-mode;
	status = "disabled";
};

&usbh1 {
	vbus-supply = <&reg_usb_host_vbus>;
	status = "disabled";
};

&usbotg {
	pinctrl-names = "default";
//	pinctrl-0 = <&pinctrl_usbotg_2>;
	disable-over-current;
//	dr_mode = "host"; //working when connected at boot
	dr_mode = "otg"; //working as peripheral
	status = "disabled";
};

/* MMC */
&usdhc1 {
	label = "MMC1";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc1_1 &pinctrl_mmc_cd>;
	cd-gpios = <&gpio2 5 0>;
	vmmc-supply = <&reg_3p3v>;
	bus-width = <4>;
	no-1-8-v;
	status = "disabled";
};

/* eMMC */
&usdhc3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc3_1>;
	vmmc-supply = <&reg_3p3v>;
	bus-width = <8>;
	non-removable;
	status = "okay";
};

&weim {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_weim_sram_1  &pinctrl_weim_cs0_1
	             &pinctrl_weim_cs1_1   &pinctrl_weim_cs2_1>;
	#address-cells = <2>;
	#size-cells = <1>;
	status = "disabled";
};
