/*
 * Device Tree Source for the RZN1-400 Demo Board
 * This dts is for use when the Cortex M3 is controls GMAC1, the 5-Port Switch
 * and the RGMII/GMII Converters.
 *
 * Copyright (C) 2016 Renesas Electronics Europe Ltd
 *
 * This file is licensed under the terms of the GNU General Public License
 * version 2.  This program is licensed "as is" without any warranty of any
 * kind, whether express or implied.
 */

/dts-v1/;

#include "rzn1.dtsi"
#include "rzn1-clocks.dtsi"

/ {
	model = "RZ/N1D Demo Board";
	compatible = "renesas,rzn1d-db", "renesas,rzn1";

	chosen {
		bootargs = "console=ttyS0,115200";
		stdout-path = &uart0;
		linux,stdout-path = &uart0;
	};
	c2c_sram@20080000 {
		compatible = "mmio-sram";
		reg = <0x20080000 0x3000>;
	};
	hoard: cat: nmi: rmii {
		#address-cells = <1>;
		#size-cells = <0>;
	};
	leds {
		compatible = "gpio-leds";

		led_1 {
			label = "pl_gpio92";
			gpios = <&gpio1b 23 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "cpu0";
		};
		led_2 {
			label = "pl_gpio93";
			gpios = <&gpio1b 24 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "cpu1";
		};
		pca0 {
			label = "pca0";
			gpios = <&pca9698 0 GPIO_ACTIVE_HIGH>;
		};
		pca1 {
			label = "pca1";
			gpios = <&pca9698 1 GPIO_ACTIVE_HIGH>;
		};
		pca2 {
			label = "pca2";
			gpios = <&pca9698 2 GPIO_ACTIVE_HIGH>;
		};
		pca3 {
			label = "pca3";
			gpios = <&pca9698 3 GPIO_ACTIVE_HIGH>;
		};
		pca4 {
			label = "pca4";
			gpios = <&pca9698 4 GPIO_ACTIVE_HIGH>;
		};
		pca5 {
			label = "pca5";
			gpios = <&pca9698 5 GPIO_ACTIVE_HIGH>;
		};
		pca6 {
			label = "pca6";
			gpios = <&pca9698 6 GPIO_ACTIVE_HIGH>;
		};
		pca7 {
			label = "pca7";
			gpios = <&pca9698 7 GPIO_ACTIVE_HIGH>;
		};

		/* These aren't LEDs, they are gpios attached to the pca9698
		 * port expander. They select the I2C master used to access the
		 * EEPROM device. The ACTIVE LOW/HIGH settings ensures Linux
		 * sets the correctly if not done by U-Boot.
		 */
		ctrl0 {
			label = "ctrl0";
			gpios = <&pca9698 16 GPIO_ACTIVE_LOW>;
		};
		ctrl1 {
			label = "ctrl1";
			gpios = <&pca9698 17 GPIO_ACTIVE_HIGH>;
		};
		ctrl2 {
			label = "ctrl2";
			gpios = <&pca9698 18 GPIO_ACTIVE_HIGH>;
		};
	};
};

/* Map the USB pinmux to the peripheral port */
#define usb usbh_pci
/* ethX refers to the physical pins for each ethernet interface. Here we simply
 * place them in the hoard node, and the users of the pins will then indicate
 * are needed by adding a pinctrl-0 entry for them.
 */
#define eth0 hoard
#define eth1 hoard
#define eth2 hoard
#define eth3 hoard
#define eth4 hoard
#define refclk hoard
#define mdio0 hoard
#define mdio1 hoard
#define lcd fb0

#include "rzn1d400_preset_db.dts"

/* If you want to use High Resolution timers (hrtimers), e.g. for real-time
 * Linux, you need more than just the ARM architected timer. Hence we enable
 * timer1. Note, timer0 may be used by the Cortex M3 software.
 */
&timer1 {
	status = "okay";
	/* Enable the /25 prescaler only on the 16-bit timers */
	renesas,src-prescaler = <1>, <1>, <1>, <1>, <1>, <1>, <0>, <0>;
};

/* Calculated gpio irq numbers: gpioXa Y = 32*X + Y */
#define GPIOA_IRQ(gpioa_block, nr)	(32 * gpioa_block + nr)
&gpioirq {
	status = "okay";
	gpioirq-0 = <GPIOA_IRQ(2, 24)>;	/* pin 146: ETH Port 1 IRQ */
	gpioirq-1 = <GPIOA_IRQ(2, 4)>;	/* pin 126: ETH Port 2 IRQ */
	gpioirq-2 = <GPIOA_IRQ(1, 28)>;	/* pin 118: ETH Port 3 IRQ */
	gpioirq-3 = <GPIOA_IRQ(2, 25)>;	/* pin 147: ETH Port 4 IRQ */
	gpioirq-4 = <GPIOA_IRQ(2, 27)>;	/* pin 149: ETH Port 5 IRQ */
	gpioirq-5 = <GPIOA_IRQ(2, 26)>;	/* pin 148: TouchSCRN_IRQ  */
};

&uart0 {
	status = "okay";
	u-boot,dm-pre-reloc;
};
&uart2 {
	status = "okay";
};
&uart3 {
	status = "okay";
};
&i2c1 {
	status = "okay";
	clock-frequency = <400000>;
	pca9698: gpio@20 {
		compatible = "nxp,pca9698";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;
		gpio-bank-name="pca";
	};
	lm75: lm75@49 {
		/* Ext Board: Temperature sensor */
		compatible = "lm75";
		reg = <0x49>;
	};
	at24@50 {
		compatible = "at24,24c64";
		pagesize = <32>;
		reg = <0x50>;
	};
	polytouch: edt-ft5x06@38 {
		/* Ext Board: touch sensor on LCD */
		compatible = "edt,edt-ft5306", "edt,edt-ft5x06";
		reg = <0x38>;
		interrupt-parent = <&gpio2a>;
		interrupts = <26 IRQ_TYPE_EDGE_FALLING>;
		touchscreen-size-x = <800>;
		touchscreen-size-y = <480>;
		// touchscreen-swapped-x-y;
	};
};
&gpio1 {
	status = "okay";
};
&gpio2 {
	status = "okay";
};

&gmac0 {
	/* Only accessible from the Ext Board */
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pins_mdio0>, <&pins_eth0>;

	phy-handle = <&phy_mii0>;

	mdio0 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "snps,dwmac-mdio";
		phy_mii0: ethernet-phy@8 {
			/* Ext Board: Marvell 88E1512 PHY on J22 */
			device_type = "ethernet-phy";
			phy-mode = "rgmii-id";
			reg = <8>;
			/* Set LED0 as active low link status, LED2 as interrupt */
			marvell,reg-init = <3 16 0 0x1010 3 18 0 0x4980>;
			interrupt-parent = <&gpio2a>;
			interrupts = <24 IRQ_TYPE_LEVEL_LOW>;
		};
	};
};
&gmac1 {
	status = "disabled";

	/* Fixed 1Gbps link to the 5-port switch */
	fixed-link {
		speed = <1000>;
		full-duplex;
	};
};
&ethswitch {
	status = "disabled";
	bus_freq = <2500000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pins_mdio1>,
		<&pins_eth1>, <&pins_eth2>, <&pins_eth3>, <&pins_eth4>;

	phy-reset-gpios = <&gpio1b 25 GPIO_ACTIVE_HIGH>;
	phy-reset-duration = <15>;

	#address-cells = <1>;
	#size-cells = <0>;
	portA: phy_mii4: ethernet-phy@5 {
		device_type = "ethernet-phy";
		phy-mode = "mii";
		reg = <5>;
		/* Set LED0 as active low link status */
		micrel,led-mode = <1>;
		interrupt-parent = <&gpio2a>;
		interrupts = <27 IRQ_TYPE_LEVEL_LOW>;
	};
	portB: phy_mii3: ethernet-phy@4 {
		device_type = "ethernet-phy";
		phy-mode = "mii";
		reg = <4>;
		/* Set LED0 as active low link status */
		micrel,led-mode = <1>;
		interrupt-parent = <&gpio2a>;
		interrupts = <25 IRQ_TYPE_LEVEL_LOW>;
	};
	portC: phy_mii2: ethernet-phy@10 {
		/* Ext Board: Marvell 88E1512 PHY on J24 */
		device_type = "ethernet-phy";
		phy-mode = "rgmii-id";
		reg = <10>;
		/* Set LED0 as active low link status, LED2 as interrupt */
		marvell,reg-init = <3 16 0 0x1010 3 18 0 0x4980>;
		interrupt-parent = <&gpio1a>;
		interrupts = <28 IRQ_TYPE_LEVEL_LOW>;
	};
	portD: phy_mii1: ethernet-phy@1 {
		/* Ext Board: Marvell 88E1512 PHY on J23 */
		device_type = "ethernet-phy";
		phy-mode = "rgmii-id";
		reg = <1>;
		/* Set LED0 as active low link status, LED2 as interrupt */
		marvell,reg-init = <3 16 0 0x1010 3 18 0 0x4980>;
		interrupt-parent = <&gpio2a>;
		interrupts = <4 IRQ_TYPE_LEVEL_LOW>;
	};
};
&eth_miic {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&pins_refclk>;
	/* RIN Mode Control - GMAC1 on all Switch ports */
	mode_control = <0x13>;

	mii0: eth-mii0 {
		phy-handle = <&phy_mii0>;
	};
	mii1: eth-mii1 {
		phy-handle = <&phy_mii1>;
	};
	mii2: eth-mii2 {
		phy-handle = <&phy_mii2>;
	};
	mii3: eth-mii3 {
		phy-handle = <&phy_mii3>;
	};
	mii4: eth-mii4 {
		phy-handle = <&phy_mii4>;
	};
};
&qspi0 {
	status = "okay";
	u-boot,dm-pre-reloc;

	flash: mx25l25635@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "macronix,mx25l25635e", "spi-flash";
		reg = <0>;
		spi-max-frequency = <62500000>;
		spi-cpha;
		spi-cpol;
		spi-rx-bus-width = <4>;
		renesas,rzn1-read-cmd = <0x6b 8 0>;
		renesas,rzn1-readcap-delay = <1>;
		/* The properties below are used by U-Boot */
		tshsl-ns = <30>;
		tsd2d-ns = <3>;
		tchsh-ns = <3>;
		tslch-ns = <3>;
		memory-map = <RZN1_V_QSPI_BASE RZN1_V_QSPI_SIZE>;
		memory-map-write = <1>;
		u-boot,dm-pre-reloc;

		partition@0 {
			/* 64KB */
			label = "qspi0:spl";
			reg = <0x0000000 0x00010000>;
		};
		partition@1 {
			/* 64KB */
			label = "qspi0:pkgt";
			reg = <0x0010000 0x00010000>;
		};
		partition@2 {
			/* 512KB */
			label = "qspi0:u-boot";
			reg = <0x0020000 0x00080000>;
		};
		partition@3 {
			/* 64KB */
			label = "qspi0:env";
			reg = <0x00a0000 0x00010000>;
		};
		partition@4 {
			/* 128KB */
			label = "qspi0:dtb";
			reg = <0x00b0000 0x00020000>;
		};
		partition@5 {
			/* 1MB */
			label = "qspi0:cm3";
			reg = <0x00d0000 0x00100000>;
		};
		partition@6 {
			/* 6MB */
			label = "qspi0:kernel";
			reg = <0x01d0000 0x00600000>;
		};
		partition@7 {
			/* Remaining */
			label = "qspi0:data";
			reg = <0x07d0000 0>;
		};
	};
};
&usbf {
	status = "okay";
};
&usbh_pci {
	/* Ext Board */
	status = "okay";
};
&wdtsafe0 {
	status = "okay";
};
&dma0 {
	status = "okay";
	/* Select spi0, spi1, spi2, spi3, uart3, uart4, uart5, uart6 */
	rzn1_cfg_dmamux = <0x0000ffff>;
	rzn1_cfg_dmamux_mask = <0x0000ffff>;
};
&spi0 {
	status = "okay";
	dmas =  <&dma0 8 0 0>,
		<&dma0 9 0 0>;
	dma-names = "rx", "tx";

	/* Ext Board: Serial (SPI) F-RAM device (FM25V10-G) */
	fram: fm25@0 {
		compatible = "cypress,fm25";
		reg = <0>;
		/* Reduced clock rate due to quickswitch */
		spi-max-frequency = <21000000>;
	};
};
&sdio0 {
	/* Ext Board */
	status = "okay";
};
&rtc0 {
	status = "okay";
};
&can1 {
	/* Ext Board */
	status = "okay";
};
&fb0 {
	status = "okay";

	bits-per-pixel = <32>;
	bus-width = <24>;

	/* Ext Board: NewHaven 5" LCD module NHD-5.0-800480TF-ATXL#-CTP  */
	backlight-pwm-clock = <300>;
	display-timings {
		native-mode = <&timing0>;
		timing0: timing0 {
			clock-frequency = <33400000>;
			hactive = <800>;
			vactive = <480>;
			hback-porch = <88>;
			hfront-porch = <40>;
			vback-porch = <32>;
			vfront-porch = <13>;
			hsync-len = <1>;
			vsync-len = <3>;
			hsync-active = <0>;
			vsync-active = <0>;
			de-active = <1>;
		};
	};
};
