/*
 * Copyright 2017 Toradex AG
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 */

#include <dt-bindings/input/input.h>

/ {
	chosen {
		stdout-path = "serial0:115200n8";
	};

	aliases {
		ethernet0 = &fec1;
		ethernet1 = &fec0;
	};

	panel: panel {
		compatible = "edt,et057090dhu";
		backlight = <&bl>;
		power-supply =  <&reg_3v3>;
	};

	extcon_usbc_det: usbc_det {
		compatible = "linux,extcon-usb-gpio";
		debounce = <25>;
		id-gpio = <&gpio3 6 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_usbc_det>;
	};

	reg_3v3: regulator-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "3.3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	reg_5v0: regulator-5v0 {
		compatible = "regulator-fixed";
		regulator-name = "5V";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};

	reg_usbh_vbus: regulator-usbh-vbus {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_usbh1_reg>;
		regulator-name = "VCC_USB[1-4]";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpio2 19 GPIO_ACTIVE_LOW>; /* USBH_PEN resp. USBH_P_EN */
		vin-supply = <&reg_5v0>;
	};

	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpiokeys>;

		power {
			label = "Wake-Up";
			gpios = <&gpio1 9 GPIO_ACTIVE_HIGH>;
			linux,code = <KEY_WAKEUP>;
			debounce-interval = <10>;
			gpio-key,wakeup;
		};
	};
};

&bl {
	brightness-levels = <0 4 8 16 32 64 128 255>;
	default-brightness-level = <6>;
	power-supply =  <&reg_3v3>;
	status  = "okay";
};

&dcu0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_dcu0_1>;
	fsl,panel = <&panel>;
	status = "okay";
};

&dspi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_aster_dspi1 &pinctrl_aster_spi_gpio>;
	status = "okay";

	spidev0: spidev@0 {
		compatible = "toradex,evalspi";
		reg = <0>;
		spi-max-frequency = <50000000>;
	};
};

&esdhc1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_esdhc1>;
	bus-width = <4>;
	status = "okay";
};

&fec1 {
	phy-mode = "rmii";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec1>;
	status = "okay";
};

&i2c0 {
	status = "okay";

	/* M41T0M6 real time clock on carrier board */
	rtc: m41t0m6@68 {
		compatible = "st,m41t0";
		reg = <0x68>;
	};
};

&pwm0 {
	status = "okay";
};

&pwm1 {
	status = "okay";
};

&reg_module_3v3 {
	vin-supply = <&reg_3v3>;
};

&tcon0 {
	status = "okay";
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&uart2 {
	status = "okay";
};

&usbdev0 {
	extcon = <&extcon_usbc_det>, <&extcon_usbc_det>;
};

&usbh1 {
	vbus-supply = <&reg_usbh_vbus>;
};

&iomuxc {
	vf610-colibri {
		pinctrl_gpiokeys: gpiokeys {
			fsl,pins = <
				VF610_PAD_PTB19__GPIO_41	0x218d
			>;
		};

		pinctrl_aster_dspi1: dspi1grp {
			fsl,pins = <
				VF610_PAD_PTD6__DSPI1_SIN		0x33e1
				VF610_PAD_PTD7__DSPI1_SOUT		0x33e2
				VF610_PAD_PTD8__DSPI1_SCK		0x33e2
			>;
		};

		pinctrl_aster_spi_gpio: spigpios {
			fsl,pins = <
				/* CS0 */
				VF610_PAD_PTD5__GPIO_84			0x22ed
				/* CS1 */
				VF610_PAD_PTB18__GPIO_40		0x22ed
			>;
		};
	};
};
