menuconfig SND_MVF_SOC
	tristate "SoC Audio for Freescale Faraday CPUs"
	depends on ARCH_MVF && IMX_HAVE_PLATFORM_MVF_SAI
	select SND_PCM
	default y
	help
	  Say Y or M if you want to add support for codecs attached to
	  the Faraday SAI interface.


if SND_MVF_SOC

config SND_MVF_AC97
	tristate "Vybrid SAI Software AC97"
	select AC97_BUS
	select SND_AC97_CODEC
	select SND_SOC_AC97_BUS

config SND_MVF_SOC_TWR
	tristate

config SND_SOC_MVF_SGTL5000
	tristate "SoC Audio support for Faraday boards with sgtl5000"
	depends on I2C
	select SND_SOC_SGTL5000
	select SND_MVF_SOC_TWR
	default y
	help
	  Say Y if you want to add support for SoC audio on an Farday board with
	  a sgtl5000 codec.

config SND_SOC_MVF_COLIBRI_VF61
	tristate "SoC AC97 Audio support for Colibri VF61"
	depends on MACH_COLIBRI_VF61
	select SND_MVF_AC97
	select SND_SOC_WM9712
	help
	  Say Y if you want to add support for SoC audio on Toradex
	  Colibri VF61 module.

endif
