/*
 * dts file for Hisilicon HiKey Development Board
 *
 * Copyright (C) 2014, Hisilicon Ltd.
 *
 */

/dts-v1/;

/memreserve/ 0x00000000 0x07400000;
/memreserve/ 0x0740f000 0x1000;

#include "hikey-pinctrl.dtsi"
#include "hi6220.dtsi"

/ {
	model = "HiKey Development Board";
	compatible = "hisilicon,hikey";
	hisi,boardid = <0 0 4 3>;
	#address-cells = <2>;
	#size-cells = <2>;
	interrupt-parent = <&gic>;

	aliases {
		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &uart2;
		mshc0 = &dwmmc_0;
		mshc1 = &dwmmc_1;
		mshc2 = &dwmmc_2;
	};

	chosen {
		linux,initrd-start = <0x0 0x0ae00000>;
		linux,initrd-end = <0x0 0x0b600000>;
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x00000000 0x0 0x40000000>;
	};

	smb {
		uart0: uart@f8015000 {	/* console */
			status = "ok";
		};

		uart1: uart@f7111000 {
			pinctrl-names = "default", "idle";
			pinctrl-0 = <&UART1_CTS_N_pmx_func
			             &UART1_CTS_N_cfg_func
			             &UART1_RTS_N_pmx_func
				     &UART1_RTS_N_cfg_func
				     &UART1_RXD_pmx_func
				     &UART1_RXD_cfg_func
				     &UART1_TXD_pmx_func
				     &UART1_TXD_cfg_func>;
			pinctrl-1 = <&UART1_CTS_N_pmx_idle
			             &UART1_CTS_N_cfg_idle
			             &UART1_RTS_N_pmx_idle
				     &UART1_RTS_N_cfg_idle
				     &UART1_RXD_pmx_idle
				     &UART1_RXD_cfg_idle
				     &UART1_TXD_pmx_idle
				     &UART1_TXD_cfg_idle>;
			status = "ok";
		};

		uart2: uart@f7112000 {
			pinctrl-names = "default", "idle";
			pinctrl-0 = <&UART2_CTS_N_pmx_func
			             &UART2_CTS_N_cfg_func
			             &UART2_RTS_N_pmx_func
				     &UART2_RTS_N_cfg_func
				     &UART2_RXD_pmx_func
				     &UART2_RXD_cfg_func
				     &UART2_TXD_pmx_func
				     &UART2_TXD_cfg_func>;
			pinctrl-1 = <&UART2_CTS_N_pmx_idle
			             &UART2_CTS_N_cfg_idle
			             &UART2_RTS_N_pmx_idle
				     &UART2_RTS_N_cfg_idle
				     &UART2_RXD_pmx_idle
				     &UART2_RXD_cfg_idle
				     &UART2_TXD_pmx_idle
				     &UART2_TXD_cfg_idle>;
			status = "ok";
		};
	};

	dwmmc_1: dwmmc1@f723e000 {
		pinctrl-names = "default", "idle";
		pinctrl-0 = <&SD_CLK_pmx_func
		             &SD_CLK_cfg_func
			     &SD_CMD_pmx_func
			     &SD_CMD_cfg_func
			     &SD_DATA0_pmx_func
			     &SD_DATA0_cfg_func
			     &SD_DATA1_pmx_func
			     &SD_DATA1_cfg_func
			     &SD_DATA2_pmx_func
			     &SD_DATA2_cfg_func
			     &SD_DATA3_pmx_func
			     &SD_DATA3_cfg_func>;
		pinctrl-1 = <&SD_CLK_pmx_idle
		             &SD_CLK_cfg_idle
			     &SD_CMD_pmx_idle
			     &SD_CMD_cfg_idle
			     &SD_DATA0_pmx_idle
			     &SD_DATA0_cfg_idle
			     &SD_DATA1_pmx_idle
			     &SD_DATA1_cfg_idle
			     &SD_DATA2_pmx_idle
			     &SD_DATA2_cfg_idle
			     &SD_DATA3_pmx_idle
			     &SD_DATA3_cfg_idle>;
	};
};
