/*
 * dts file for Hisilicon HiKey Development Board
 *
 * Copyright (C) 2014, Hisilicon Ltd.
 *
 */

/dts-v1/;

/memreserve/ 0x00000000 0x07400000;
/memreserve/ 0x0740f000 0x1000;

#include "hikey-pinctrl.dtsi"
#include "hikey-gpio.dtsi"
#include "hi6220.dtsi"

/ {
	model = "HiKey Development Board";
	compatible = "hisilicon,hikey";
	hisi,boardid = <0 0 4 3>;
	#address-cells = <2>;
	#size-cells = <2>;
	interrupt-parent = <&gic>;

	aliases {
		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &uart2;
		mshc0 = &dwmmc_0;
		mshc1 = &dwmmc_1;
		mshc2 = &dwmmc_2;
	};

	chosen {
		linux,initrd-start = <0x0 0x0ae00000>;
		linux,initrd-end = <0x0 0x0b600000>;
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x00000000 0x0 0x40000000>;
	};

	smb {
		uart0: uart@f8015000 {	/* console */
			status = "ok";
		};

		uart1: uart@f7111000 {
			pinctrl-names = "default", "idle";
			pinctrl-0 = <&UART1_CTS_N_pmx_func
			             &UART1_CTS_N_cfg_func
			             &UART1_RTS_N_pmx_func
				     &UART1_RTS_N_cfg_func
				     &UART1_RXD_pmx_func
				     &UART1_RXD_cfg_func
				     &UART1_TXD_pmx_func
				     &UART1_TXD_cfg_func>;
			pinctrl-1 = <&UART1_CTS_N_pmx_idle
			             &UART1_CTS_N_cfg_idle
			             &UART1_RTS_N_pmx_idle
				     &UART1_RTS_N_cfg_idle
				     &UART1_RXD_pmx_idle
				     &UART1_RXD_cfg_idle
				     &UART1_TXD_pmx_idle
				     &UART1_TXD_cfg_idle>;
			status = "ok";
		};

		uart2: uart@f7112000 {
			pinctrl-names = "default", "idle";
			pinctrl-0 = <&UART2_CTS_N_pmx_func
			             &UART2_CTS_N_cfg_func
			             &UART2_RTS_N_pmx_func
				     &UART2_RTS_N_cfg_func
				     &UART2_RXD_pmx_func
				     &UART2_RXD_cfg_func
				     &UART2_TXD_pmx_func
				     &UART2_TXD_cfg_func>;
			pinctrl-1 = <&UART2_CTS_N_pmx_idle
			             &UART2_CTS_N_cfg_idle
			             &UART2_RTS_N_pmx_idle
				     &UART2_RTS_N_cfg_idle
				     &UART2_RXD_pmx_idle
				     &UART2_RXD_cfg_idle
				     &UART2_TXD_pmx_idle
				     &UART2_TXD_cfg_idle>;
			status = "ok";
		};
	};

	dwmmc_0: dwmmc0@f723d000 {
		bus-width = <0x8>;
		vmmc-supply = <&ldo19>;
		pinctrl-names = "default","idle";
		pinctrl-0 = <&EMMC_CLK_pmx_func
			     &EMMC_CLK_cfg_func
			     &EMMC_CMD_pmx_func
			     &EMMC_CMD_cfg_func
			     &EMMC_DATA0_pmx_func
			     &EMMC_DATA0_cfg_func
			     &EMMC_DATA1_pmx_func
			     &EMMC_DATA1_cfg_func
			     &EMMC_DATA2_pmx_func
			     &EMMC_DATA2_cfg_func
			     &EMMC_DATA3_pmx_func
			     &EMMC_DATA3_cfg_func
			     &EMMC_DATA4_pmx_func
			     &EMMC_DATA4_cfg_func
			     &EMMC_DATA5_pmx_func
			     &EMMC_DATA5_cfg_func
			     &EMMC_DATA6_pmx_func
			     &EMMC_DATA6_cfg_func
			     &EMMC_DATA7_pmx_func
			     &EMMC_DATA7_cfg_func>;
		pinctrl-1 = <&EMMC_CLK_pmx_idle
			     &EMMC_CLK_cfg_idle
			     &EMMC_CMD_pmx_idle
			     &EMMC_CMD_cfg_idle
			     &EMMC_DATA0_pmx_idle
			     &EMMC_DATA0_cfg_idle
			     &EMMC_DATA1_pmx_idle
			     &EMMC_DATA1_cfg_idle
			     &EMMC_DATA2_pmx_idle
			     &EMMC_DATA2_cfg_idle
			     &EMMC_DATA3_pmx_idle
			     &EMMC_DATA3_cfg_idle
			     &EMMC_DATA4_pmx_idle
			     &EMMC_DATA4_cfg_idle
			     &EMMC_DATA5_pmx_idle
			     &EMMC_DATA5_cfg_idle
			     &EMMC_DATA6_pmx_idle
			     &EMMC_DATA6_cfg_idle
			     &EMMC_DATA7_pmx_idle
			     &EMMC_DATA7_cfg_idle>;
	};

	dwmmc_1: dwmmc1@f723e000 {
		bus-width = <0x4>;
		disable-wp;
		cd-gpios = <&gpio1 0 1>;
		pinctrl-names = "default", "idle";
		pinctrl-0 = <&SD_CLK_pmx_func
		             &SD_CLK_cfg_func
			     &SD_CMD_pmx_func
			     &SD_CMD_cfg_func
			     &SD_DATA0_pmx_func
			     &SD_DATA0_cfg_func
			     &SD_DATA1_pmx_func
			     &SD_DATA1_cfg_func
			     &SD_DATA2_pmx_func
			     &SD_DATA2_cfg_func
			     &SD_DATA3_pmx_func
			     &SD_DATA3_cfg_func>;
		pinctrl-1 = <&SD_CLK_pmx_idle
		             &SD_CLK_cfg_idle
			     &SD_CMD_pmx_idle
			     &SD_CMD_cfg_idle
			     &SD_DATA0_pmx_idle
			     &SD_DATA0_cfg_idle
			     &SD_DATA1_pmx_idle
			     &SD_DATA1_cfg_idle
			     &SD_DATA2_pmx_idle
			     &SD_DATA2_cfg_idle
			     &SD_DATA3_pmx_idle
			     &SD_DATA3_cfg_idle>;
	};

	dwmmc_2: dwmmc2@f723f000 {
		bus-width = <0x4>;
		broken-cd;
		non-removable;
		/* WL_EN */
		vmmc-supply = <&wlan_en_reg>;
		pinctrl-names = "default", "idle";
		pinctrl-0 = <&SDIO_CLK_cfg_func
			         &SDIO_CMD_cfg_func
			         &SDIO_DATA0_cfg_func
			         &SDIO_DATA1_cfg_func
			         &SDIO_DATA2_cfg_func
			         &SDIO_DATA3_cfg_func
				 &SDIO_CLK_pmx_func
			         &SDIO_CMD_pmx_func
			         &SDIO_DATA0_pmx_func
			         &SDIO_DATA1_pmx_func
			         &SDIO_DATA2_pmx_func
			         &SDIO_DATA3_pmx_func>;
		pinctrl-1 = <&SDIO_CLK_cfg_idle
			         &SDIO_CMD_cfg_idle
			         &SDIO_DATA0_cfg_idle
			         &SDIO_DATA1_cfg_idle
			         &SDIO_DATA2_cfg_idle
			         &SDIO_DATA3_cfg_idle
				 &SDIO_CLK_pmx_idle
			         &SDIO_CMD_pmx_idle
			         &SDIO_DATA0_pmx_idle
			         &SDIO_DATA1_pmx_idle
			         &SDIO_DATA2_pmx_idle
			         &SDIO_DATA3_pmx_idle>;
	};

	wlcore {
		compatible = "wlcore";
		/*
		 * FIXME: The following is complete CRAP since
		 * the vendor driver doesn't follow the gpio
		 * binding. Passing in a magic Linux gpio number
		 * here until we fix the vendor driver.
		 */

		/* WL_IRQ, WL_HOST_WAKE_GPIO1_3 */
		gpio = <499>;
		/* Use edge irqs for suspend/resume */
		platform-quirks = <1>;
		/* WL12XX_REFCLOCK_38_XTAL */
		board-ref-clock = <4>;
	};

	kim {
		compatible = "kim";
		pinctrl-names = "default";
		pinctrl-0 = <>; /* FIXME: add BT PCM pinctrl here */
		/*
		 * FIXME: The following is complete CRAP since
		 * the vendor driver doesn't follow the gpio
		 * binding. Passing in a magic Linux gpio number
		 * here until we fix the vendor driver.
		 */
		/* BT_EN: BT_REG_ON_GPIO1_7 */
		nshutdown_gpio = <503>;
		dev_name = "/dev/ttyAMA1";
		flow_cntrl = <1>;
		/* baud_rate = <3000000>; */
		baud_rate = <115200>;
	};

	btwilink {
		compatible = "btwilink";
	};

	leds {
		compatible = "gpio-leds";
		user_led1 {
			label = "user_led1";
			gpios = <&gpio4 0 0>; /* <&gpio_user_led_1>; */
			linux,default-trigger = "heartbeat";
		};

		user_led2 {
			label = "user_led2";
			gpios = <&gpio4 1 0>; /* <&gpio_user_led_2>; */
			linux,default-trigger = "mmc0";
		};

		user_led3 {
			label = "user_led3";
			gpios = <&gpio4 2 0>; /* <&gpio_user_led_3>; */
			linux,default-trigger = "mmc1";
		};

		user_led4 {
			label = "user_led4";
			gpios = <&gpio4 3 0>; /* <&gpio_user_led_4>; */
			linux,default-trigger = "cpu0";
		};

		wlan_active_led {
			label = "wifi_active";
			gpios = <&gpio3 5 0>; /* <&gpio_wlan_active_led>; */
			linux,default-trigger = "phy0tx";
			default-state = "off";
		};

		bt_active_led {
			label = "bt_active";
			gpios = <&gpio4 7 0>; /* <&gpio_bt_active_led>; */
			default-state = "off";
		};

	};

	/* power control mechanism for WLAN_EN */
	wlan_en_reg: fixedregulator@1 {
		compatible = "regulator-fixed";
		regulator-name = "wlan-en-regulator";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;

		/* WLAN_EN GPIO for this board - GPIO_0_5 */
		gpio = <&gpio0 5 0>;

		/* WLAN card specific delay */
		startup-delay-us = <70000>;
		enable-active-high;

		/* temp solution */
		regulator-always-on;
	};
};
