# drivers/media/platform/videosource/Kconfig
#
# Copyright (c) 2010-2011 Telechips Co., Ltd.
#	http://www.telechips.com/
# Jay <B150095@telechips.com>
#
# Licensed under GPL

config VIDEO_VIDEOSOURCE
	bool "Video Source"
	default n

if VIDEO_VIDEOSOURCE
source drivers/media/platform/videosource/videodecoder/Kconfig
endif#VIDEO_VIDEOSOURCE

